<title>Boletines</title>
<div class="small-12 column splash-zone">
  <div class="splash-full-image">
    <img id="splash-estrutura" src=/assets/splash-estrutura.jpg>
  </div>
</div>
<div class="medium-12 large-9 column page-content page-copywrite">
    <h4 class="underline-title"> BOLETINES</h4>
    <h5><a href='https://issuu.com/babelpuntodeencuentro/docs/navidad_en_senegal' target='_blank'> 2017 - Navidad en Senegal</a></h5>
    <h5><a href='https://issuu.com/babelpuntodeencuentro/docs/babelnews_octubre17' target='_blank'> 2017 - Octubre</a></h5>
    <h5><a href='https://issuu.com/babelpuntodeencuentro/docs/catal_' target='_blank'> 2017 - Julio</a></h5>
    <h5><a href='https://issuu.com/babelpuntodeencuentro/docs/babelnews_maig17' target='_blank'> 2017 - Maio</a></h5>
    <h5><a href='https://issuu.com/babelpuntodeencuentro/docs/babelnews_marzo_17' target='_blank'> 2017 - Marzo</a></h5>
    <h5><a href='https://issuu.com/babelpuntodeencuentro/docs/boletindiciembrecat' target='_blank'> 2016 - Diciembre</a></h5>
    <h5><a href='https://issuu.com/babelpuntodeencuentro/docs/babelnews_jul16' target='_blank'> 2016 - Julio</a></h5>
</div>
{{> common/side-menu}}
{{> es/common/otros_proyectos}}
