
<h3>CON EL SOPORTE DE:</h3>

<h4>Obra Social la Caixa</h4>
<h6>Fundación</h6>

<div> Oberta la preinscripció a la segona edició del taller  ns el 9 d’ si s’assoleix el número mínim de 15 alumnes matriculats/des. xxx ss SOME TEXT</div>
<hr></hr>




<h4>Obra Social la Caixa</h4>
<h6>Fundación</h6>

<div> Oberta la preinscripció a la segona edició del taller  ns el 9 d’ si s’assoleix el número mínim de 15 alumnes matriculats/des. xxx ss SOME TEXT</div>
<hr></hr>

<h4>Obra Social la Caixa</h4>
<h6>Fundación</h6>

<div> Oberta la preinscripció a la segona edició del taller  ns el 9 d’ si s’assoleix el número mínim de 15 alumnes matriculats/des. xxx ss SOME TEXT</div>
<hr></hr>

<h3>CON LA COLABORACIÓN DE:</h3>

<h4>Obra Social la Caixa</h4>
<h6>Fundación</h6>

<div> Oberta la preinscripció a la segona edició del taller  ns el 9 d’ si s’assoleix el número mínim de 15 alumnes matriculats/des. xxx ss SOME TEXT</div>
<hr></hr>

<h4>Obra Social la Caixa</h4>
<h6>Fundación</h6>

<div> Oberta la preinscripció a la segona edició del taller  ns el 9 d’ si s’assoleix el número mínim de 15 alumnes matriculats/des. xxx ss SOME TEXT</div>
<hr></hr>

<h4>Obra Social la Caixa</h4>
<h6>Fundación</h6>

<div> Oberta la preinscripció a la segona edició del taller  ns el 9 d’ si s’assoleix el número mínim de 15 alumnes matriculats/des. xxx ss SOME TEXT</div>
<hr></hr>

<h4>Obra Social la Caixa</h4>
<h6>Fundación</h6>

<div> Oberta la preinscripció a la segona edició del taller  ns el 9 d’ si s’assoleix el número mínim de 15 alumnes matriculats/des. xxx ss SOME TEXT</div>
<hr></hr>

<h4>Obra Social la Caixa</h4>
<h6>Fundación</h6>

<div> Oberta la preinscripció a la segona edició del taller  ns el 9 d’ si s’assoleix el número mínim de 15 alumnes matriculats/des. xxx ss SOME TEXT</div>
<hr></hr>

<h4>Obra Social la Caixa</h4>
<h6>Fundación</h6>

<div> Oberta la preinscripció a la segona edició del taller  ns el 9 d’ si s’assoleix el número mínim de 15 alumnes matriculats/des. xxx ss SOME TEXT</div>
<hr></hr>

