<title>Cookies</title>
<div class="large-12 column">
  <div class="medium-12 large-12 row splash-zone">
  </div>
  <div class="large-12 row page-content">
    <div class="small-12 medium-9 large-9 column page-copywrite">
      <h4 class="proyectos-title">Cookies</h4>
      <div>
        Estas són las cookies presentes en el website de la Fundación Babel Punto de Encuentro:
      </div>
      <br>
      <div>
        <ul>
          <li>
            <div>
              <strong> __cfduid </strong>: Esta cookie es utilizada por el servicio
              CloudFlare para identificar que el tráfico web es confiable. Esta cookie
              no corresponde a ninguna identificación de usuarios, ni guarda ningún
              tipo de información personal. Para más información visita el website
              de <a href="https://support.cloudflare.com/hc/en-us/articles/200170156-What-does-the-CloudFlare-cfduid-cookie-do-">CloudFlare</a>.
            </div>
          </li>
        </ul>
      </div>
    </div>
    {{> common/side-menu}}


  </div>
  {{> es/common/otros_proyectos}}

</div>
