<title>Cooperación Internacional</title>

<div>
  <div>
    <h2>Proyecto Becas</h2>
    <h3>Definición del proyecto</h3>
    <div>
      Se ofrecen becas a alumnos de la escuela Kalasans del barrio de Sam Sam para su escolarización permanente. Se ofrecen becas a ex alumnos para que puedan acceder a un trabajo digno.
    </div>
    <div>
      <img src=/assets/coop-int-1.jpg>
      <em>En el año 2012 se han becado a 75 alumnos, becas que fomentan la emancipación, el desarrollo y el enriquecimiento del sujeto en el marco de la sociedad senegalesa.</em>
    </div>
    <h3>Objetivos:</h3>
    <ul>
      <li>Conseguir estabilizar progresivamente la cantidad de becas para asegurar los recursos necesarios que permitan la escolarización permanente de los alumnos de la escuela.</li>
      <li>Cubrir los gastos de libros y material escolar y mantenimiento de la escuela.</li>
      <li>Reducir el paro.</li>
    </ul>
  </div>
  <div>
    <h2>Proyecto Centro Femenino</h2>
    <h3>Definición del proyecto</h3>
    <div>
      Se imparten clases a mujeres de entre 15 y 25 años donde aprenden informática, costura y bordado y venden sus trabajos en el mercado.
    </div>
    <div>
      <img src=/assets/coop-int-2.jpg>
      <em>  Durante 2012 se han matriculado 140 mujeres. Este año se ha concluido construcción de una Escuela de Hostelería y la infraestructura necesaria para poder realizar la formación.</em>
    </div>
    <h3>Objetivos:</h3>
    <ul>
      <li>Abrir horizontes a las jóvenes y fomentar el desarrollo y el protagonismo de sus vidas para que mejoren su autoestima.</li>
      <li>Hacerlo en el marco de su propia cultura sin confrontarla con su entorno.</li>
    </ul>
  </div>
  <div>
    <h2>Financiación de Microproyectos</h2>
    <h3>Definición del proyecto</h3>
    <div>Financiar una serie de proyectos para la construcción de:</div>
    <ul>
      <li>Pozos.</li>
      <li>Motobombas.</li>
      <li>Construcción de cisternas para la recogida del agua de la lluvia.</li>
      <li>Desarrollo agrícola.</li>
      <li>Mejora de plantación agrícola.</li>
      <li>La construcción de una cerca de huerto.</li>
    </ul>
    <h3>Objetivos:</h3>
    <ul style="margin-left: 40px;">
      <li>Posibilitar una autonomía económica, la autogestión y la producción cooperativista.
      </li>
      <li>Superar la pobreza en la que se encuentran sin que tengan que renunciar a su país de origen.
      </li>
    </ul>
  </div>
  <hr>  
  <div>
    <h2>Colonias de los niños/as de la Escuela Kalasans.</h2>
    <div>
      Cada año la Fundación quiere acercar por unos días a los niños a una realidad alejada de la presión demográfica y económica del barrio de <strong>Sam Sam</strong> de <strong>Dakar</strong>.
    </div>
    <div>
      Este proyecto pretende fomentar el trabajo en equipo, así como la convivencia y el espíritu comunitario.
    </div>
    <div>
      <img src=/assets/coop-int-3.jpg>
      <em>Durante el año 2012 se han financiado 50 becas de colonias para niños y niñas del barrio de Sam Sam.</em>
    </div>
  </div>
  <div>
    <h2>Casa de Acogida</h2>
    <h3>Orfanato <em>Le Source Du Bonheur</em></h3>
    <div>
      Este proyecto nace con el objetivo de mantener una casa de acogida en la ciudad de Ciguinchor (El Senegal) que pueda acoger a niños/as y jóvenes de la región de Casamance que no tienen familia o cuya familia no puede hacerse cargo de ellos/as.
    </div>
    <div>
      Inicialmente, la casa estaba destinada a acoger a jóvenes mayores de 12 años que, por su edad, ya no pueden permanecer en otros orfanatos porque la ley o el reglamento lo impiden. El poder acogerlos en esta casa haría posible la continuidad de su escolarización en los colegios y permitiría garantizarles así una educación que no podrían recibir si volvieran a sus casas. Por todas estas razones, es totalmente necesario la creación de un nuevo orfanato, para poder dar así la oportunidad a todos los recién nacidos a tener una vida digna, ya que son víctimas de unas circunstancias totalmente ajenas a ellos y por tanto, con el nuevo proyecto, éstos tendrán una oportunidad de vivir y crecer como personas en un entorno bueno y cuidado por quienes les darán unos valores y enseñanzas de vida y una educación para una futura integración en la sociedad.
    </div>
    <div>
      <img src=/assets/coop-int-4.jpg>
      <em>La misión del proyecto consiste en darles a los niños/as y jóvenes una digna educación que les permita crear las condiciones de una vida más digna y más respetuosa.</em>
    </div>
    <h3>Objetivos:</h3>
    <ul>
      <li>Acoger niños y niñas que no tienen familia y niños en situación difícil.</li>
      <li>Construir un orfanato mayor.</li>
    </ul>
  </div>
</div>