<title>Cooperación Internacional</title>
<div>
  <div>
    <h2>Proyecto Becas</h2>
    <h3>Definición del proyecto</h3>
    <div>
      Se ofrecen becas a alumnos de la escuela Kalasans del barrio de Sam Sam para su escolarización permanente a ex alumnos para que puedan acceder a un trabajo digno.
    </div>
    <div>
      <img class='img-responsive' src=/assets/coop-int-1.jpg>
      <em>Actualmente  debido a la crisis económica el número de alumnos becados se ha visto reducido en los últimos años. En 2015 hay 69 alumnos becados y estamos difundiendo nuestro proyecto para conseguir aumentar este número. Las becas fomentan la emancipación, el desarrollo y el enriquecimiento del sujeto en el marco de la sociedad senegalesa.</em>
    </div>
    <h3>Objetivos:</h3>
    <ul>
      <li>Conseguir estabilizar progresivamente la cantidad de becas para asegurar los recursos necesarios que permitan la escolarización permanente de los alumnos de la escuela.</li>
      <li>Cubrir los gastos de libros y material escolar y mantenimiento de la escuela.</li>
      <li>Reducir el paro.</li>
    </ul>
  </div>
  <div>
    <h2>Proyecto Centro Femenino</h2>
    <h3>Definición del proyecto</h3>
    <div>
      Se imparten clases a mujeres de entre 15 y 25 años donde aprenden hosteleria, informática, costura y bordado y venden sus trabajos en el mercado.
    </div>
    <div>
      <img class='img-responsive' src=/assets/coop-int-2.jpg>
      <em> En el 2014 se matricularon 146 mujeres en en centro femenino. Desde la Fundación Babel colaboramos vendiendo su material en todos nuestros actos y eventos. Con los fondos recaudados se pueden mejorar las herramientas y máquinas de trabajo. </em>
    </div>
    <h3>Objetivos:</h3>
    <ul>
      <li>Abrir horizontes a las jóvenes y fomentar el desarrollo y el protagonismo de sus vidas para que mejoren su autoestima.</li>
      <li>Hacerlo en el marco de su propia cultura sin confrontarla con su entorno.</li>
    </ul>
  </div>
  <div>
    <h2>Financiación de Microproyectos</h2>
    <h3>Definición del proyecto</h3>
    <div>Financiar una serie de proyectos para la construcción de:</div>
    <ul>
      <li>Pozos.</li>
      <li>Motobombas.</li>
      <li>Construcción de cisternas para la recogida del agua de la lluvia.</li>
      <li>Desarrollo agrícola.</li>
      <li>Mejora de plantación agrícola.</li>
      <li>La construcción de una cerca de huerto.</li>
    </ul>
    <h3>Objetivos:</h3>
    <ul style="margin-left: 40px;">
      <li>Posibilitar una autonomía económica, la autogestión y la producción cooperativista.
      </li>
      <li>Superar la pobreza en la que se encuentran sin que tengan que renunciar a su país de origen.
      </li>
    </ul>
  </div>
  <hr>  
  <div>
    <h2>Colonias de los niños/as de la Escuela Kalasans.</h2>
    <div>
      Cada año la Fundación quiere acercar por unos días a los niños a una realidad alejada de la presión demográfica y económica del barrio de <strong>Sam Sam</strong> de <strong>Dakar</strong>.
    </div>
    <div>
      Este proyecto pretende fomentar el trabajo en equipo, así como la convivencia y el espíritu comunitario.
    </div>
    <div>
      <img class='img-responsive' src=/assets/coop-int-3.jpg>
      <em>Durante el año 2014 se financiaron parte de los gastos para las colonias de los niños y niñas del barrio de Sam Sam Dakar.</em>
    </div>
  </div>
  <div>
    <h2>Casa de Acogida</h2>
    <h3>Orfanato <em>Le Source Du Bonheur</em></h3>
    <div>
      Este proyecto nace con el objetivo de mantener una casa de acogida en la ciudad de Ziguinchor (Sur del Senegal) que pueda acoger a niños/as y jóvenes de la región de Casamance que no tienen familia o cuya familia no puede hacerse cargo de ellos.
    </div>
    <div>
      La misión del proyecto es acoger a  los niños y niñas que no tienen familia y que necesitan un lugar para vivir y formarse en todos los niveles, intelectualmente y como personas, dando a los niños, las niñas y los / las jóvenes un techo por una educación digna que les permita tener unas condiciones de vida en plenitud.
    </div>
    <div>
      En la casa de acogida encontrarán la calidez de una familia y crecerán en un entorno bueno y cuidado por quienes les darán unos valores y enseñanzas de vida y una educación para una futura integración en la sociedad.
    </div>
    <div>
      Este año 2014 se incorporaron dos niños de 2 y 5 años, al grupo de 13 niños y niñas que forman parte de la familia de <em>Le source du Bonheur</em>. Este mismo año  para dar sostenibilidad al proyecto, los propios actores locales han conseguido empezar a edificar una nueva casa que aumentará la capacidad y permitirá que los niños y niñas puedan estar más cómodos. También en esta nueva ubicación tener animales y huerto para autoabastecerse y transmitir a los niños/as los conocimientos tradicionales en relación a la tierra tan arraigados a la sociedad Casamancesa.
    </div>
    <div>
      <img class='img-responsive' src=/assets/coop-int-4.jpg>
      <em>La misión del proyecto consiste en darles a los niños/as y jóvenes una digna educación que les permita crear las condiciones de una vida más digna y más respetuosa.</em>
    </div>
    <h3>Objetivos:</h3>
    <ul>
      <li>Acoger y dar techo a niños y niñas que no tienen familia y necesitan un lugar para vivir y formarse en todos los niveles.</li>
      <li>Construir un orfanato con mayor capacidad.</li>
      <li>Bienestar: Desarrollo del afecto, del nivel de vida intelectual y de la psicología individual.</li>
      <li>Desarrollar sentidos de la vida en comunidad, familiar, etc.</li>
    </ul>
  </div>
</div>