<title>Dona</title>
<div class="small-12 column splash-zone">
  <div class="splash-full-image">
    <img id="splash-estrutura" src=/assets/splash-estrutura.jpg>
  </div>
</div>
<div class="small-12 medium-9 large-9 column page-content">
  <h1 class="underline-title"> ¿QUIERES AYUDARNOS? </h1>
  <br>
  <div> En este momento estamos construyendo un nuevo hogar para los niños/as de la Source du Bonheur, en Ziguinchor, Senegal. El orfanato actualmente está pendiente de la instalación de la conducción del agua.</div>
  <br>
  <div> Estamos ilusionados esperando nuevas financiaciones para poder hacerlo y ya casi darlo por acabado.</div>
  <br>
  <p class="bold-paragraph">Dona a através de Paypal</p>
  <div>
          <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input name="cmd" type="hidden" value="_s-xclick">
            <input name="hosted_button_id" type="hidden" value="9Y3RG3CA2JK6C">
            <input alt="PayPal. La forma rápida y segura de pagar en Internet." border="0" name="submit" src="https://www.paypalobjects.com/es_ES/ES/i/btn/btn_donateCC_LG.gif" type="image">
            <img alt="" border="0" height="1" src="https://www.paypalobjects.com/es_ES/i/scr/pixel.gif" width="1">
          </form>
  </div>
  <br>
  <p class="bold-paragraph">O a través de nuestra cuenta</p>
  <p class="bold-paragraph">
    La Caixa: ES74 2100 0632 91 0200216000
  </p>
</div>
{{> common/side-menu}}
{{> es/common/otros_proyectos}}
