<title>Estructura</title>
<div class="large-12 columns splash-zone">
  <div class="splash-full-image">
    <img id="splash-estrutura" src=/assets/splash-estrutura.jpg>
  </div>
</div>
<div class="large-10 columns">
  <div>
    <h4 class="underline-title">ESTRUCTURA</h4>
    <div>Actualmente la Fundación cuenta con 2 trabajadoras, 25 voluntarios, 10 miembros de patronato y 140 socios.</div>
  </div>
  <br>
  <div>
    <h5 class="underline-title"> PATRONATO </h5>
    <br>
    <div class="patronato">
      <div class="element">
        <div class='img-div'><img id="andreu" src=/assets/patronato-andreu.jpg></div>
        <div class="description">
          <h5>ANDREU CLAPÉS I FLAQUÉ, <i>Presidente</i></h5>
          <div>Licenciado en Historia y máster en dirección de empresa por la universidad de Deusto y por EADA. Director de escuelas durante 28 años. Durante los JJOO de Barcelona fue el director de la oficina de atención al voluntariado.</div>
        </div>
      </div>
      <hr/>
      <div class="patronato">
        <div class="element">
          <div class='img-div'><img id="ferran-sans" src=/assets/patronato-ferran-sans.jpg></div>
          <div class="description">
            <h5>FERRAN SANS, <i>Vicepresidente</i></h5>
            <div>Estuvo 20 años como maestro en una escuela pública de Arenas en Terrassa. Desde el año 1990 está en Senegal y ha creado un proyecto de alfabetización de diferentes barrios de la capital y una escuela alternativa de primaria en un barrio de las afueras de Pikine, ciudad satélite de Dakar. Además es el alma de la escuela Kalassans del barrio de Sam Sam en el extrarradio de Dakar. Es nuestra contraparte en Senegal.</div>
          </div>
        </div>
      </div>
      <hr/>
      <div class="patronato">
        <div class="element">
          <div class='img-div'><img id="felix-castillo" src=/assets/patronato-felix-castillo.jpg></div>
          <div class="description">
            <h5>FELIX CASTILLO, <i>Vocal</i></h5>
            <div>Psicólogo, Psicoterapeuta Familiar, Coach Personal y Consultor Organizacional. Es el jefe de Estudios del Master de Terapia de la Universidad Autónoma de Barcelona en el Hospital de Sant Pau.</div>
            <div>Creador de los Proyectos Puente, Artifex (ayuda psicológica en los procesos de integración de los inmigrantes), proyectos que ha puesto en marcha junto con la Fundación.</div>
            <div>Miembro de la Fundación desde sus inicios.</div>
          </div>
        </div>
      </div>      
      <hr/>
      <div class="patronato">
        <div class="element">
          <div class='img-div'><img id="mireia" src=/assets/patronato-mireia-galobart-recta.jpg></div>
          <div class="description">
            <h5>MIREIA GALOBART, <i>Vocal</i></h5>
            <div>Licenciada en química, es religiosa y titular de la Escuela Infant Jesús de Barcelona. Actualmente participa en actividades de voluntariado y catequesis. Es conciliaria de la ACO.</div>
            <div>Colabora en las actividades que organiza la Fundación especialmente en el campo de la cooperación internacional en Senegal.</div>
          </div>
        </div>
      </div>
      <hr/>
      <div class="patronato">
        <div class="element">
          <div class='img-div'><img id="carlos" src=/assets/patronato-carlos-miranda.jpg></div>
          <div class="description">
            <h5>CARLOS MIRANDA, <i>Vocal</i></h5>
            <div>Economista y dedicado a la solidaridad a la que considera uno de los valores humanos por excelencia.</div>
          </div>
        </div>
      </div>      
      <hr/>
      <div class="patronato">
        <div class="element">
          <div class='img-div'><img id="josep" src=/assets/patronato-josep-maria-riera.jpg></div>
          <div class="description">
            <h5>JOSEP M&ordf; RIERA, <i>Vocal</i></h5>
            <div>Licenciado en Historia Moderna y Contemporánea, es impresor y editor de oficio. También es autor de 10 libros, principalmente novelas.Siempre implicado, ha participado en movimientos asociativos. Cooperativista.</div>
          </div>
        </div>
      </div>
      <hr/>
      <div class="patronato">
        <div class="element">
          <div class='img-div'><img id="borja-sans" src=/assets/patronato-borja-sans.jpg></div>
          <div class="description">
            <h5>BORJA SANS, <i>Vocal</i></h5>
            <div>Sociólogo, actualmente trabaja en Sinergia Value, empresa especializada en la comunicación social, una de sus pasiones. Ha colaborado con la Fundación Jaume Bofill en el plano de Desigualdades Sociales.</div>
            <div>Miembro de la Fundación desde sus inicios.</div>
          </div>
        </div>
      </div>
      <hr/>
      <div class="patronato">
        <div class="element">
          <div class='img-div'><img id="ignacio-sans" src=/assets/patronato-ignasi.jpg></div>
          
          <div class="description">
            <h5>IGNACIO SANS, <i>Vocal</i></h5>
            <div>Estudiante de educación social, ha trabajado en CRAE (centro residencial de acción educativa) como educador social. Ha sido monitor de escuelas y actividades extraescolares y coordina campañas interactivas de trasfondo social.</div>
            <div>Colabora activamente en todos los eventos que se organizan además de dar charlas sobre esta en colegios.</div>
          </div>
        </div>
      </div>
      <hr/>
      <div class="patronato">
        <div class="element">
          <div class='img-div'><img id="fernando-paniagua" src=/assets/patronato-fernando-paniagua.jpg></div>
          <div class="description">
            <h5>FERNANDO PANIAGUA, <i>Vocal</i></h5>
            <div>Licenciado en Historia, Máster en historia contemporánea y MBA en gestión de empresas cooperativas. Ha trabajado en diferentes cooperativas en la actualidad trabaja para el Barcelona Laboratorio: livingLab de innovación cultural impulsado por el ayuntamiento de Barcelona y es uno de los coordinadores del BccN: Festival de Cine en Creative Commons de Barcelona. </div>
          </div>
        </div>
      </div>
      <hr/>
      <div class="patronato">
        <div class="element">
          <div class='img-div'><img id="juan-ignasio-sans" src=/assets/patronato-j-ignasi.jpg></div>
          
          <div class="description">
            <h5>JUAN IGNACIO SANS, <i>Secretario</i></h5>
            <div>Diplomado en Turismo y MPB ESADE en gestión pública. Profesional de la comunicación pública y social.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- side banner  -->
<div class='large-2 columns'>
  {{> common/side_banners}}
</div>