<title>Nuestra Filosofía</title>


<div class="large-12 columns article-top-image">
  something
</div>
<divclass="large-12 columns">
  <h2>NUESTRA FILOSOFÍA</h2>
  <h4>SEREMOS MAÑANA LO QUE AHORA GESTIONEMOS</h4>
  
  <div>
    Somos una fundación independiente y sin ánimo de lucro de carácter solidario, social y cultural que concibe las ayudas como una forma de apoyo al autodesarrollo. Nuestro  n, que todo el mundo alcance una autonomía que le permita vivir en la sociedad de manera digna.
  </div>
  <div>
    Coincidimos en una concepción multidimensional del desarrollo, de la cual podemos expresar seis grandes dimensiones:
    <ul>
      <li> Los <strong>valores</strong>, como base de todas nuestras actuaciones.</li>
      <li>La <strong>economía social</strong>, el crecimiento entendido como motor del progreso.</li>
      <li>La <strong>justicia social</strong>, pilar de la vida social.</li>
      <li>La <strong>participación inclusiva</strong>, entendida como base del buen gobierno.</li>
      <li>El <strong>medio ambiente</strong> y la protección de la ecología sostenible.</li>
      <li>La <strong>paz</strong>, base fundamental y prerrequisito del desarrollo.</li>
    </ul>
  </div>
  
  <h3>Trabajamos con transparencia, austeridad y sin protagonismos.
  </h3>
    
</div>
  
  