<title>Nuestra Filosofía</title>


<div class="large-12 columns article-top-image">
  something
</div>
<div class="large-10 columns">
  <h2>NUESTRA MISIÓN:</h2>
  <div>
    <ul>
      <li><strong>Misión:</strong> Potenciar el desarrollo de la persona, orientándola hacia el compromiso personal a través de proyectos en educación y formación técnica.</li>
      <li><strong>Visión:</strong> Queremos que la convivencia sea un factor clave de futuro, de progreso y de estabilidad social, orientada a contribuir en un contexto internacional estable, pacífico y seguro para todos.</li>
      <li><strong>Valores:</strong> Trabajamos con transparencia, austeridad y sin protagonismos, promoviendo los siguientes valores: Tolerancia, Coherencia, Solidaridad y Respeto por la diferencia.</li>
    </ul>
  </div>
    
</div>
<div class="large-2 columns"></div>

  
  