<title>Nuestra Filosofía</title>
<div class="small-12 column splash-zone">
  <div class="splash-full-image">
    <img id="splash-estrutura" src=/assets/splash-estrutura.jpg>
  </div>
</div>
<div class="medium-12 large-9 column">
  <h4 class="underline-title">NUESTRA MISIÓN:</h4>
  <div class="page-content page-copywrite">
    <ul>
      <li><strong>Misión:</strong> Potenciar el desarrollo de la persona, orientándola hacia el compromiso personal a través de proyectos en educación y formación técnica.</li>
      <li><strong>Visión:</strong> Queremos que la convivencia sea un factor clave de futuro, de progreso y de estabilidad social, orientada a contribuir en un contexto internacional estable, pacífico y seguro para todos.</li>
      <li><strong>Valores:</strong> Trabajamos con transparencia, austeridad y sin protagonismos, promoviendo los siguientes valores: Tolerancia, Coherencia, Solidaridad y Respeto por la diferencia.</li>
    </ul>
  </div>
</div>
{{> common/side-menu}}
{{> es/common/otros_proyectos}}
