<title>La Fundación</title>
<div>
  <ul>
    <li>Somos una fundación independiente y sin ánimo de lucro de carácter solidarios, social y cultural.</li>
    <li>A través de los proyectos en la educación potenciamos el desarrollo de la persona orientándola hacia la formación y la autogestión.</li>
    <li>Trabajamos con los inmigrantes para facilitar su integración sin olvidar el país de origen y su propia cultura.</li>
    <li>Trabajamos con transparencia, austeridad y sin protagonismos.</li>
    <li>Queremos que la convivencia sea factor clave: de futuro, de progreso y de estabilidad social. Nuestra labor está orientada a contribuir a un contexto internacional estable, pacífico y seguro para todos.</li>
  </ul>
  <h3><em>Seremos mañana lo que ahora gestionemos</em></h3>
  <div>
    <img src=/assets/fundacion-1.jpg>
    <em>Actualmente la Fundación  Babel Punto de Encuentro cuenta con 2 trabajadoras, 15 voluntarios, 10 miembros de patronato y 140 socios, que día a día aúnan esfuerzos para contribuir al desarrollo personal y social de inmigrantes y residentes.</em>
  </div>
</div>