<title>La Fundación</title>
<h3>"Seremos mañana lo que ahora gestionemos"</h3>
<div>
  <div>Somos una fundación independiente y sin ánimo de lucro de carácter solidario, social y cultural, fundada en 2004 por Mª Teresa Gazeau Garcia. 
Queremos que la convivencia sea factor clave: de futuro, de progreso y de estabilidad social. Nuestra labor está orientada a contribuir a un contexto internacional estable, pacífico y seguro para todos.</div>
  <div>Fundación Registrada en el Registro de Fundaciones de la Generalitat de Catalunya con el número 1979.</div>
  <br>
  <div>Cuáles son nuestros objetivos:</div>
  <ul>
    <li>Impulsar la formación y autogestión de las personas, a través de becas y proyectos concretos para mejorar sus infraestructuras locales.</li>
    <li>Incidir en la transformación de la sociedad, formando una red de compromisos individuales compartiendo los mismos valores.</li>
  
    <li>Ofrecer una formación cultural más amplia, dando conocimientos y respetando los orígenes e identidades de cada persona.</li>
    <li>Potenciar la acogida de los inmigrantes de forma prioritaria en el campo de la formación, la cultura y la integración.</li>
  </ul>
  <br>
  <div><strong>Misión</strong>: Potenciar el desarrollo de la persona, orientándola hacia el compromiso personal a través de proyectos en educación y formación técnica.</div>
  <div><strong>Visión</strong>: Queremos que la convivencia sea un factor clave de futuro, de progreso y de estabilidad social, orientada a contribuir en un contexto internacional estable, pacífico y seguro para todos.</div>
  <div><strong>Valores</strong>: Trabajamos con transparencia, austeridad y sin protagonismos, promoviendo los siguientes valores: Tolerancia, Coherencia, Solidaridad y Respeto por la diferencia.</div>
  <br>
  <div>
    <img class='img-responsive' src=/assets/fundacion-1.jpg>
  </div>
  <div>
    <br>
    Actualmente la Fundación cuenta con 2 trabajadoras, 25 voluntarios, 10 miembros de patronato y 140 socios.</br></br>
    Día a día aúnan esfuerzos para contribuir al desarrollo personal y social de inmigrantes y residentes.
  </div>
</div>