<title>La Fundación</title>
<h3><em>Seremos mañana lo que ahora gestionemos</em></h3>
<div>
  <ul>
    <li>Una fundación independiente y sin ánimo de lucro de carácter solidario, social y cultural.</li>
    <li>Queremos que la convivencia sea factor clave: de futuro, de progreso y de estabilidad social. Nuestra labor está orientada a contribuir a un contexto internacional estable, pacífico y seguro para todos.</li>
    
    <li>A través de los proyectos en la educación potenciamos el desarrollo de la persona orientándola hacia la formación y la autogestión.</li>
    <li>Trabajamos con los inmigrantes para facilitar su integración sin olvidar el país de origen y su propia cultura.</li>
    <li>Trabajamos con transparencia, austeridad y sin protagonismos.</li>
  </ul>
  <div>
    <img class='img-responsive' src=/assets/fundacion-1.jpg>
  </div>
  <div>
    <br>
    Actualmente la Fundación cuenta con 2 trabajadoras, 25 voluntarios, 10 miembros de patronato y 140 socios.</br></br>
    Día a día aúnan esfuerzos para contribuir al desarrollo personal y social de inmigrantes y residentes.
  </div>
</div>