<title>Fundación Babel Punto de Encuentro</title>
<h3>A través de nuestros proyectos creamos herramientas para que las personas tomen las riendas de sus destinos y puedan alcanzar una vida digna.</h3>
<h1>noticias</h1>
{{#if tumblr_on}}
  1<!-- {{> common/tumblr/list}} -->
{{else}}
2<!-- {{> es/fundacion_babel_pde}} -->
{{/if}}
