<ul>
  <li><a href="/content/es/index"> Main </a></li>
  <li><a href="/content/es/contacto"> Contacto </a></li>
  <li><a href="/content/es/cooperacion_internacional">cooperacion_internacional</a></li>
  <li><a href="/content/es/fundacion_babel_pde">fundacion_babel_pde</a></li>
  <li><a href="/content/es/memoria_actividades">memoria_actividades</a></li>
  <li><a href="/content/es/miembros_patronato">miembros_patronato</a></li>
  <li><a href="/content/es/migracion_accion_social">migracion_accion_social</a></li>
  <li><a href="/content/es/proyectos">proyectos</a></li>
  <li><a href="/content/es/que_hacemos">que_hacemos</a></li>
  <li><a href="/content/es/que_puedes_hacer_tu">que_puedes_hacer_tu</a></li>
  <li><a href="/content/es/quienes_somos">quienes_somos</a></li>
  <li><a href="/content/es/voluntarios">voluntarios</a></li>
</ul>