  <li><a href="/es/"> Inicio </a></li>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">Quiénes somos<span class="caret"></span></a>
    <ul class="dropdown-menu inverse-dropdown" role="menu">
      <li><a href="/es/quienes_somos">¿Quiénes somos?</a></li>
      <li><a href="/es/filosofia">Filosofia</a></li>
      <li><a href="/es/transparencia">Transparencia</a></li>
      <li><a href="/es/estructura">Estructura</a></li>
      <li><a href="/es/colaboradores">Colaboradores</a></li>
    </ul>
  </li>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Que hacemos<span class="caret"></span></a>
    <ul class="dropdown-menu inverse-dropdown" role="menu">
      <li><a href="/es/proyectos">Proyectos</a></li>
      <li><a href="/es/zona_roja">Zona Roja</a></li>
    </ul>
  </li>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Blog<span class="caret"></span></a>
    <ul class="dropdown-menu inverse-dropdown" role="menu">
      <li><a href="/es/noticias">Noticias</a></li>
      <li><a href="/es/eventos">Noticias</a></li>
      <li><a href="/es/blog">La Source du Bonheur</a></li>
    </ul>
  </li>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Que puedes hacer tu<span class="caret"></span></a>
    <ul class="dropdown-menu inverse-dropdown" role="menu">
      <li><a href="/es/particulares">Particulares</a></li>
      <li><a href="/es/empresa">Empresas</a></li>
      <li><a href="/es/voluntariado">Voluntariado</a></li>
    </ul>
  </li>