  <li><a href="/content/es/index"> Inicio </a></li>
  <li><a href="/content/es/noticias">Noticias</a></li>
  
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> Quienes somos<span class="caret"></span></a>
    <ul class="dropdown-menu inverse-dropdown" role="menu">      
      <li class="divider"></li>
      <li><a href="/content/es/fundacion_babel_pde">La Fundación  </a></li>
      <li><a href="/content/es/miembros_patronato">Miembros del Patronato</a></li>
      <li><a href="/content/es/voluntarios">Voluntarios</a></li>
    </ul>
  </li>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Proyectos <span class="caret"></span></a>
    <ul class="dropdown-menu inverse-dropdown" role="menu">  
      <li><a href="/content/es/proyectos">Nuestra Filosofia</a></li>
      <li><a href="/content/es/que_hacemos">Que hacemos</a></li>
      <li class="divider"></li>
      <li><a href="/content/es/migracion_accion_social">Migración y Acción Social</a></li>  
      <li><a href="/content/es/cooperacion_internacional">Cooperación Internacional</a></li>
      <li class="divider"></li>
      <li><a href="/content/es/memoria_actividades">Memoria de Actividades</a></li>
    </ul>
  </li>
  <li><a href="/content/es/que_puedes_hacer_tu">¿Que puedes hacer tu?</a></li>
  <li><a href="/content/es/contacto"> Contacto </a></li>
  