  <ul class="dropdown menu align-right" data-dropdown-menu>
    <li class="menu menu-index ">
      <a>QUIÉNES SOMOS</a>
      <ul class="menu sub-menu medium-horizontal">
      <li><a href="/es/quienes_somos">QUIÉNES SOMOS</a></li>
      <li><a href="/es/filosofia">FILOSOFIA</a></li>
      <li><a href="/es/transparencia">TRANSPARENCIA</a></li>
      <li><a href="/es/estructura">ESTRUCTURA</a></li>
      <!-- <li><a href="/es/colaboradores">Colaboradores</a></li> -->
      </ul>
    </li>
  </ul>
  <ul class="dropdown menu align-right" data-dropdown-menu>
    <li class="menu menu-index ">
      <a>QUE HACEMOS</a>
      
      <ul class="menu sub-menu medium-horizontal ">
      <li><a href="/es/proyectos">PROYECTOS</a></li>
      <li><a href="/es/noticias">NOTICIAS</a></li>
      <li><a href="https://babelpuntodeencuentro.wordpress.com/" target="_blank">BLOG</a></li>
      <!-- <li><a href="/es/zona_roja">ZONA ROJA</a></li> -->
      </ul>
    </li>
  </ul>
  <!-- <li><a href="/es/noticias">Noticias</a></li> -->
  <ul class="dropdown menu align-right" data-dropdown-menu>
    <li class="menu menu-index">
      <a>QUE PUEDES HACER TU</a>
      <ul class="menu sub-menu medium-horizontal">
      <li><a href="/es/dona">PARTICULARES</a></li>
      <li><a href="/es/dona">EMPRESAS</a></li>
      <li><a href="/es/voluntariado">VOLUNTARIADO</a></li>
      </ul>
    </li>
  </ul>