<title>Migración y Acción Social</title>
<div>
  <h2>El nuevo Proyecto ARTÍFEX</h2>
  <h3>Proyecto de Coaching Social Sistémico</h3>
  <div>
    <div>
      El origen de la idea del Proyecto Artífex surge de la voluntad de aportar las estrategias y orientaciones del coaching social a la sociedad para que puedan ser incorporadas en los procesos de desarrollo personal, social y laboral, y más especialmente en los de las personas con riesgo de exclusión social y en los procesos de los agentes que trabajan en los servicios sociales, educativos, de atención al usuario y al desempleado, etc.
    </div>
    <div>
      Nos dirigimos a personas que están viviendo una situación de desorientación o insatisfacción, que les produce malestar y sufrimiento, y que tienen voluntad de salir adelante pero no tienen los recursos o no conocen las herramientas para hacerlo.
    </div>
    <div>
      Realizamos con ellas un proceso de coaching que las lleve a descubrir sus recursos, definir sus prioridades vitales, disolver patrones no útiles y reconectarse con ellas mismas.
    </div>            
    <div>
      <strong>Esta nueva mirada de la realidad abre un camino posible que les llevará a rehacer su vida.</strong>
    </div>
    <div>
      El proyecto cuenta con el trabajo en Red de un equipo de coaches especialistas en Coaching Sistémico y entidades derivantes como pueden ser los Servicios Sociales, de Ocupación y / o entidades en contacto con las personas beneficiarias de la acción.
    </div>
    <div>
      Por último, también queremos destacar que el equipo de coaches del proyecto se crea en colaboración con el Grupo de Coaching Sistémico del Master de Coaching Sistémico de la UAB. Las personas que formen parte del equipo dedican una parte de su labor en el proyecto de manera VOLUNTARIA.
    </div>
    <div>
      <p><u>Para más información y pedir cita, podéis contactar con nosotros a:</u></p>
      <p><strong>Teléfonos</strong>: 629 57 74 30 o 93 295 57 93</p>
      <p><strong>Correo:</strong> <a href="mailto:info@babelpuntodeencuentro.org">info@babelpuntodeencuentro.org</a></p>
      <p><a href="http://www.facebook.com/babelpde">www.facebook.com/babelpde</a></p>
      <h2>PROCESO INDIVIDUAL DE COACHING SOCIAL</h2>
      <div><img class='img-responsive' src=/assets/migracion-acc-soc-1.jpg></div>
    </div>
  </div>
  <h2>TALLERES DE FORMACIÓN EN TÉCNICAS DE COACHING (PENDIENTE DE INICIO)</h2>
  <div>
    <div>
      <img class='img-responsive' src=/assets/migracion-acc-soc-2.jpg>
    </div>
    <h2>Proyecto Puentes</h2>       
    <h3>Espacio para la integración del inmigrante y su familia.</h3>            
    <div>
      El proyecto quiere tener un impacto directo en la calidad de vida de las personas recién llegadas a nuestra sociedad, que se encuentran en una situación de vulnerabilidad o riesgo de exclusión social, utilizando la interculturalidad como base del proyecto.
    </div>
    <div>
      El origen de la idea del Proyecto Puentes surge con el crecimiento de la inmigración de los últimos tiempos. Para el recién llegado, migrar, puede convertirse en una ocasión de crecimiento si tiene la oportunidad de poner en marcha los recursos psicológicos y sociales para afrontarla.
    </div>
  </div>
  <div>    
    <h3>Definición del Proyecto:</h3>
    <div>
      Se centra en la dimensión psicológica de la migración que abarca las relaciones familiares, interpersonales y las relaciones con la sociedad de acogida.
    </div>
    <h3>Objetivos:</h3>
      <ul>
        <li>Establecer puentes de comunicación, comprensión y colaboración.</li>
        <li>Ofrecer un espacio de acompañamiento, soporte e intercambio a los individuos y familias que se encuentren en un proceso migratorio.</li>
        <li>Incrementar las habilidades de las personas y las familias para que puedan manejar los cambios y efectos de la migración.</li>
      </ul>
  </div>
  <!-- <h2>Ciclos Interversia</h2>
  <div>
    <div>
      Los Ciclos Interversia de la Fundación Babel Punto de Encuentro están pensados para mejorar la comprensión del entorno y de uno mismo en el ámbito de los procesos migratorios a través del conocimiento de calidad.
    </div>          
    <div>
      Interversia son unos ciclos de charlas gratuitas destinadas a personas interesadas y relacionadas con la inmigración cuyo principal objetivo es mejorar el conocimiento tanto del entorno como de uno mismo, y aprender a utilizarlo como nexo de interacción.
    </div>
    <div>
      Reconocer la percepción que tenemos de la sociedad en la que vivimos, aprender a cambiar la imagen que la sociedad tiene de nosotros mismos; cómo vivir en la ciudad, creando tu propia identidad, aprendiendo a participar de lo que la ciudad te ofrece y cómo interaccionar con ella; o cómo enfrentarse al mundo laboral, con sus discriminaciones y sus oportunidades, son algunos de los temas que se tratan en las charlas de Interversia.
    </div>
    <div>
      Las charlas, a las que nos gusta llamar “Diálogos formativos”, corren a cargo de grandes especialistas en sus ámbitos profesionales y de estudio. Pretendemos crear círculos informales de interacción en los que la horizontalidad sea la base de la comunicación intercultural, entendida como intercambio de conocimientos.
    </div>                  
    <div>
      Al finalizar el ciclo, los asistentes reciben un diploma acreditativo de su participación por parte de la Fundación Babel Punto de Encuentro.
    </div>      
    <div>
      <img class='img-responsive' src=/assets/migracion-acc-soc-3.jpg>
      <em>A través de los proyectos PUENTES, ARTÍFEX e INTERVERSIA la Fundación trabaja temas relacionados con el ámbito de la inmigración y de la educación para el desarrollo en Barcelona.</em>
    </div>
  </div>
    -->
</div>