<title>Noticias</title>
<div class="large-12 column">
  <div class="large-12 row page-content">
    <div class="large-3 medium-12 column news-title">
      <h4 class="underline-title">Noticias</h4>
    </div>
    <div class="small-12 medium-12 large-6 column page-copywrite">
      {{> common/tumblr/list}}
    </div>
    {{> common/side-menu}}
  </div>
</div>
