<title>Proyectos</title>
<div class="large-12 columns splash-zone">
  <h3>En <strong>Senegal</strong>, damos soporte al desarrollo mediante la ayuda a proyectos concretos. En <strong>Catalunya</strong>, promovemos acciones para la sensibilización, ayudando a construir una conciencia social crítica e integradora. El objetivo es permitir que las personas puedan tomar las riendas de sus vidas</h3>
  <!-- <div>
    <button type="button" class="">DONA</button>
    <button type="button" class="">HAZTE SOCIO</button>
    <button type="button" class="">OTRAS FORMAS DE ACTUAR</button>
  </div>   -->
</div>
<div class="large-12 columns">
  <h4 class="underline-title">PROYECTOS ACTIVOS</h4>
  
  <div class="project-list">
    
    <div class="large-3 columns">
      <div class="project-item">
        <img src=/assets/proyectos-escolarizacion.jpg>
        <a href="/es/proyectos_becas_escolarizacion">
          <h6>BECAS DE ESCOLARIZACIÓN</h6>
        </a>
          <h9>Becas de escolarización para la Escuela Kalassans de Sam Sam en Dakar</h9>  
        <div class="description">Cooperación Internacional | Educación</div>
        <div class="location">Dakar, Senegal</div>
        <div class="project-item-buttons">
          <a class="button warning" href="#">Warning</a>
          <a class="button warning" href="#">Warning 2</a>
        </div>
      
      </div>
      
    </div>
    
    <div class="large-3 columns">
      <div class="project-item">
        <img src=/assets/proyectos-colonias-verano.jpg>
        <a href="/es/proyectos_colonias_de_verano">
        
        <h6>COLONIAS VERANO</h6>
        </a>
        <div class="description">Cooperación Internacional | Educación</div>
        <div class="location">Dakar, Senegal</div>
        <div class="project-item-buttons">
          <a class="button warning" href="#">Warning</a>
          <a class="button warning" href="#">Warning 2</a>
        </div>
        
        <!-- <br><br> -->
      </div>
    </div>
    <div class="large-3 columns">
      <div class="project-item">
      
        <img src=/assets/proyectos-centro-femenino.jpg>
        
        <a href="/es/proyectos_centro_femenino">
          <h6>CENTRO FEMENINO</h6>
        </a>
        <div class="description">Cooperación Internacional | Educación</div>
        <div class="location">Dakar, Senegal</div>
        <div class="project-item-buttons">
          <a class="button warning" href="#">Warning</a>
          <a class="button warning" href="#">Warning 2</a>
        </div>
      </div>
      <!-- <br><br> -->
    </div>
    
    <div class="large-3 columns">
      <div class="project-item">
      
        <img src=/assets/proyectos-microproyectos.jpg>
        <a href="/es/proyectos_financiacion_de_microproyectos">
          <h6>FINANCIACIÓN DE MICROPROYECTOS</h6>
        </a>
        <div class="description">Cooperación Internacional | Educación</div>
        <div class="location">Senegal</div>
        <div class="project-item-buttons">
          <a class="button warning" href="#">Warning</a>
          <a class="button warning" href="#">Warning 2</a>
        </div>
      </div>
      <!-- <br><br> -->
    </div>
    <div class="large-3 columns">
      <div class="project-item">
      
        <img src=/assets/proyectos-casa-acogida.jpg>
        <a href="/es/proyectos_casa_de_acogida">
          <h6>CASA DE ACOGIDA</h6>
        </a>
        <div class="description">Cooperación Internacional | Educación</div>
        <div class="location">Ziguinchor, Senegal</div>
        <div class="project-item-buttons">
          <a class="button warning" href="#">Warning</a>
          <a class="button warning" href="#">Warning 2</a>
        </div>
      </div>
      <!-- <br><br> -->
    </div>
    <div class="large-3 columns">
      <div class="project-item">
      
        <img src=/assets/proyectos-coaching.jpg>
        <a href="/es/proyectos_coaching_social">
          <h6>COACHING SOCIAL</h6>
        </a>
        
        <div class="description">Acción social | Educación</div>
        <div class="location">Barcelona</div>
        <div class="project-item-buttons">
          <a class="button warning" href="#">Warning</a>
          <a class="button warning" href="#">Warning 2</a>
        </div>
      </div>
      <!-- <br><br> -->
    </div>
    
    
    <div class="project-item large-3 columns">
      <div class="project-item">
      
        <img src=/assets/proyectos-integracion.jpg>
        <a href="/es/proyectos_integracion">
          <h6>INTEGRACIÓN DEL INMIGRANTE Y SU FAMILIA</h6>
        </a>
        <div class="description">Migración | Acción social</div>
        <div class="location">Barcelona</div>
        <div class="project-item-buttons">
          <a class="button warning" href="#">Warning</a>
          <a class="button warning" href="#">Warning 2</a>
        </div>
      </div>
      <!-- <br><br> -->
    </div>
    <div class="project-item large-3 columns">
    </div>
  </div>
</div>
