<title>Proyectos</title>
<div class="large-12 columns splash-zone">
  <h3>En <strong>Senegal</strong>, damos soporte al desarrollo mediante la ayuda a proyectos concretos. En <strong>Catalunya</strong>, promovemos acciones para la sensibilización, ayudando a construir una conciencia social crítica e integradora. El objetivo es permitir que las personas puedan tomar las riendas de sus vidas</h3>
  
  {{> common/project-menu-donation}}
  
  <!-- <div class="project-menu-donation">
    <a class="button " href="#">DONA </a>
    <a class="button " href="#">HAZTE SOCIO</a>
    <a class="button button-inverse " href="#">OTRAS FORMAS DE ACTUAR</a>
  </div> -->
  <!-- <div>
    <button type="button" class="">DONA</button>
    <button type="button" class="">HAZTE SOCIO</button>
    <button type="button" class="">OTRAS FORMAS DE ACTUAR</button>
  </div>   -->
</div>
<h4 class="underline-title">PROYECTOS ACTIVOS</h4>

<div class="large-12 columns project-list">
  {{> es/proyectos_description/becas_escolarizacion}}
  {{> es/proyectos_description/becas_escolarizacion}}
  {{> es/proyectos_description/colonias_verano}}
  {{> es/proyectos_description/centro_femenino}}
  {{> es/proyectos_description/micro_proyectos}}
  {{> es/proyectos_description/casa_acogida}}
  {{> es/proyectos_description/coaching_social}}
  {{> es/proyectos_description/integracion}}
  <div class="">
    
  </div>
</div>
