<title>Proyectos</title>
<div>
  <div>
    <h3>En <strong>Senegal</strong>, damos soporte al desarrollo mediante la ayuda a proyectos concretos. En <strong>Catalunya</strong>, promovemos acciones para la sensibilización, ayudando a construir una conciencia social crítica e integradora. El objetivo es permitir que las personas puedan tomar las riendas de sus vidas</h3>
  <div>
    <button type="button" class="">DONA</button>
    <button type="button" class="">HAZTE SOCIO</button>
    <button type="button" class="">OTRAS FORMAS DE ACTUAR</button>
  </div>  
  </div>
</div>