<title>Proyectos: Casa de acogida y orfanato “La Source du Bonheur”, Ziguinchor</title>
<div class="large-12 row">
  <div class="medium-12 large-12 row splash-zone">
    <div class="splash-full-image">
      <img id="splash-casa-acogida" src=/assets/splash-proyecto-casa-acogida.jpg>
    </div>
  </div>
  <div class="large-12 row page-content">
    <div class="small-12 medium-9 large-9 column page-copywrite">
      <h4 class="proyectos-title">
        Casa de acogida y orfanato “La Source du Bonheur”, Ziguinchor
      </h4>
      <div>
        La misión del proyecto es acoger a los niños y niñas que no tienen familia y que necesitan
        un lugar para vivir y formarse en todos los niveles, intelectualmente y como personas,
        dando a los niños, las niñas y los/ as jóvenes un techo por una educación digna que les
        permita tener unas condiciones de vida en plenitud.
       </div>
       <br>

       <div>
      En la casa de acogida encontrarán la calidez de una familia y crecerán en un entorno
      bueno y cuidado por quienes les darán unos valores y enseñanzas de vida y una educación para una futura integración en la sociedad.
       </div>
       <br>
       <div>
         Actualmente residen 11 niños y niñas de entre 3 y 15 años.
       </div>
       <br>
       <div>
         <h4 class="proyectos-title">
           <a href="https://babelpuntodeencuentro.wordpress.com/" target='_blank'>Blog "La Source du Bonheur"</a>
         </h4>
       </div>
    </div>
    {{> common/side-menu}}
  </div>
  {{> es/common/otros_proyectos}}
</div>
