<title>Proyectos: Casa de acogida y orfanato “La Source du Bonheur”, Ziguinchor</title>
<div class="large-12 columns splash-zone">
  <div class="splash-full-image">
    <img id="splash-estrutura" src=/assets/splash-estrutura.jpg>
  </div>
</div>


<div class="large-8 columns">
  <h3>
    Casa de acogida y orfanato “La Source du Bonheur”, Ziguinchor
  </h3>
  <div>
    La misión del proyecto es acoger a los niños y niñas que no tienen familia y que necesitan
    un lugar para vivir y formarse en todos los niveles, intelectualmente y como personas,
    dando a los niños, las niñas y los/ as jóvenes un techo por una educación digna que les
    permita tener unas condiciones de vida en plenitud.
   </div>
   <br>
   
   <div>
 En la casa de acogida encontrarán la calidez de una familia y crecerán en un entorno
 bueno y cuidado por quienes les darán unos valores y enseñanzas de vida y una
   </div>
   <br>
   <div>
     Actualmente residen 11 niños y niñas de entre 3 y 15 años.
   </div>
</div>
<!-- side banner  -->
<div class='large-3 columns'>
  {{> common/side_banners}}
</div>