<title>Proyectos</title>
<div class="large-12 row splash-zone">
  <div class="row large-12">
    <h3>En <strong>Senegal</strong>, damos soporte al desarrollo mediante la ayuda
      a proyectos concretos. En <strong>Catalunya</strong>, promovemos acciones
      para la sensibilización, ayudando a construir una conciencia social crítica
      e integradora. El objetivo es facilitar que las personas puedan tomar las
      riendas de sus vidas</h3>
  </div>
  <div class="column">
    {{> common/project-menu-donation}}
  </div>
</div>

<div class="large-12 row">
  <div class="large-12 column medium-12 small-12">
    <h4 class="   underline-title">PROYECTOS ACTIVOS</h4>
  </div>
  <div class="large-12 column project-list">
      <div class="small-12 medium-6 large-3 column">
        <div class="project-item row large-12">
          <div class="column large-12">
            <img class="" src=/assets/proyectos-escolarizacion.jpg>
            <div class="">
              <h6 class="">BECAS DE ESCOLARIZACIÓN</h6>
              <div class="description">Cooperación Internacional | Educación</div>
              <div class="location">Dakar, Senegal</div>
            </div>
            <div class="row large-12">
              <div class="column medium-12 large-6">
                <a class="button" href="/es/proyectos_becas_escolarizacion">INFÓRMATE</a>
              </div>
              <div class="column medium-12 large-6">
                <a class="button" href="/es/dona">COLABORA</a>
              </div>


              <!-- <div class="project-item-button coluxmn small-12 large-6">
              </div>
              <div class="project-item-button colxumn small-12 large-6">
              </div> -->
            </div>
          </div>

        </div>
      </div>
      <div class="small-12 medium-6 large-3 column">
        {{> es/proyectos_description/colonias_verano}}
      </div>
      <div class="small-12 medium-6 large-3 column">
        {{> es/proyectos_description/centro_femenino}}
      </div>
      <div class="small-12 medium-6 large-3 column">
        {{> es/proyectos_description/micro_proyectos}}
      </div>
      <div class="small-12 medium-6 large-3 column">
        {{> es/proyectos_description/casa_acogida}}
      </div>
      <div class="small-12 medium-6 large-3 column">
        {{> es/proyectos_description/coaching_social}}
      </div>
      <div class="small-12 medium-6 large-3 column">
        {{> es/proyectos_description/integracion}}
      </div>
      <div class="small-12 medium-6 large-3 column">
        {{> es/proyectos_description/becas_escolarizacion}}

      </div>
    </div>
  </div>
</div>
