<title>Proyectos: Centro de Promoción Femenino, Sam Sam</title>
<div class="large-12 row">
  <div class="medium-12 large-12 row splash-zone">
    <div class="splash-full-image">
      <img id="splash-estrutura" src=/assets/splash-estrutura.jpg>
    </div>
  </div>
  <div class="large-12 row page-content">
    <div class="small-12 medium-9 large-9 column page-copywrite">
      <h4 class="proyectos-title">
        Centro de Promoción Femenino, Sam Sam
      </h4>
      <div>
        En el centro de promoción femenino imparten clases a mujeres de entre 15 y
        25 años donde aprenden costura, bordado, hostelería, informática, etc. y venden
        sus trabajos en el mercado.
      </div>
      <div>
        Fundación Babel Punto de Encuentro apoya con la venta de material procedente del Centro Femenino.
      </div>
       <br>

       <div>
         Entre 2011 y 2012, la Fundación Babel Punto de Encuentro también financió la Escuela de Hostelería de Sam Sam.
      </div>
    </div>
    {{> common/side-menu-donation}}
  </div>
  {{> es/common/otros_proyectos}}
</div>
