<title>Proyectos: Artífex - Coaching Social, Barcelona</title>
<div class="large-12 columns splash-zone">
  <div class="splash-full-image">
    <img id="splash-puentes" src=/assets/splash-proyecto-puentes.jpg>
  </div>
</div>


<div class="large-9 columns">
  <h4 class="proyectos-title">Puentes - Acompañamiento psicológico, Barcelona</h4>
  <div>
  El proyecto Puentes tiene un recorrido de diez años de funcionamiento, siendo un proyecto
  consolidado y pertinente, que sigue demostrando su utilidad social. Durante este tiempo se
  ha renovado la red de colaboradores y agentes de soporte, así como se ha detectado
  nuevas necesidades, que ha hecho que el proyecto se haya ido moldeando.
  </div>
  <br>
  <div>
     Puentes se destina a personas recién llegadas a nuestra sociedad o que han vivido un proceso de migración en sus vidas.
  </div><br>
  <div>
    Las demandas principales que se atienden en el proyecto puentes tienen relación con la
    movilidad, la reagrupación familiar, parejas mixtas, segundas generaciones, duelo
    migratorio, retorno a su país de origen, nueva migración, etc.
  </div><br>
  <div>
    El proyecto ofrece sesiones gratuitas de orientación, counseling y coaching, centrándose
    en la dimensión psicosocial de la migración. Comprende a la persona migrada “en
    relación” (relaciones familiares, relaciones interpersonales, relaciones interculturales,
    relación profesionales-usuarios, relación sociedad de acogida-personas migradas) y desde
    una vertiente positiva de los recursos personales en lugar de sus hándicaps.
  </div><br>
  <div>El proyecto Puentes acoge e acompaña psicológicamente a las personas refugiadas llegadas a Barcelona.</div><br>
  <div>
      <h5 class="proyectos-title">
        <a href="/assets/folleto-puentes-1.jpg" target='_blank'> Folleto informativo (parte 1) </a>
      </h5>
      <h5 class="proyectos-title">
        <a href="/assets/folleto-puentes-2.jpg" target='_blank'> Folleto informativo (parte 2) </a>
      </h5>
  </div>
  <br>
  <br>
  <br>
  <h4 class="proyectos-title">Proyecto Plan de formación del voluntariado de Proximidad, Barcelona.</h4>
  <div>Este proyecto surge como demanda de los voluntarios/as de nuestra entidad y tiene como
objetivo general potenciar las estrategias, entre ellas el voluntariado de proximidad, que
signifiquen el empoderamiento de los individuos como un instrumento que reduce las
diferencias económicas, de género, sociales, y territoriales de las sociedades, desde un
trabajo multidisciplinario.
  </div><br>

  <div>Las acciones que proponemos para conseguir nuestro objetivo son:
    <ul>
      <li>Consolidar el plan de voluntariado de proximidad incluyendo un espacio de formación, comunicación y trabajo</li>
      <li>Reforzar y consolidar la modernización, actualización de las herramientas
comunicativas y de las redes sociales de la entidad.</li>
      <li>Mantener y ampliar el centro de recursos para el voluntariado.</li>
    </ul>
  </div>
  <br>

</div>



{{> common/side-menu-donation}}

{{> es/common/otros_proyectos}}
