<title>Proyectos: Becas Escuela Kalassans, Sam Sam</title>
<div class="small-12 column splash-zone">
  <div class="splash-full-image">
    <img id="splash-estrutura" src=/assets/splash-estrutura.jpg>
  </div>
</div>
<div class="small-12 medium-12 large-9 column page-content">
  <h4 class="proyectos-title">Becas Escuela Kalassans, Sam Sam</h4>
  <div>
    El barrio de Sam-Sam es un barrio marginal de las afueras de Dakar, fruto de la migración del campo hacia la ciudad, donde la mitad de la población que está en edad escolar, no está escolarizada como consecuencia de la falta de infraestructuras escolares y la falta de medios económicos para acceder a la escuela.
  </div>
  <br>
  <div>
    Esta situación tiene unas consecuencias muy graves sobres los niños y jóvenes del barrio, que plantea la necesidad de poner en práctica actividades formativas que permitan la inserción de dichos jóvenes. <strong>
      En la Escuela Kalasans se admiten alumnos sin tener en cuenta la edad, niños que han sido excluidos del sistema escolar público.
    </strong>
  </div>
  <br>

  <div>
    <strong>Desde la Fundación Babel se ofrecen becas de estudios</strong> y con ello les damos la oportunidad de que puedan iniciar su formación.
  </div>
  <br>

  <div>
    Becas de estudio que cubren una parte de los gastos de escolarización de un niño o niña
    de la escuela Kalassans en Sam Sam, Dakar. Es una escuela especial ya que no excluye
    a los niños que por edad ya no pueden entrar en la escuela pública. El primer año la
    enseñanza es en wólof, en los siguientes años se introduce paulatinamente el francés y la
    formación incluye: costura, horticultura, informática, etc.
  </div>
  <br>

  <div>
    La escuela pública se encuentra en condiciones pésimas y hay una sobreocupación de las aulas. Se hacen turnos de formación y los niños van unos días determinados a clase.
  </div>
  <br>

  <div>
    Objetivos:
     <ul>
       <li>Conseguir estabilizar progresivamente la cantidad de becas para asegurar los recursos necesarios que permitan la escolarización permanente de los alumnos de
  la escuela.</li>
       <li>Cubrir los gastos de libros y material escolar y mantenimiento de la escuela.</li>
       <li>Reducir el paro.</li>
     </ul>

  </div>
</div>
{{> common/side-menu}}
{{> es/common/otros_proyectos}}
