<title>Proyectos</title>
<div>
  <div>
    <h2>Nuestra filosofía en la cooperación para el desarrollo:</h2>
    <div>
      Desde la Fundación BPDE entendemos que las actuaciones realizadas por actores públicos y privados, entre países de diferente nivel de renta hacen tener el propósito de promover el progreso económico y social de los países del sur, de manera que sea más equilibrado en relación con los países del norte, y resulte sostenible.
    </div>
    <div>
      Nuestra Fundación concibe el desarrollo como auto-desarrollo, nadie desarrolla a nadie; las personas, los pueblos, las culturas y naciones se desarrollan ellas mismas. El “otro” puede ayudar, favorecer, contribuir, facilitar, pero también impedir, obstaculizar, etc.
    </div>
    <div>
      Coincidimos en una concepción multidimensional del desarrollo, de la cual podemos expresar cinco grandes dimensiones:
    </div>
    <ul>
      <li>La paz, base fundamental y prerrequisito del desarrollo.</li>
      <li>La economía, el crecimiento entendido como motor del progreso.</li>
      <li>El medio ambiente y la protección de la ecología sostenible.</li>
      <li>La justicia, pilar de la vida social.</li>
      <li>La participación y la democracia, entendidos como requisitos y bases del buen gobierno.</li>
      <li>Los valores, como base de todas nuestras actuaciones y forma de relación.</li>
    </ul>
    <div>
      <img class='img-responsive' src=/assets/proyectos-1.jpg>
      <em>A pesar de las dificultades, buscar recursos y estrategias para llegar a tiempo a clase.</em>
    </div>  
  </didv>
  <div>
    <h3>Dónde intervenimos</h3>
    <div>
      Actuamos en <strong>Senegal</strong>, más concretamente en el Barrio de <strong>Sam Sam</strong>, situado en el distrito de Diamaguéne-SICAP Mbao de la ciudad de <strong>Pikine</strong>, la cual pertenece a la región de <strong>Dakar</strong>.
    </div>
    <div>
      La permanente situación de pobreza, la precariedad económica y la necesidad de subsistir día a día, es la única preocupación de sus habitantes.
    </div>
    <div>
      La falta de escolarización de niños y jóvenes, y el elevado desempleo, son uno de los motivos por los cuales <strong>BPDE</strong> ha escogido trabajar allí.
    </div>
    <div>
      <img class='img-responsive' src=/assets/proyectos-2.jpg>
    </div>
    <div>
      Ferran Sans, vicepresidente de BPDE, es el responsable de supervisar y gestionar los recursos para que se garantice la transparencia y buena gestión de los ingresos de la organización. Él pertenece a la orden los escolapios que son los responsables de la “Association Education Solidaire” (AES), contraparte en Senegal. Es esta asociación la encargada de desarrollar los proyectos in situ y de darle continuidad, cabe destacar que hace más de 30 años que esta comunidad trabaja para la escolarización de niños, fomenta escuelas alternativas y prácticas profesionales para jóvenes en diferentes zonas geográficas.
    </div>
  </div>
</div>