<title>Proyectos: Artífex - Coaching Social, Barcelona</title>
<div class="large-12 columns splash-zone">
  <div class="splash-full-image">
    <img id="splash-estrutura" src=/assets/splash-estrutura.jpg>
  </div>
</div>


<div class="large-8 columns">
  <h1>Artífex - Coaching Social, Barcelona</h1>
  <div>
     <strong>Procesos individuales de coaching</strong> dirigidos a personas que viven una situación de
 desorientación o insatisfacción, que les produce malestar y sufrimiento, que tienen
 voluntad de salir adelante pero no tienen los recursos o no conocen las herramientas para
 hacerlo.
  </div>
  <br>
  <div>
    Realizamos con ellas un proceso de coaching (hasta 13 sesiones) que las lleva a descubrir
    sus recursos, definir sus prioridades vitales, disolver patrones no útiles y reconectar con
    ellas mismas. Esta nueva mirada de la realidad permite abrir un nuevo camino posible
    para tejer su vida.
  </div>
  <br>
  <div>
    Este proyecto cuenta con un equipo de trabajo de coaches profesionales (voluntarios) del Master de Coaching Sistémico de la Universidad Autónoma de Barcelona.
  </div>
  <br>
  <h3>Formación</h3>
  <br>
  <div>
    El proyecto también cuenta con formaciones en técnicas de coaching para profesionales
    sociales que quieran incorporar herramientas de esta nueva metodología a su ámbito
    laboral.
  </div>
  <br>
  <div>
      Los talleres son de 40 horas de formación divididos en 10 sesiones de 4 horas cada una.
      Se realiza una convocatoria anual y hasta el momento se han realizado dos ediciones.
  </div>
  <br>
  <h3>Supervisiones</h3>
  <br>
  <div>
    Otra parte fundamental del proyecto Artífex son las supervisiones de los procesos. Un
    experto externo en la temática, realiza supervisiones periódicas en la sede de Babel de 3h
    con el conjunto de profesionales. Estas sesiones son espacios de formación y de
    aprendizaje para el grupo y para la entidad.
  </div>
</div>
<!-- side banner  -->
<div class='large-3 columns'>
  {{> common/side_banners}}
</div>