<title>Proyectos: Centro de Promoción Femenino, Sam Sam</title>
<div class="large-12 columns splash-zone">
  <div class="splash-full-image">
    <img id="splash-estrutura" src=/assets/splash-estrutura.jpg>
  </div>
</div>


<div class="large-9 columns">
  <h4 class="proyectos-title">
    Centro de Promoción Femenino, Sam Sam
  </h4>
  <div>
    En 2011-2012 Fundación Babel Punto de Encuentro, financió la escuela de hostelería del
    Centro de Promoción Femenino de Sam Sam. En el centro se imparten clases a mujeres
    de entre 15 y 25 años donde aprenden hostelería, informática, costura y bordado y venden
    sus trabajos en el mercado.
   </div>
   <br>
   
   <div>
     Fundación Babel Punto de Encuentro apoya con la venta de material procedente del Centro Femenino.
  </div>
</div>
{{> common/side-menu-donation}}

{{> es/common/otros_proyectos}}