<title>Proyectos</title>
<div class="large-12 row splash-zone">
  <div class="row large-12">
    <h3>En <strong>Senegal</strong>, damos soporte al desarrollo mediante la ayuda
      a proyectos concretos. En <strong>Catalunya</strong>, promovemos acciones
      para la sensibilización, ayudando a construir una conciencia social crítica
      e integradora. El objetivo es facilitar que las personas puedan tomar las
      riendas de sus vidas</h3>
  </div>
  <div class="column">
    {{> common/project-menu-donation}}
  </div>
</div>

  <div class="large-12 row">
    <div class="large-12 column medium-12 small-12">
      <h4 class="   underline-title">PROYECTOS ACTIVOS</h4>
    </div>
    <div class="row large-12 column project-list">

      <div class="small-12 medium-6 large-3 column">
        {{> es/proyectos_description/coaching_social}}
      </div>
      <div class="small-12 medium-6 large-3 column">
        {{> es/proyectos_description/colonias_verano}}
      </div>

      <div class="small-12 medium-6 large-3 column">
        {{> es/proyectos_description/casa_acogida}}
      </div>
      <div class="small-12 medium-6 large-3 column">
        {{> es/proyectos_description/centro_femenino}}
      </div>
      <div class="small-12 medium-6 large-3 column">
        {{> es/proyectos_description/micro_proyectos}}
      </div>
      <div class="small-12 medium-6 large-3 column">
        {{> es/proyectos_description/integracion}}
      </div>
      <div class="small-12 medium-6 large-3 column">
        {{> es/proyectos_description/becas_escolarizacion}}
      </div>
      <div class="small-12 medium-6 large-3 column">

      </div>
    </div>
  </div>
</div>
