<title>Proyectos: Colonias de verano escuela Kalassans, Sam Sam</title>
<div class="large-12 columns splash-zone">
  <div class="splash-full-image">
    <img id="splash-estrutura" src=/assets/splash-estrutura.jpg>
  </div>
</div>


<div class="large-8 columns">
  <h3>
    Colonias de verano escuela Kalassans, Sam Sam
  </h3>
  <div>
    Des de hace más de 16 años, la escuela Kalassans organiza casales y colonias de verano
  abiertos a todos los niños y niñas del barrio (asentamiento espontáneo) de Sam Sam. Es
  un primer contacto con las familias del barrio que no han escolarizado a sus hijos. Muchas
  veces se consigue despertar el interés de los padres y finalmente escolarizar a sus hijos.
   </div>
   <br>
   
   <div>
   Este proyecto pretende fomentar el trabajo en equipo, así como la convivencia y el espíritu
   comunitario. Es una aprendizaje para los niños que están todo el día en la calle, aprenden
   a relacionarse.
  </div>
</div>
<!-- side banner  -->
<div class='large-3 columns'>
  {{> common/side_banners}}
</div>