<title>Proyectos</title>
<div class="large-12 columns splash-zone">
  <h3>En <strong>Senegal</strong>, damos soporte al desarrollo mediante la ayuda a proyectos concretos. En <strong>Catalunya</strong>, promovemos acciones para la sensibilización, ayudando a construir una conciencia social crítica e integradora. El objetivo es permitir que las personas puedan tomar las riendas de sus vidas</h3>
  <!-- <div>
    <button type="button" class="">DONA</button>
    <button type="button" class="">HAZTE SOCIO</button>
    <button type="button" class="">OTRAS FORMAS DE ACTUAR</button>
  </div>   -->
</div>
<div class="large-12 columns">
  <h4 class="underline-title">PROYECTOS ACTIVOS</h4>
  
  <div class="project-list">
    
    <div class="project large-3 columns">
      <img src=/assets/patronato-borja-sans.jpg>
      <h6>BECAS DE ESCOLARIZACIÓN</h6>
      <div class="description">Cooperación Internacional | Educación</div>
      <div class="location">Dakar, Senegal</div>
      <br><br>
    </div>
    <div class="project large-3 columns">
      <img src=/assets/patronato-borja-sans.jpg>
      <h6>COLONIAS VERANO</h6>
      <div class="description">Cooperación Internacional | Educación</div>
      <div class="location">Dakar, Senegal</div>
      <br><br>
    </div>
    <div class="project large-3 columns">
      <img src=/assets/patronato-borja-sans.jpg>
      <h6>CENTRO FEMENINO</h6>
      <div class="description">Cooperación Internacional | Educación</div>
      <div class="location">Dakar, Senegal</div>
      <br><br>
    </div>
    <div class="project large-3 columns">
      <img src=/assets/patronato-borja-sans.jpg>
      <h6>FINANCIACIÓN DE MICROPROYECTOS</h6>
      <div class="description">Cooperación Internacional | Educación</div>
      <div class="location">Senegal</div>
      <br><br>
    </div>
    <div class="project large-3 columns">
      <img src=/assets/patronato-borja-sans.jpg>
      <h6>CASA DE ACOGIDA</h6>
      <div class="description">Cooperación Internacional | Educación</div>
      <div class="location">Ziguinchor, Senegal</div>
      <br><br>
    </div>
    <div class="project large-3 columns">
      <img src=/assets/patronato-borja-sans.jpg>
      <h6>COACHING SOCIAL</h6>
      <div class="description">Acción social | Educación</div>
      <div class="location">Barcelona</div>
      <br><br>
    </div>
    <div class="project large-3 columns">
      <img src=/assets/patronato-borja-sans.jpg>
      <h6>INTEGRACIÓN DEL INMIGRANTE Y SU FAMILIA</h6>
      <div class="description">Migración | Acción social</div>
      <div class="location">Barcelona</div>
      <br><br>
    </div>
    <div class="project large-3 columns">
    </div>
  </div>
</div>
