<title>¿Qué puedes hacer tú?</title>
<div>
  <div>  
    <h3>¿Quieres dar soporte financiero a nuestros proyectos de escolarización?</h3>
    <h4>Hazte donante de los proyectos de Babel</h4>
    <div>
      <a href="http://babelpuntodeencuentro.org/sites/default/files/babel_form.pdf">Formulario para Donaciones y becas de estudio</a>
    </div>
    <div>
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input name="cmd" type="hidden" value="_s-xclick"> <input name="hosted_button_id" type="hidden" value="9Y3RG3CA2JK6C"> <input alt="PayPal. La forma rápida y segura de pagar en Internet." border="0" name="submit" src="https://www.paypalobjects.com/es_ES/ES/i/btn/btn_donateCC_LG.gif" type="image"> <img alt="" border="0" height="1" src="https://www.paypalobjects.com/es_ES/i/scr/pixel.gif" width="1">
      </form>
    </div>
  </div>
  <div>
    <h2>¿Quieres ser voluntario?</h2>
    <h3>Plan de Voluntariado y Formación.</h3>
    <div>
      La Fundación BABEL trabaja en el proyecto "PLAN DE FORMACIÓN, COMUNICACIÓN Y ACCIÓN DEL VOLUNTARIADO DE PROXIMIDAD" que tiene como objetivo potenciar las estrategias, entre ellas el voluntariado de proximidad, que contribuyan al empoderamiento de los individuos como un instrumento que reduce las diferencias económicas, de género, sociales, y territoriales, desde un trabajo multidisciplinario.
    </div>
    <div>
      El proyecto está dirigido en primer lugar a voluntarios/as y estudiantes, y en segundo lugar a investigadores, trabajadores y técnicos y profesionales vinculados al África Negra, Senegal y la inmigración y la interculturalidad. Las acciones que proponemos para conseguir nuestro objetivo son:
    </div>
    <ul>
      <li>Crear y consolidar el plan de voluntariado de proximidad incluyendo un espacio de formación, comunicación y trabajo</li>
      <li>Reforzar y consolidar la modernización y actualización de las herramientas comunicativas, de las redes, y del espacio de dinamización del voluntariado y de su centro de recursos.</li>
    </ul>
    <div>
      El voluntariado surge como respuesta de la sociedad civil a las llamadas necesidades específicas. Si te apetece formar parte de nuestro equipo de personas voluntarias y de este plan de formación, comunicación y voluntariado, ponte en contacto con nosotros y concertaremos una reunión para explicarte nuestro proyecto de fundación.
    </div>
  </div>  
</div>