<h2 class="p2">
  Una Fundación es sus proyectos:
</h2>
<h3 class="p2">
  <a href="?q=es/content/cooperacioninternacional">Proyectos de Cooperación Internacional</a>
</h3>
<h3 class="p2">
  <a href="?q=es/content/inmigracionyaccionsocial">Proyectos de Inmigración y acción social</a>
</h3>
<h2>
  Objetivos
</h2>
<ul>
  <li class="p1">Contribuir a la mejora de la convivencia social.
  </li>
  <li class="p1">Dar soporte al desarrollo en el país de origen mediante la ayuda a proyectos concretos en Senegal, en el barrio de Sam Sam en Dakar.
  </li>
  <li class="p1">Incidir en la transformación de la sociedad para que sea más tolerante, solidaria y respetuosa respecto a la diversidad, formando una red de compromisos individuales unidos por:&nbsp;la&nbsp;<strong>tolerancia</strong>,&nbsp;la&nbsp;<strong>coherencia</strong>,&nbsp;la&nbsp;<strong>solidaridad</strong>,&nbsp;y el&nbsp;<strong>respeto a la diferencia</strong>.
  </li>
  <li class="p1">Promover acciones para la sensibilización, ayudando a construir una conciencia social crítica e integradora, trabajando en red con otras asociaciones, ONGs o entidades.
  </li>
</ul>
<address>
  [[{"type":"media","view_mode":"media_original","fid":"350","attributes":{"alt":"","class":"media-image","height":"2134","typeof":"foaf:Image","width":"2848"}}]]
</address>
<address class="p1">
  <em>Los niños y niñas de la casa de acogida de&nbsp; Ziguinchor siguen contagiando su habitual entusiasmo y alegría, mientras descansan de las clases.</em>
</address>
<h3 class="p1">
  &nbsp;
</h3>
<h3 class="p1">
  <span class="s1">Nuestra filosofía en la cooperación para el desarrollo:</span>
</h3>
<p class="p2">
  Desde la Fundación BPDE entendemos que las actuaciones realizadas por actores públicos y privados, entre países de diferente nivel de renta, hacen tener el propósito&nbsp; de promover el progreso económico y social de los países del Sur, de manera que sea más equilibrado en relación con los países del norte, y resulte sostenible.&nbsp;
</p>
<p class="p2">
  Nuestra Fundación concibe el desarrollo como auto-desarrollo, nadie desarrolla a nadie; las personas, los pueblos, las culturas y naciones se desarrollan ellas mismas. El “otro” puede ayudar, favorecer, contribuir, facilitar, pero también impedir, obstaculizar, etc. &nbsp;
</p>
<p class="p1">
  Coincidimos en una concepción multidimensional del desarrollo, de la cual podemos expresar cinco grandes dimensiones:&nbsp;
</p>
<ul>
  <li class="p1">
    <span class="Apple-tab-span">&nbsp;</span>La paz, base fundamental y prerrequisito del desarrollo.
  </li>
  <li class="p1">
    <span class="Apple-tab-span">&nbsp;</span>La economía, el crecimiento entendido como motor del progreso.
  </li>
  <li class="p1">
    <span class="Apple-tab-span">&nbsp;</span>El medio ambiente y la protección de la ecología sostenible.
  </li>
  <li class="p1">
    <span class="Apple-tab-span">&nbsp;</span>La justicia, pilar de la vida social.
  </li>
  <li class="p1">
    <span class="Apple-tab-span">&nbsp;</span>La participación y la democracia, entendidos como requisitos y bases del buen gobierno.
  </li>
  <li class="p1">
    <span class="Apple-tab-span">&nbsp;</span>Los valores, como base de todas nuestras actuaciones y forma de relación.
  </li>
</ul>
<p class="p2">
  &nbsp;
</p>
<h3 class="p1">
  <span class="s1">Dónde intervenimos</span>
</h3>
<p class="p1">
  Actuamos en&nbsp;<strong>Senegal</strong>, más concretamente en el Barrio de&nbsp;<strong>Sam Sam</strong>, situado en el distrito de Diamaguéne-SICAP Mbao de la ciudad de&nbsp;<strong>Pikine</strong>, la cual pertenece a la región de&nbsp;<strong>Dakar</strong>.
</p>
<p class="p1">
  La permanente situación de pobreza, la precariedad económica y la necesidad de subsistir día a día, es la única preocupación de sus habitantes.
</p>
<p class="p1">
  La falta de escolarización de niños y jóvenes, y el elevado desempleo, son uno de los motivos por los cuales&nbsp;<strong>BPDE</strong>&nbsp;ha escogido trabajar allí.&nbsp;
</p>
<p class="p2">
  [[{"type":"media","view_mode":"media_original","fid":"361","attributes":{"alt":"","class":"media-image","height":"1704","typeof":"foaf:Image","width":"2272"}}]]
</p>
<p class="p2">
  Ferran Sans, vicepresidente de BPDE, es el responsable de supervisar y gestionar los recursos para que se garantice la transparencia y buena gestión de los ingresos de la organización. Él pertenece a la orden los escolapios que son los responsables de la “Association Education Solidaire” (AES), contraparte en Senegal. Es esta asociación la encargada de desarrollar los proyectos in situ y de darle continuidad, cabe destacar que hace más de 30 años que esta comunidad trabaja para la escolarización de niños, fomenta escuelas alternativas y prácticas profesionales para jóvenes en diferentes zonas geográficas.
</p>
<h2 class="p2">
  &nbsp;
</h2>
<div>
  &nbsp;
</div>
