<title>Quienes somos</title>
<div class="medium-12 large-12 column splash-zone">
  <p><strong>Nos dedicamos a las personas.</strong> Somos una fundación privada independiente y sin ánimo de lucro de carácter solidario, social y cultural. Mediante nuestros proyectos ayudamos a mejorar la calidad de vida de las personas de Barcelona  y de Senegal. ¿Quieres ayudarnos?</p>
</div>
<div class="small-12 large-9 column page-content">
    <h1 class="underline-title page-content">QUIENES SOMOS:</h1>
    <div class="column page-content">
      <p class="bold-paragraph">Entidad fundada en 2004 por Mª Teresa Gazeau García y registrada con el número 1979 en el Registro de Fundaciones de la Generalitat de Catalunya.</p>
      <!-- <div class="summaries"> -->
        <div>
          <p class="bold-paragraph"> NUESTRA MISIÓN </p>
          <div> Potenciar el desarrollo de la persona, orientándola hacia el compromiso personal a través de proyectos en educación, formación técnica y empoderamiento personal.
          </div>
          <div>
            <!-- <button type="button" class="btn btn-secondary btn-sm">Conoce nuestra filosofia</button> -->
          </div>
        </div>
        <hr></hr>
        <div>
          <p class="bold-paragraph">NUESTROS OBJETIVOS</p>
          <div> Concebimos los proyectos como una forma de apoyo para potenciar las capacidades personales y profesionales de cada individuo. Nuestro fin, que  las personas beneficiarias de los proyectos puedan mejorar su calidad de vida.
          </div>
          <div>
            <!-- <button type="button" class="btn btn-secondary btn-sm">Conoce nuestra filosofia</button> -->
          </div>
        </div>
        <hr></hr>
        <div>
          <p class="bold-paragraph"> PARA QUIEN TRABAJAMOS </p>
          <div> Nuestro marco de actuación es Senegal y Catalunya. Los beneficiarios principales de las acciones en Senegal son niños y jóvenes senegaleses en riesgo de exclusión social y/o laboral. En Cataluña los destinatarios de nuestros proyectos son personas migradas, personas en riesgo de exclusión social/laboral y/o en situaciones vulnerables.      </div>
          <div>
            <!-- <button type="button" class="btn btn-secondary btn-sm">Conoce nuestros proyectos</button> -->
          </div>
        </div>

        <hr></hr>
        <div>
          <p class="bold-paragraph"> TRANSPARENCIA </p>
          <div>
    Nos esforzamos en remarcar siempre nuestros valores y gestionar de manera totalmente transparente nuestras cuentas, acciones y proyectos      </div>
          <div>
            <!-- <button type="button" class="btn btn-secondary btn-sm">Conoce nuestra transparencia</button> -->
          </div>
        </div>
    </div>
  <div class="small-12 medium-12 large-3 column page-copywrite">
  </div>
</div>
