<title>Quienes somos</title>

<div class="large-12 columns splash-zone">
  <h3><strong>Nos dedicamos a las personas.</strong> Somos una fundación privada independiente y sin ánimo de lucro de carácter solidario, social y cultural. Mediante nuestros proyectos ayudamos a mejorar la calidad de vida de las personas de Barcelona  y de Senegal. ¿Quieres ayudarnos?</h3>
</div>

<div class="large-9 columns">
  <h5>Entidad fundada en 2004 por Mª Teresa Gazeau García y registrada con el número 1979 en el Registro de Fundaciones de la Generalitat de Catalunya.</h5>
  <hr></hr>
  <!-- <div class="summaries"> -->
    <div>
      <h5> NUESTRA MISIÓN </h5>
      <div> Potenciar el desarrollo de la persona, orientándola hacia el compromiso personal a través de proyectos en educación, formación técnica y empoderamiento personal.
      </div>
      <div>
        <!-- <button type="button" class="btn btn-secondary btn-sm">Conoce nuestra filosofia</button> -->
      </div>
    </div>
    <hr></hr>
    <div>
      <h5>NUESTROS OBJETIVOS</h5>
      <div> Concebimos los proyectos como una forma de apoyo para potenciar las capacidades personales y profesionales de cada individuo. Nuestro fin, que  las personas beneficiarias de los proyectos puedan mejorar su calidad de vida.
      </div>
      <div>
        <!-- <button type="button" class="btn btn-secondary btn-sm">Conoce nuestra filosofia</button> -->
      </div>
    </div>
    <hr></hr>
    <div>
      <h5> PARA QUIEN TRABAJAMOS </h5>
      <div> Nuestro marco de actuación es Senegal y Catalunya. Los beneficiarios principales de las acciones en Senegal son niños y jóvenes senegaleses en riesgo de exclusión social y/o laboral. En Cataluña los destinatarios de nuestros proyectos son personas migradas, personas en riesgo de exclusión social/laboral y/o en situaciones vulnerables.      </div>
      <div>
        <!-- <button type="button" class="btn btn-secondary btn-sm">Conoce nuestros proyectos</button> -->
      </div>
    </div>
    
    <hr></hr>
    <div>
      <h5> TRANSPARENCIA </h5>
      <div> 
Nos esforzamos en remarcar siempre nuestros valores y gestionar de manera totalmente transparente nuestras cuentas, acciones y proyectos      </div>
      <div>
        <!-- <button type="button" class="btn btn-secondary btn-sm">Conoce nuestra transparencia</button> -->
      </div>
    </div>
  <!-- <div> -->
</div>  
<!-- side banner  -->
<div class='large-3 columns'>
</div>