<title>Quienes somos</title>
<ul>
  <li>Una fundación independiente y sin ánimo de lucro de carácter solidarios, social y cultural.</li>
  <li>A través de los proyectos en la educación potenciamos el desarrollo de la persona orientándola hacia la formación y la autogestión.</li>
  <li>Trabajamos con los inmigrantes para facilitar su integración sin olvidar el país de origen y su propia cultura.</li>
  <li>Trabajamos con transparencia, austeridad y sin protagonismos.</li>
  <li>Queremos que la convivencia sea factor clave: de futuro, de progreso y de estabilidad social. Nuestra labor está orientada a contribuir a un contexto internacional estable, pacífico y seguro para todos.</li>
</ul>
<h2>"Seremos mañana lo que ahora gestionemos”</h2>
<div>
  <img src=/assets/quienes-somos-1.jpg>
  Desde 2004 la Fundación Babel Punto de Encuentro lleva adelante proyectos destinados a mejorar la calidad de vida en Sam Sam y Barcelona.
</div>