<title>Quienes somos</title>

<div class="large-12 columns splash-zone">
  <h3><strong>Nos dedicamos a las personas.</strong> Somos una fundación independiente y sin ánimo de lucro de carácter solidario, social y cultural. Mediante nuestros proyectos posibilitamos que las personas puedan vivir con dignidad.</h3>
  <h3>¿Quieres ayudarnos?</h3> 
</div>

<div class="large-10 columns">
  <h5>Queremos que la convivencia sea factor clave: de futuro, de progreso y de estabilidad social.</h5>
  <h5>Nuestra labor está orientada a contribuir a un contexto internacional estable, pacífico y seguro para todos.</h5>
  
  
  
  <hr></hr>
  <!-- <div class="summaries"> -->
    <div>
      <h5> Nuestra filosofia </h5>
      <div> Concebimos las ayudas como una forma de apoyo al atodesarrollo. Nuestro fin, que todo el mundo alcance una autonomía que le permita vivier en la sociedad de manera digna
      </div>
      <div>
        <!-- <button type="button" class="btn btn-secondary btn-sm">Conoce nuestra filosofia</button> -->
      </div>
    </div>
    
    <hr></hr>
    <div>
      <h5> Para quien trabajamos </h5>
      <div> 
        Nuestro principal campo de acción es dar soporte al desarrollo en el país de origen mediante la ayuda a proyectos concretos en Senegal. En Catalunya, trabajamos por la integración de inmigrantes y residentes en riesgo de exclusión social.
      </div>
      <div>
        <!-- <button type="button" class="btn btn-secondary btn-sm">Conoce nuestros proyectos</button> -->
      </div>
    </div>
    
    <hr></hr>
    <div>
      <h5> Transparencia </h5>
      <div> 
        Concebimos las ayudas como una forma de apoyo al autodesarrollo. Nuestro fin, que todo el mundo alcance una autonomía que le permita vivir en la sociedad de manera digna.
      </div>
      <div>
        <!-- <button type="button" class="btn btn-secondary btn-sm">Conoce nuestra transparencia</button> -->
      </div>
    </div>
  <!-- <div> -->
</div>  
<!-- side banner  -->
<div class='large-2 columns'>
  {{> common/side_banners}}
</div>