<ul>
  <li class="p1">Una fundación independiente y sin ánimo de lucro de carácter solidarios, social y cultural.
  </li>
  <li class="p1">A través de los proyectos en la educación potenciamos el desarrollo de la persona orientándola hacia la formación y la autogestión.
  </li>
  <li class="p1">Trabajamos con los inmigrantes para facilitar su integración sin olvidar el país de origen y su propia cultura.
  </li>
  <li class="p1">Trabajamos con transparencia, austeridad y sin protagonismos.
  </li>
  <li class="p1">Queremos que la convivencia sea factor clave: de futuro, de progreso y de estabilidad social. Nuestra labor está orientada a contribuir a un contexto internacional estable, pacífico y seguro para todos.
  </li>
</ul>
<h2 class="p1">
  <strong><span style="font-size: 12px;">"Seremos mañana lo que ahora gestionemos”</span></strong>
</h2>
<h3 class="p1">
  [[{"type":"media","view_mode":"media_original","fid":"228","attributes":{"alt":"","class":"media-image","height":"1365","style":"font-size: 12px; width: 600px; height: 400px; float: left;","typeof":"foaf:Image","width":"2048"}}]]
</h3>
<div>
  <h3 class="p1">
    &nbsp;
  </h3>
</div>
<p>
  &nbsp;
</p>
<h3 class="p1">
  &nbsp;
</h3>
<p>
  &nbsp;
</p>
<p>
  &nbsp;
</p>
<p>
  &nbsp;
</p>
<p>
  &nbsp;
</p>
<p>
  &nbsp;
</p>
<p>
  &nbsp;
</p>
<p>
  &nbsp;
</p>
<p>
  &nbsp;
</p>
<address>
  <span style="font-size: 12px;">Desde 2004 la Fundación Babel Punto de Encuentro lleva adelante proyectos destinados a mejorar la calidad de vida en Sam Sam y Barcelona.</span>
</address>
