
<div class="large-12 columns splash-zone">
  <div class="splash-full-image">
    <img id="splash-estrutura" src=/assets/splash-estrutura.jpg>
  </div>
</div>
<div class="large-9 columns page-copywrite">
  <h4 class="underline-title">TRANSPARENCIA</h4>
  <div>
  En Fundación Babel Punto de Encuentro nos esforzamos en gestionar de manera totalmente transparente nuestras cuentas, acciones y proyectos. Queremos responder así a la confianza de nuestros socio/as, colaboradores/as y amigos/as que hacéis posible que continuemos sumando año tras año. Por todo esto mantenemos informados a nuestros donantes, a través de la web, nuestras redes sociales, memorias, boletines y los certificados anuales de las donaciones.
  </div>
  <div>En cumplimiento con la Ley de transparencia 9/2014, de 29 de diciembre, facilitamos el acceso a la información pública y buen gobierno.
  </div>
  <br>
  <div>
    <h4>Documentos:</h4>
    <ul>
      <li><a href="/assets/estatutos-bpde.pdf" target='_blank'>Estatutos de la entidad</a></li>
      <li><a href="/assets/2015-subvencionadores-por-proyectos.pdf" target='_blank'>Financiamiento 2015</a></li>
      <li><a href="/assets/2014-balanc.pdf" target='_blank'>Balance económico y cuentas 2014</a></li>
      <li><a href="/es/memoria_actividades/">Memorias</a></li>
      <li><a href="/es/boletines/">Boletines</a></li>
    </ul>
  </div>
</div>
{{> common/side-menu-donation}}
{{> es/common/otros_proyectos}}
