<title>Voluntarios</title>
<div>La Fundación cuenta con unos 25 voluntarios. Los que a continuación nombramos son los que colaboran más habitualmente:</div>
<div><strong>AMAIA GUTIERREZ</strong></div>
<div><strong>ANA MARÍA DÍQUEZ</strong></div>
<div><strong>ANNA JOSCH</strong></div>
<div><strong>ANNA LLACER</strong></div>
<div><strong>CLAUDIA ALVAREZ</strong></div>
<div><strong>DULCE MARÍA DEL ROCÍO</strong></div>
<div><strong>EILA LÓPEZ</strong></div>
<div><strong>EVA PÉREZ</strong></div>
<div><strong>FERNANDO PANIAGUA</strong></div>
<div><strong>GERARDO MEDINA</strong></div>
<div><strong>INES SCHOCHER</strong></div>
<div><strong>JOSELINA BERRAZ</strong></div>
<div><strong>MARCELA SAN CRISTOBAL</strong></div>
<div><strong>MARÍA DE LOURDES ROSALES</strong></div>
<div><strong>MARIA FERNANDEZ</strong></div>
<div><strong>MARTÍN MODONESE</strong></div>
<div><strong>SILVANA RECCIO</strong></div>
<div><strong>TIAGO MIGUEL FERNANDES</strong></div>