
<div class="large-12 columns splash-zone">
  <div class="splash-full-image">
    <img id="splash-estrutura" src=/assets/splash-estrutura.jpg>
  </div>
</div>
<div class="large-9 columns page-copywrite">
  <h4 class="underline-title">VOLUNTARIADO</h4>
  <div>
    En la Fundación BABEL trabajamos en el proyecto "plan de formación, comunicación y acción del voluntariado de proximidad" que tiene como objetivo potenciar el voluntariado de proximidad, que contribuyan al empoderamiento de los individuos como un instrumento que reduce las diferencias económicas, de género, sociales, y territoriales, desde un trabajo multidisciplinario.
  </div>
  <div>
    El proyecto está dirigido en primer lugar a voluntarios/as y estudiantes, y en segundo lugar a investigadores, trabajadores y técnicos y profesionales vinculados al África Negra, Senegal y la inmigración y la interculturalidad. Las acciones que proponemos para conseguir nuestro objetivo.
  </div>
  <br>
  <div><strong>Nuestros objetivos:</strong></div>
  <ul>
    <li>Crear y consolidar el plan de voluntariado de proximidad incluyendo un espacio de formación, comunicación y trabajo</li>
    <li>Reforzar y consolidar la modernización y actualización de las herramientas comunicativas, de las redes, y del espacio de dinamización del voluntariado y de su centro de recursos.
  </li>
  </ul>
</div>
<div class="large-3 columns"></div>