<div class="project-item row large-12">
  <img class="" src=/assets/proyectos-escolarizacion.jpg>
  <div class="" id="bexcas-escolarizacion-empty-space" class="boXx aliXgn-self-bottom">
    <h6 class="">BECAS DE ESCOLARIZACIÓN</h6>
    <div class="description">Cooperación Internacional | Educación</div>
    <div class="location">Dakar, Senegal</div>
  </div>
  <div class="project-item-button small-12 large-6">
    <a class="button" href="/es/proyectos_becas_escolarizacion">INFÓRMATE</a>
  </div>
  <div class="project-item-button small-12 large-6">
    <a class="button" href="/es/dona">COLABORA</a>
  </div>
</div>
