<div  class="project-item">
  <img src=/assets/splash-proyecto-artifex.jpg>
  <div class="empty"> </div>
  <div id="coaching-social-empty-space" class="box align-self-bottom">
    <h6>COACHING SOCIAL</h6>
    <div class="description">Acción social | Educación</div>
    <div class="location">Barcelona</div>
    <div class="project-item-buttons ">
      <a class="button " href="/es/proyectos_coaching_social">INFÓRMATE</a>
      <a class="button " href="/es/dona">COLABORA</a>
    </div>
  </div>
</div>
