<title>Fais un don</title>
<div class="small-12 column splash-zone">
  <div class="splash-full-image">
    <img id="splash-dona" src=/assets/splash-dona.jpg>
  </div>
</div>
<div class="small-12 medium-9 large-9 column page-content">
  <h1 class="underline-title"> VOULEZ-VOUS NOUS AIDER? </h1>
  <br>
  <div> En ce moment, nous construisons une nouvelle maison pour les enfants de La Source du Bonheur, à Ziguinchor, au Sénégal. L'orphelinat attend actuellement l'installation des canalisations d'eau.</div>
  <br>
  <div> Nous attendons avec intérêt de nouveaux financements pour pouvoir le faire et le considérer comme déjà fini.</div>
  <br>
  <p class="bold-paragraph">Faire un don par Paypal</p>
  <div>
          <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input name="cmd" type="hidden" value="_s-xclick">
            <input name="hosted_button_id" type="hidden" value="9Y3RG3CA2JK6C">
            <input alt="PayPal. La forma rápida y segura de pagar en Internet." border="0" name="submit" src="https://www.paypalobjects.com/es_ES/ES/i/btn/btn_donateCC_LG.gif" type="image">
            <img alt="" border="0" height="1" src="https://www.paypalobjects.com/es_ES/i/scr/pixel.gif" width="1">
          </form>
  </div>
  <br>
  <p class="bold-paragraph">Ou a travers de notre compte bancaire</p>
  <p class="bold-paragraph">
    La Caixa: ES74 2100 0632 91 0200216000
  </p>
</div>
{{> common/side-menu}}
{{> es/common/otros_proyectos}}
