<title>Notre Philosophie</title>
<div class="small-12 column splash-zone">
  <div class="splash-full-image">
    <img id="splash-filosofia" src=/assets/splash-filosofia.jpg>
  </div>
</div>
<div class="medium-12 large-9 column page-content">
  <h4 class="underline-title page-content">NOTRE MISSION:</h4>
  <div class="page-contenxt">
    <ul>
      <li><strong>Mission:</strong> Promouvoir le développement des personnes en les orientant vers l'engagement personnel à travers des projets d'éducation et de formation technique.</li>
      <li><strong>Vision:</strong> Nous voulons que la coexistence soit un facteur clé pour l’avenir, le progrès et la stabilité sociale, visant à contribuer à un contexte international stable, pacifique et sûr pour tous.</li>
      <li><strong>Valeurs:</strong> Nous travaillons dans la  transparence, l’austérité et sans protagonisme, en promouvant les valeurs suivantes: Tolérance, Cohérence, Solidarité et Respect de la différence.</li>
    </ul>
  </div>
</div>
{{> common/side-menu}}
{{> es/common/otros_proyectos}}
