<title>Projets: Centre de promotion pour femmes, Sam Sam</title>
<div class="small-12 column splash-zone">
  <div class="splash-full-image">
    <img id="splash-memoria-actividades" src=/assets/splash-memoria-actividades.jpg>
  </div>
</div>
<div class="small-12 medium-12 large-9 column page-content">
  <h4 class="proyectos-title">
    Centre de promotion pour femmes, Sam Sam
  </h4>
  <div>
    Dans ce centre, on donne des cours aux femmes âgées de 15 à 25 ans.
    Elles apprennent la couture, la broderie, l'hôtellerie, l'informatique, etc.
    Et elles vendent leurs produits sur le marché.
  </div>
  <div>
    La Fondation Babel Point de Rencontre offre son aide en mettant en vente les Produits du Centre.
  </div>
   <br>
   <div>
     Entre 2011 et 2012, la Fondation Babel Point de rencontre a également financé l'école d’hôtellerie Sam Sam.
  </div>
</div>
{{> common/side-menu}}
{{> es/common/otros_proyectos}}
