<title>Projets: Puentes - Accompagnement psychologique, Barcelone</title>
<div class="small-12 column splash-zone">
  <div class="splash-full-image">
    <img id="splash-puentes" src=/assets/splash-proyecto-puentes.jpg>
  </div>
</div>
<div class="small-12 medium-12 large-9 column page-content">
  <h4 class="proyectos-title">Puentes - Accompagnement psychologique, Barcelone</h4>
  <div>
    Le projet Puentes a un parcours de dix ans de fonctionnement. C’est un projet
    consolidé et pertinent, qui continue de démontrer son utilité sociale. Au
    cours de cette période, le réseau de collaborateurs et d’agents de support a
    été renouvelé et de nouveaux besoins ont été détectés, ce qui a amené le
    projet à prendre forme.
  </div>
  <br>
  <div>
    Puentes est destiné aux personnes récemment arrivées dans notre société ou
    ayant connu un processus de migration dans leur vie.
  </div>
  <br>
  <div>
    Les principales revendications abordées dans le projet Puentes concernent la mobilité, le
    regroupement  familial, les couples mixtes, les générations futures, le
    deuil migratoire, le retour dans leur pays d'origine, les nouvelles
    migrations, etc.
  </div><br>
  <div>
    Le projet propose des séances d’orientation, de conseil et de coaching gratuites
    axées sur la dimension psychosociale de la migration. Cela inclut la personne
    migrée "en relation" (relations familiales, relations interpersonnelles,
    relations interculturelles, relation professionnel-utilisateur, relation
    entre la société d'accueil et les migrants) et d'un point de vue positif
    leurs ressources personnelles au lieu de leurs handicaps.
  </div><br>
  <div>Le projet « Puentes « accueille et accompagne psychologiquement les
    réfugiés arrivant à Barcelone.
  </div><br>
  <div>
      <h5 class="proyectos-title">
        <a href="/assets/folleto-puentes.pdf" target='_blank' rel='noopener'> TODO Bajate el folleto informativo </a>
      </h5>
  </div>
  <br>
  <br>
  <h4 class="proyectos-title">Projet de plan de formation au volontariat de proximité, Barcelone.</h4>
  <div>Ce projet est né sur une demande des volontaires de notre organisme.
    Il qui a pour objectif général renforcer les stratégies, entre autre, le
    volontariat de proximité, ce qui signifie l’autonomisation des individus en
    tant qu’instrument permettant de réduire les inégalités: économiques,
    de sexes, sociales et territoriales de la société, et ce, à partir d’un
    travail multidisciplinaire.
  </div><br>

  <div>Les actions que nous proposons pour atteindre notre objectif son:
    <ul>
      <li>Consolider le plan de bénévolat de proximité, en y incluant un espace de formation, de communication et de travail.</li>
      <li>Renforcer et consolider la, mise à jour des outils de communication et des réseaux sociaux de l'entité.</li>
      <li>Maintenir et développer le centre de ressources pour le volontariat.</li>
    </ul>
  </div>
  <br>
</div>
{{> common/side-menu}}
{{> es/common/otros_proyectos}}
