<title>Projets: Bourses scolaires Kalassans, Sam Sam</title>
<div class="small-12 column splash-zone">
  <div class="splash-full-image">
    <img id="splash-estrutura" src=/assets/splash-estrutura.jpg>
  </div>
</div>
<div class="small-12 medium-12 large-9 column page-content">
  <h4 class="proyectos-title">Bourses scolaires Kalassans, Sam Sam</h4>
  <div>
    Le quartier Sam-Sam est un quartier marginal de la périphérie de Dakar,
    résultat de la migration de la campagne vers la ville, où la moitié de la
    population en âge d'aller à l'école n'est pas scolarisée en raison du manque
    d'infrastructures scolaires et le manque de moyens financiers pour accéder
    à l'école.
  </div>
  <br>
  <div>
    Cette situation a des conséquences très graves pour les enfants et les jeunes
    du quartier, d'où la nécessité de mettre en œuvre des activités de formation
    permettant l'insertion de ces jeunes. <strong>À l’école Kalasans, les élèves sont
    admis quel que soit leur âge, ces enfants ont étés exclus du système scolaire public.</strong>
  </div>
  <br>
  <div>
    <strong>La Fondation Babel offre des bourses d’études</strong> qui leur permettent de commencer leur formation.
  </div>
  <br>

  <div>
    Bourses couvrant une partie des frais de scolarité d’un garçon ou d’une
    fille de l’école kalassan de Sam Sam à Dakar. C'est une école spéciale, car
    elle n'exclut pas les enfants qui, par leur âge, ne peuvent plus entrer dans
    une école publique. La première année d’enseignement est en wolof, les années
    suivantes, le français est introduit progressivement et la formation comprend:
    couture, horticulture, informatique, etc.
  </div>
  <br>
  <div>
    Les écoles publiques sont dans un état déplorable et les salles de classe
    sont surpeuplées. Ils s'entraînent à tour de rôle et les enfants vont seulement
    quelques jours en classe.
  </div>
  <br>

  <div>
    Objectifs:
     <ul>
       <li>Stabiliser progressivement le nombre de bourses pour assurer les ressources nécessaires permettant la scolarisation permanente des étudiants de l’école.</li>
       <li>Couvrir le coût des livres et des fournitures scolaires et l'entretien de l’école.</li>
       <li>Réduire le chômage.</li>
     </ul>

  </div>
</div>
{{> common/side-menu}}
{{> es/common/otros_proyectos}}
