<title>Projets: Artífex - Coaching social, Barcelone</title>
<div class="small-12 column splash-zone">
  <div class="splash-full-image">
    <img id="splash-artifex" src=/assets/splash-proyecto-artifex.jpg>
  </div>
</div>
<div class="small-12 medium-12 large-9 column page-content">
  <h4 class="proyectos-title">Artífex - Coaching social, Barcelone</h4>
  <div>
    <strong>Les processus de coaching individuels</strong> destinés aux personnes
    vivant des situations de désorientation ou d'insatisfaction, source de
    malaise et de souffrance, qui veulent réussir mais ne connaissent pas les
    ressources ou ne disposent pas des outils pour le faire.
  </div>
  <br>
  <div>
    Nous menons avec eux un processus de coaching (jusqu'à 13 sessions) qui les
    conduit à découvrir leurs ressources, à définir leurs priorités vitales,
    à dissoudre des schémas inutiles et à renouer avec eux-mêmes. Ce nouveau
    regard sur la réalité  permet d’ouvrir un nouveau chemin possible pour tisser
    leur vie.
  </div>
  <br>
  <div>
    Ce projet regroupe une équipe de coachs professionnels (bénévoles) de Master
     en coaching systémique de l’Université autonome de Barcelone.
  </div>
  <br>
  <h5>La formation</h5>
  <br>
  <div>
    Le projet propose également une formation des techniques de coaching pour
    les professionnels sociaux souhaitant intégrer les outils de cette nouvelle
    méthodologie à leur environnement de travail.
  </div>
  <br>
  <div>
    Les ateliers durent 40 heures et sont répartis en 10 sessions de 4 heures chacune.
    Un appel d’offre annuel s’ouvre. A ce jour deux éditions ont été faites.
  </div>
  <br>
  <h5>Les supervisions</h5>
  <br>
  <div>
    Un autre élément fondamental du projet Artífex est la supervision des processus.
    Un expert externe en la matière effectue une supervision périodique au
    siège de Babel, qui dure 3 heures, avec les professionnels. Ces sessions
    sont des espaces de formation et d’apprentissage pour le groupe et pour la
    fondation.
  </div>
  <br>
  <h5>Capsules d'autonomisation</h5>
  <br>
  <div>
    Dans le même projet, des ateliers groupaux et expérientiels sont organisés
    en trois sessions d’autonomisation personnelle et professionnelle pour les
    personnes menacées d’exclusion sociale et /ou professionnelle.
  </div>
  <br>
  <h5>Espaces de rencontre</h5>
  <br>
  <div>
    Également au sein d’Artífex, des rencontres de groupes périodiques sont
    organisées pour cultiver diverses connaissances sur le coaching et d’autres
    outils et ressources pour la croissance et l’autonomisation personnelle,
    avec un conférencier expert dans le thème de chaque session.
  </div>
  <br>
  <br>
  <div>
      <h5 class="proyectos-title">
        <a href="/assets/folleto-artifex-triptic-proces.pdf" target='_blank' rel='noopener'> Télécharge la brochure d'informations</a>
      </h5>
  </div>
</div>
{{> common/side-menu}}
{{> es/common/otros_proyectos}}
