<title>Projets: Maison d’accueil et orphelinat “La Source du Bonheur”, Ziguinchor</title>
<div class="small-12 column splash-zone">
  <div class="splash-full-image">
    <img id="splash-casa-acogida" src=/assets/splash-proyecto-casa-acogida.jpg>
  </div>
</div>
<div class="small-12 medium-12 large-9 column page-content">
  <h4 class="proyectos-title">
    Maison d’accueil et orphelinat “La Source du Bonheur”, Ziguinchor
  </h4>
  <div>
    La mission du projet est d'accueillir des enfants sans famille et qui ont
    besoin d'un lieu de vie et de formation à tous les niveaux, intellectuellement
    et en tant que personnes, offrant ainsi un toit pour les enfants et les jeunes.
   </div>
   <br>
   <div>
     Une éducation digne qui leur permette d’avoir des conditions de vie décente.
     Dans le foyer d'accueil, ils retrouveront la chaleur d'une famille et grandiront
     dans un environnement favorable et seront pris en charge par ceux qui leur
     donneront des valeurs, et des enseignements et une éducation pour une
     intégration future dans la société.
   </div>
   <br>
   <div>
     Il y a actuellement 11 garçons et filles âgés de 3 à 15 ans.
   </div>
   <br>
   <div>
     <h4 class="proyectos-title">
       <a href="https://babelpuntodeencuentro.wordpress.com/" target='_blank' rel='noopener'>Blog "La Source du Bonheur"</a>
     </h4>
   </div>
</div>
{{> common/side-menu}}
{{> es/common/otros_proyectos}}
