<title>Qui sommes nous</title>
<div class="small-12 column splash-zone">
  <p><strong>Nous nous consacrons aux personnes.</strong> Nous sommes une fondation
    privée indépendante et à but non lucratif à caractère solidaire, social et
    culturel. Grâce à nos projets, nous contribuons à améliorer la qualité de
    vie des habitants de Barcelone et du Sénégal. Voulez-vous nous aider?</p>
</div>
<div class="small-12 large-9 column page-content">
  <h1 class="underline-title page-content">QUI SOMMES NOUS:</h1>
  <div class="column page-content">
    <p class="bold-paragraph">Organisme fondé en 2004 par Mª Teresa Gazeau
      García et inscrit sous le numéro 1979 au registre des fondations de la
      Generalidad de Catalogne.</p>
    <div>
      <p class="bold-paragraph"> NOTRE MISSION </p>
      <div> Promouvoir le développement des  personnes, en les orientant vers
        un engagement personnel à travers des projets d'éducation, de formation
         technique et d'autonomisation personnelle.
      </div>
    </div>
    <hr></hr>
    <div>
      <p class="bold-paragraph">NOS OBJECTIFS</p>
      <div>Nous concevons les projets comme une forme de soutien pour améliorer
        les capacités personnelles et professionnelles de chaque individu.
        Notre objectif est que les personnes qui bénéficient des projets
        puissent améliorer leur qualité de vie.
      </div>
    </div>
    <hr></hr>
    <div>
      <p class="bold-paragraph"> POUR QUI TRAVAILLONS-NOUS </p>
      <div> Notre cadre d'action est le Sénégal et la Catalogne. Les principaux
        bénéficiaires des actions menées au Sénégal sont les enfants et les
        jeunes sénégalais exposés au risque d’exclusion sociale et / ou
        professionnelle. En Catalogne, les bénéficiaires de nos projets sont
        les migrants, les personnes exposées au risque d’exclusion sociale /
        professionnelle et / ou en situation de vulnérabilité.</div>
    </div>
    <hr></hr>
    <div>
      <p class="bold-paragraph"> TRANSPARENCE </p>
      <div> Nous nous efforçons de toujours mettre en évidence nos valeurs et
        de gérer nos comptes, actions et projets de manière totalement
        transparente. </div>
    </div>
  </div>
  <div class="small-12 medium-12 large-3 column page-copywrite"></div>
</div>
