<title>Structure</title>
<div class="small-12 column splash-zone">
  <div class="splash-full-image">
    <img id="splash-estrutura" src=/assets/splash-estrutura.jpg>
  </div>
</div>
<div class="small-12 medium-9 large-9 column page-content">
  <div>
    <h4 class="underline-title">STRUCTURE</h4>
    <div>Actuellement la Fondation compte 2 employés, 30 bénévoles, 10 membres
      du conseil d'administration et 140 associés.
    </div>
  </div>
  <br>
  <div>
    <img class='medium-7 large-7 small-12 img-responsive img-responsive' src=/assets/estructura-bpde.png>
  </div>
  <hr/>
  <div>
      <div class="patronato-item">
        <div class="element">
          <div class='img-div'><img id="maria-teresa" src=/assets/maria-teresa.jpg></div>
          <div class="description">
            <h5>Mª Teresa Gazeau - <em>Directrice et coordinatrice de la Fondation Babel Point de Rencontre.</em></h5>
            <div>
              Technicienne d'entreprises  touristiques, coach systémique et
              fondatrice de la Fondation Babel Point de Rencontre en 2004.
              Et depuis, se rend chaque année au Sénégal, qu’elle décrit comme
              une connexion à la réalité,  qui lui apporte l'énergie nécessaire
              pour pouvoir poursuivre son projet  de vie.
            </div>
            <br>
            <address><strong>info@babelpuntodeencuentro.org</strong></address>
          </div>
        </div>
      </div>
      <hr/>
      <div class="patronato-item">
        <div class="element">
          <div class='img-div'><img id="marina" src=/assets/marina.jpg></div>
          <div class="description">
            <h5>Marina García Gabilondo - <em>Chargée d’études et de communication.</em></h5>
            <div> Diplômé en tourisme (UD) et Master interuniversitaire en
              migrations contemporaines (UB et UAB). Elle a à la fois une
              expérience professionnelle et en tant que bénévole auprès de
              groupes menacés d'exclusion sociale, et  depuis 2016, elle
              travaille dans le domaine des projets du troisième secteur.
            </div>
            <br>
            <address><strong>gestion@babelpuntodeencuentro.org</strong></address>
          </div>
        </div>
      </div>
  </div>
  <br>
  <br>
  <br>
  <div class="patronato">
    <h4 class="underline-title"> Patronat </h4>
    <br>
    <div class="patronato-item">
      <div class="element">
        <div class='img-div'><img id="andreu" src=/assets/patronato-andreu.jpg></div>
        <div class="description">
          <h5>ANDREU CLAPÉS I FLAQUÉ, <i>Président</i></h5>
          <div>Licencié en Histoire et Master en direction d’entreprise, de
            l’Université de Deusto et EADE. Directeur d’écoles durant 28 ans.
            Durant les Jeux Olympiques de Barcelone, il a été le directeur du
            bureau du service de bénévolat.
           </div>
        </div>
      </div>
      <hr/>
      <div class="patronato-item">
        <div class="element">
          <div class='img-div'><img id="ferran-sans" src=/assets/patronato-ferran-sans.jpg></div>
          <div class="description">
            <h5>FERRAN SANS, <i>Vice-Président</i></h5>
            <div>Il a enseigné pendant 20 ans dans une école publique à Arenas,
              à Terrassa. Depuis 1990, il est au Sénégal et a créé un projet
              d'alphabétisation dans différents quartiers de la capitale et une
              école primaire alternative dans la banlieue de Pikine, une ville
              satellite de Dakar. Il est également l’âme de l’école kalassan du
              quartier de Sam Sam, à la périphérie de Dakar. C'est notre homologue
              au Sénégal.
            </div>
          </div>
        </div>
      </div>
      <hr/>
      <div class="patronato-item">
        <div class="element">
          <div class='img-div'><img id="mireia" src=/assets/patronato-mireia-galobart-recta.jpg></div>
          <div class="description">
            <h5>MIREIA GALOBART, <i>Vocale</i></h5>
            <div>Licenciée en chimie, est religieuse et titulaire de l'Infant
              School Jesus of Barcelona. Participe actuellement à des activités
              bénévoles et à la catéchèse. C'est une  conciliatrice de l'ACO.
              Elle collabore aux activités organisées par la Fondation,
              notamment dans le domaine de la coopération internationale au Sénégal
            </div>
          </div>
        </div>
      </div>
      <hr/>
      <div class="patronato-item">
        <div class="element">
          <div class='img-div'><img id="carlos" src=/assets/patronato-carlos-miranda.jpg></div>
          <div class="description">
            <h5>CARLOS MIRANDA, <i>Vocale</i></h5>
            <div>Économiste, se consacre à la solidarité qu’il considère comme
              une des valeurs humaines, par excellence.
            </div>
          </div>
        </div>
      </div>
      <hr/>
      <div class="patronato-item">
        <div class="element">
          <div class='img-div'><img id="borja-sans" src=/assets/patronato-borja-sans.jpg></div>
          <div class="description">
            <h5>BORJA SANS, <i>Vocale</i></h5>
            <div>
              Sociologue travaillant actuellement chez Sinergia Value, une
              entreprise spécialisée dans la communication sociale, l’une de
              ses passions. Il a collaboré avec la Fondation Jaume Bofill dans
              le cadre du plan Inégalités sociales. Membre de la Fondation
              depuis ses débuts.
            </div>
          </div>
        </div>
      </div>
      <hr/>
      <div class="patronato-item">
        <div class="element">
          <div class='img-div'><img id="ignacio-sans" src=/assets/patronato-ignasi.jpg></div>

          <div class="description">
            <h5>IGNACIO SANS, <i>Vocale</i></h5>
            <div>Étudiant en éducation sociale, il a travaillé au CRAE (centre
              résidentiel d'action éducative) en tant qu'éducateur social. Il a
              été moniteur d’écoles et d’activités parascolaires et a coordonné
              des campagnes interactives sur les antécédents sociaux.
            </div>
            <div>Il collabore activement à tous les événements organisés, en plus
              de donner des conférences à ce sujet dans les collèges.
            </div>
          </div>
        </div>
      </div>
      <hr/>
      <div class="patronato-item">
        <div class="element">
          <div class='img-div'><img id="fernando-paniagua" src=/assets/patronato-fernando-paniagua.jpg></div>
          <div class="description">
            <h5>FERNANDO PANIAGUA, <i>Vocale</i></h5>
            <div>Licencié en histoire, maîtrise en histoire contemporaine et MBA
              en gestion de sociétés coopératives. Il a travaillé dans différentes
              coopératives et travaille actuellement pour le Laboratoire de Barcelone:
              livingLab pour l'innovation culturelle promue par le conseil municipal
              de Barcelone. Il est l'un des coordinateurs du BccN: festival du cinéma
              a Creative Commons de Barcelone.
            </div>
          </div>
        </div>
      </div>
      <hr/>
      <div class="patronato-item">
        <div class="element">
          <div class='img-div'><img id="breda-o-flaherty" src=/assets/patronato-breda-o-flaherty.jpg></div>
          <div class="description">
            <h5>BREDA O'FLAHERTY, <i>Vocale</i></h5>
            <div>De la famille irlandaise de Londres, vit à Barcelone depuis 1989.
              Licenciée en littérature anglaise, travaille comme professeur
              indépendante d'anglais dans des organismes publiques, comme
              l'école officielle des langues et aussi dans des entreprises privées.
              Collabore avec Babel en tant que bénévole au bureau et lors d'événements.
            </div>
          </div>
        </div>
      </div>
      <hr/>
      <div class="patronato-item">
        <div class="element">
          <div class='img-div'><img id="quico-subirana" src=/assets/patronato-quico-subirana.jpg></div>
          <div class="description">
            <h5>QUICO SUBIRANA, <i>Vocale</i></h5>
            <div>Avocat et activiste social, Engagé dans la défense des droits et
              libertés de ceux qui n'ont pas les ressources pour les exercer et /
              ou les revendiquer.
            </div>
          </div>
        </div>
      </div>
      <hr/>
      <div class="patronato-item">
        <div class="element">
          <div class='img-div'><img id="juan-ignasio-sans" src=/assets/patronato-j-ignasi.jpg></div>
          <div class="description">
            <h5>JUAN IGNACIO SANS, <i>Secrétaire</i></h5>
            <div>Diplômé en tourisme et MPE ESADE en gestion publique.
              Professionnel de la communication publique et sociale.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{> common/side-menu}}
{{> es/common/otros_proyectos}}
