<title>Transparence</title>

<div class="small-12 column splash-zone">
  <div class="splash-full-image">
    <img id="splash-transparencia" src=/assets/splash-transparencia.jpg>
  </div>
</div>
<div class="small-12 medium-12 large-9 column page-content">
  <h4 class="underline-title">TRANSPARENCE</h4>
  <div>A la Fondation Babel Point de Rencontre, nous nous efforçons de gérer nos
     comptes, actions et projets de manière totalement transparente. Nous voulons
      répondre à la confiance de nos partenaires, collaborateurs/trices et amis/ies,
        qui  permettent que nous continuions année  après année.
     Pour tout cela, nous tenons nos donateurs informés, par le biais de notre Web,
     de nos réseaux sociaux, de nos mémoires, de nos bulletins et des certificats de
      donation annuels.
  </div>
  <div>
    Conformément à la loi sur la transparence 9/2014 du 29 décembre, nous donnons accès à l'information publique et à la bonne gouvernance.
  </div>
  <br>
  <div>
    <h4>Documents:</h4>
    <ul>
      <li><a href="/assets/estatutos-bpde.pdf" target='_blank' rel='noopener'>Les status de la Fondacion</a></li>
      <li><a href="/assets/2015-subvencionadores-por-proyectos.pdf" target='_blank' rel='noopener'>Financement 2015</a></li>
      <li><a href="/assets/2014-balanc.pdf" target='_blank' rel='noopener'>Bilan et comptes 2014</a></li>
      <li><a href="/es/memoria_actividades/">Memoires</a></li>
      <li><a href="/es/boletines/">Bulletins</a></li>
    </ul>
  </div>
</div>
{{> common/side-menu}}
{{> es/common/otros_proyectos}}
