<title>Volontariat</title>
<div class="small-12 column splash-zone">
  <div class="splash-full-image">
    <img id="splash-filosofia" src=/assets/splash-filosofia.jpg>
  </div>
</div>
<div class="small-12 medium-9 large-9 column page-content">
  <h1 class="underline-title">VOLONTARIAT</h1>
  <div>
    À la Fondation BABEL, nous travaillons sur le projet "Plan de formation,
    communication et action pour le volontariat de proximité" qui vise à
    renforcer le volontariat de proximité, contribuant à l'autonomisation des
    individus en tant qu'instrument permettant de réduire les différences
    économiques, de genre et sociales , et territoriales, d’un
    travail multidisciplinaire.
  </div>
  <div>
    Le projet s'adresse principalement aux volontaires et aux étudiants,et
    etudiantes  et ensuite aux chercheurs, aux travailleurs, aux techniciens et
    aux professionnels liés à l'Afrique noire, au Sénégal, à l'immigration et à
    l'interculturalité.
  </div>
  <br>
  <div class="bold-paragraph">Nos objectifs:</div>
  <ul>
    <li>Créer et consolider le plan de bénévolat de proximité comprenant un espace de formation, de communication et de travail,</li>
    <li>Renforcer et consolider la modernisation et la mise à jour des outils de communication, des réseaux et des espaces de revitalisation du volontariat et de son centre de ressources.
  </li>
  </ul>
</div>
{{> common/side-menu}}
{{> es/common/otros_proyectos}}
