<title> Ley de Transparencia </title>
<h2>Ley de Transparencia </h2>
<div>
  <div>En Fundación Babel Punto de Encuentro nos esforzamos en remarcar siempre nuestros valores y en gestionar de manera totalmente transparente nuestras cuentas y acciones. Queremos responder así a la confianza de nuestros socio/as, colaboradore/as y amigos/as que hacéis posible que continuemos sumando año tras año.</div>
  <br>
  <div>Una parte esencial de nuestro compromiso con Senegal es la correcta gestión de los fondos destinados a ellos/as.</div> 
  <br>
  <div>Por todo esto mantenemos informados a nuestros donantes, a través de la web, nuestras redes sociales, memorias, boletines y los certificados anuales de las donaciones.</div>
  <br>
  <div>En cumplimiento con la Ley de transparencia 9/2014, de 29 de diciembre, facilitamos el acceso a la información pública y buen gobierno.</div>
  
  <div>
  
  <h4>Documentos:</h4>
  <ul>
    <li><a href="/assets/estatutos-bpde.pdf" target='_blank'>Estatutos de la entidad</a></li>
    <li><a href="/assets/2015-subvencionadores-por-proyectos.pdf" target='_blank'>Financiamiento 2015</a></li>
    <li><a href="/assets/2014-balanc.pdf" target='_blank'>Balance económico y cuentas 2014</a></li>
  </ul>
  
  </div>
  <br><br>
  <hr/>
  <div>
    <img class='img-responsive' src=/assets/hierarquia_transparencia.png>
  </div>
  <hr/>
  <h4>Mª Teresa Gazeau - <em>Directora y coordinadora de Fundación Babel Punto de Encuentro.</em></h4>
  <div>
  Técnica de empresas turísticas, Coach Sistémica y fundadora de la entidad Fundación Babel Punto de Encuentro en 2004. Desde entonces ha viajado anualmente a Senegal y lo describe como una conexión a la realidad, que le aporta la energía necesaria para poder seguir adelante con su proyecto vital.</div>
  
  <br>
  <address><strong>info@babelpuntodeencuentro.org</strong></address>
  <div class='img-div'><img id="maria-teresa" src=/assets/maria-teresa.jpg></div>
  
  <div></div>
  <div></div>
  
  <hr/>
  
  <h4>Eila López Enrech - <em> Técnica de Proyectos y comunicación</em></h4>
  <div> De formación Ingeniera Técnica Agrícola, su trabajo final de carrera en Senegal le despertó el interés por la cooperación. Ha cursado el postgrado de Sociedades Africanas del C.E.A y trabaja en la entidad desde 2014.
  </div>
  <br>
  <address><strong>gestion@babelpuntodeencuentro.org</strong></address>
  <div class='img-div'><img id="eila" src=/assets/eila.jpg></div>
  
</div>
