<title>Voluntarios</title>

<div>Un buen día, paseando por Barcelona escucho unas voces que me susurran: Babel, babel… Me siento inquieta. ¿Qué querrá decir esta palabra? Sigo las voces y me conducen hacia una calle estrecha. Levanto la mirada y leo en la puerta “Babel”. Llamo al timbre, se abre la puerta, veo unas escaleras y subo. A medida que voy subiendo, veo una luz clara, amable, alegre y siento como esta luz envuelve mi espíritu, mi corazón y conecto con mucha gente que abre su corazón hacia mí como yo lo hago.
<br>
Babel emerge ante mí como un lugar idóneo donde puedo colaborar, compartir, crear, ayudar e implicarme en todos sus proyectos. Poco a poco me doy cuenta que ayudando a buscar un camino a otras personas estoy construyendo mi propio camino, mi propia identidad y mi sueño. Babel se ha construido gracias a todas vuestras energías y sueños.
<br>
<br>
Muchas gracias.<br>
<strong><em>Nuria Muñoz, voluntaria</em></strong>.
</div>