<div class="other-projects project-list">
  <h4 class="underline-title column large-12">OTROS PROYECTOS</h4>
  <div class="small-12 medium-6 large-3 column">
    {{> es/proyectos_description/becas_escolarizacion}}
  </div>
  <div class="small-12 medium-6 large-3 column">
    {{> es/proyectos_description/colonias_verano}}
  </div>
  <div class="small-12 medium-6 large-3 column">
    {{> es/proyectos_description/centro_femenino}}
  </div>
  <div class="small-12 medium-6 large-3 column">
    {{> es/proyectos_description/integracion}}
  </div>
</div>
