{{#if is_desktop}}
<div class="large-12 columns project-list">
  <br>
  <br>
  <br>
  <br>
  
  <h4 class="underline-title">OTROS PROYECTOS</h4>
  
  <!-- {{> es/proyectos_description/becas_escolarizacion}} -->
  {{> es/proyectos_description/becas_escolarizacion}}
  {{> es/proyectos_description/colonias_verano}}
  {{> es/proyectos_description/centro_femenino}}
  {{> es/proyectos_description/integracion}}
  
  <div class="">
  
  </div>
</div>
{{/if}}