<div class="other-projects project-list">
  <h1 class="underline-title column large-12 page-content">OTROS PROYECTOS</h1>
  <div class="row large-12 column project-list">
    {{> es/proyectos_description/becas_escolarizacion}}
    {{> es/proyectos_description/colonias_verano}}
    {{> es/proyectos_description/centro_femenino}}
    {{> es/proyectos_description/integracion}}
  </div>
</div>
