{{#if is_desktop}}
<div class="large-12 row">
  <h4 class="underline-title column large-12">OTROS PROYECTOS</h4>
  <div class="project-list colxumn larxge-12">
    <div class="small-12 medium-6 large-3 column">
      {{> es/proyectos_description/becas_escolarizacion}}
    </div>
    <div class="small-12 medium-6 large-3 column">
      {{> es/proyectos_description/colonias_verano}}
    </div>
    <div class="small-12 medium-6 large-3 column">
      {{> es/proyectos_description/centro_femenino}}
    </div>
    <div class="small-12 medium-6 large-3 column">
      {{> es/proyectos_description/integracion}}
    </div>
  </div>
</div>
{{/if}}
