<meta name="viewport" content="initial-scale = 1.0, maximum-scale = 1.0"/>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../../client/dist/bower.min.css?__inline=true">

<!-- Optional theme -->

<!-- Latest compiled and minified JavaScript -->
<style>
.jumbotron {
  margin-bottom:0;
  background-color: #ee5b13; 
}
.visible-md-block, .visible-lg-block  {
  color:white;
}
.sponsors-others img {
  margin-bottom: 40px;
}
.sponsor-tab .container-fluid {
 margin-top: 70px; 
}


div.img-div{
    height:200px;
    width:200px;
    overflow:hidden;
    border-radius:50%;
}

.img-div img{
    -webkit-transform:translate(-50%);
    margin-left:120px;
}

#andreu {
  height: auto; 
  width: auto;  
  max-width: 200px; 
  transform:translate(-60%);
  margin-top: -30px;
}

#maria-teresa {
  margin-top: -70px;
  
  height: auto; 
  width: auto;  
  max-width: 300px; 
  transform:translate(-40%);
  
}

#ferran-sans {
  height: auto; 
  width: auto;  
  max-width: 200px; 
  transform:translate(-60%);
  
  margin-top:0;
}

#eila {
  height: auto; 
  width: auto;  
  max-width: 200px; 
  transform:translate(-60%);
  
  margin-top:0;
}
#felix-castillo {
  height: auto; 
  width: auto;  
  max-width: 200px;      
  transform:translate(-60%);
  margin-top:-20px;
}

#mireia {
  height: auto; 
  width: auto;  
  max-width: 200px; 
  zoom: 105%; 
  transform:translate(-65%);
  margin-top:-00px;
}

#carlos {
 height: auto; 
 width: auto;  
 min-width: 200px; 
 transform:translate(-60%);
 margin-top:-0px;
}

#josep {
  height: auto; 
  width: auto;  
  min-width: 200px; 
  transform:translate(-60%);
  margin-top:0;
}
#borja-sans {
  height: auto; 
  width: auto;  
  max-width: 300px; 
  transform:translate(-65%);
  margin-top:-20px;
}
#ignacio-sans {
  height: auto; 
  width: auto;  
  max-width: 300px; 
  transform:translate(-55%);
  margin-top:-30px;
}
#fernando-paniagua {
  height: auto; 
  width: auto;  
  max-width: 800px; 
  transform:translate(-67%);
  margin-top:-50px;
}

#juan-ignasio-sans {
  height: auto; 
  width: auto;  
  max-width: 300px; 
  transform:translate(-55%);
  margin-top:-50px;
}
</style>

<html class='container-fluid'>
  <header></header>
  <body>
    <div class='container-fluid'>
      {{> common/language_picker}}
      {{> common/dynamic_logo}}
      {{> common/navigation_bar}}
    </div>
    <div class='container-fluid'>
      <div class='row'>
        <div class='col-xs-12 col-md-offset-1 col-md-6'>
          {{{body}}}
        </div>
        <div class='container-fluid'>
          {{> common/side_banners}}
      </div>
    </div>
    <div class='sponsor-tab'>
      <div class='container-fluid'>
      <div class='row hidden-xs hidden-sm '>      
        {{> common/sponsors}}
      </div>
      <div class='row hidden-xs hidden-sm '>      
        {{> common/sponsors_others}}
      </div>
      <hr>
      <div class='col-xs-12 col-md-12'>
        {{> common/contact_front_page}}
      </div>
    </div>
  </div>
  </body>
  <footer>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <ul class="nav navbar-nav navbar-centered">
          <li><a href="/">Copyright © 2012-2016, BPDE - Fundación Babel Punto de Encuentro  </a></li>
        </ul>
      </div>
    </nav>
  </footer>
</html>

<script src="/assets/bower.min.js"></script>

{{> common/ga}}