<meta name="viewport" content="initial-scale = 1.0, maximum-scale = 1.0"/>

<link href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.0/foundation.css" rel="stylesheet" type="text/css">
<html>
  <body>
    <div>
      <ul class="menu">
        <li class="menu-text">Site Title</li>
        <li><a href="#">One</a></li>
        <li><a href="#">Two</a></li>
        <li><a href="#">Three</a></li>
      </ul>
    </div>
    <div>
      <ul class="vertical menu" data-drilldown>
        <li>
          <a href="#">Item 1</a>
          <ul class="vertical menu">
            <li><a href="#">Item 1A</a></li>
            <!-- ... -->
          </ul>
        </li>
        <li><a href="#">Item 2</a></li>
      </ul>
    </div>
    {{{body}}}
  </body>
</html>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.0/foundation.js"></script>


<script>
  $(document).foundation();
</script>
{{> common/ga}}