<html>
  <header></header>
  <body>
    {{> common/language_picker}}
    <h1>Fundación Babel Punto de Encuentro</h1>
      {{#if isEs}}
        {{> es/menu}}
      {{/if}}
      {{#if isCat}}
        {{> cat/menu}}
      {{/if}}
      {{#if isEn}}
        {{> en/menu}}
      {{/if}}
    <div>
      {{{body}}}
    </div>
  </body>
  <div>
    <iframe allowtransparency="true" frameborder="0" height="430" scrolling="no" src="http://www.migranodearena.org/widget.php?q=aWRtPTEmY3JldG89NTY0OA==" width="250">No iframes supported</iframe>
  </div>
  {{> common/sponsors}}
  {{> common/ga}}
  <footer>
    Copyright © 2015
  </footer>
</html>

