<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

<!-- Latest compiled and minified JavaScript -->
<style>
.jumbotron {
  margin-bottom:0;
  background-color: #ee5b13;
  
}
.visible-md-block, .visible-lg-block  {
  color:white;
}

</style>

<html class='container-fluid'>
  <header></header>
  <body>
    <div class='container-fluid'>
      {{> common/language_picker}}
      {{> common/dynamic_logo}}
      {{> common/navigation_bar}}
    </div>
    <div class='container-fluid'>
      <div class='row'>
        <div class='col-xs-12 col-md-offset-1 col-md-6'>
          {{{body}}}
        </div>
        <div class='container-fluid'>
          {{> common/side_banners}}
      </div>
    </div>
    <div class='container-fluid'>
      <div class='row'>      
        {{> common/sponsors}}
      </div>
      <div class='col-xs-12 col-md-12'>
        {{> common/contact_front_page}}
      </div>
    </div>
  </body>
  {{> common/ga}}
  <footer>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <ul class="nav navbar-nav navbar-centered">
          <li><a href="#">Copyright © 2015, Fundación Babel Punto de Encuentro</a></li>
        </ul>
      </div>
    </nav>
  </footer>
</html>