<html>
  <head>
    <meta name="viewport" content="initial-scale = 1.0, maximum-scale = 1.0"/>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" type="text/css" href="/assets/foundation-flex.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/foundation.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/base.css">
    <link rel="stylesheet" type="text/css" href="/assets/side-menu.css">
    <link rel="stylesheet" type="text/css" href="/assets/patronato.css">
    <link rel="stylesheet" type="text/css" href="/assets/noticias.css">
    <link rel="stylesheet" type="text/css" href="/assets/menu.css">
    <link rel="stylesheet" type="text/css" href="/assets/contact.css">
    <link rel="stylesheet" type="text/css" href="/assets/proyectos.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,300&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  </head>

  <header>
    <div class="row expanded">
      <div class="large-12 column language-bar">
        <a href="https://www.facebook.com/babelpde/" target="_blank">
          <img src=/assets/facebook.svg>
        </a>
        <a href="https://twitter.com/fundacion_babel" target="_blank">
          <img src=/assets/twitter.svg>
        </a>
        <a href="/es/contacto"> CONTACTA </a> / <a href="/es/noticias">NOTICIAS</a>
      </div>
    </div>
  </header>
  <body>
    <div class="column webpage">
        <div class="row">
          <div class="large-12 column menu-bar">
            <div class="medium-12 large-5 column">
              <a href="/">
                <img class='main-logo img-responsive' src=/assets/logo-bpde.svg>
              </a>
            </div>
            <div class="medium-12 large-7 column">
              {{> common/navigation_bar}}
            </div>
          </div>
        </div>
        <div class="large-12 column all-content">
          {{{body}}}
        </div>
    </div>
  </body>
  <footer class="column expanded base-footer">
    <!-- <div class="wrap row small-up-1 medium-up-2 large-up-2"> -->
    <div class="x roxw ">
      <div class="column large-3">
      {{> common/contact_front_page}}
      </div>
      <div class="column large-9">
        <div class="column large-12 main-sponsors">
          <h3 class=''>Colaboradores</h3>
        </div>
        <div class='column'>
          <div class="roxw coluxmn large-12 main-sponsors">
            <div class="main-sponsors-item column small-6 medium-3 large-3">
              <a href='https://obrasocial.lacaixa.es/'  target='_blank'><img id="logo-la-caixa" class='img-responsive' src=/assets/sponsors-logo-la-caixa.png></a>
            </div>
            <div class="main-sponsors-item column small-6 medium-3 large-3">
              <a href='http://ajuntament.barcelona.cat/ca/' target='_blank'><img class='img-responsive' src=/assets/sponsors-logo-ajuntament-bcn.png></a>
            </div>
            <div class="main-sponsors-item column small-6 medium-3 large-3">
              <a href='http://benestar.gencat.cat/ca/'  target='_blank'><img class='img-responsive' src=/assets/sponsors-logo-gen-cat-departament-benestar.png></a>
            </div>
            <div class="main-sponsors-item column small-6 medium-3 large-3">
              <a href='http://www.diba.cat/' target='_blank'><img class='img-responsive' src=/assets/sponsors-logo-diputacio-barcelona.png></a>
            </div>

          </div>
        </div>
        <div class="column large-12">
          <hr>
        </div>
        <div class='column large-12 secondary-sponsors'>
          <div class="row column large-12 secondary-sponsors-line">
            <div class="column small-4 medium-3 large-2">
              <div class="secondary-sponsors-item">
                <a href='http://www.catnova.es/'  target='_blank'><img class='img-responsive' src=/assets/sponsors-cat-nova.png></a>
              </div>
            </div>
            <div class="column small-4 medium-3 large-2">
              <div class="secondary-sponsors-item">
                <a href='http://www.pixtin.es/' target='_blank'><img class='img-responsive' src=/assets/sponsors-pixtin.png></a>
              </div>
            </div>
            <div class="column small-4 medium-3 large-2">
              <div class="secondary-sponsors-item">
                <a href='http://www.gmedina.es/' target='_blank'><img class='img-responsive' src=/assets/sponsors-gerardo-medina.png></a>
              </div>
            </div>
            <div class="column small-4 medium-3 large-2">
              <div class="secondary-sponsors-item">
                <a href='http://interculturalitat.bcn.cat/bcnacciointercultural/ca/la-xarxa-antirumors' target='_blank'><img class='img-responsive' src=/assets/sponsors-xarxa-anti-rumors.png></a>
              </div>
            </div>
            <div class="column small-4 medium-3 large-2">
              <div class="secondary-sponsors-item">
                <a href='http://www.catnova.es/red-lazos/'  target='_blank'><img class='img-responsive' src=/assets/sponsors-red-lazos.png></a>
              </div>
            </div>
            <div class="column small-4 medium-3 large-2">
              <div class="secondary-sponsors-item">
                <a href='http://www.ideaprint.es/' target='_blank'><img class='img-responsive' src=/assets/sponsors-idea-print.png></a>
              </div>
            </div>
            <div class="column small-4 medium-3 large-2">
              <div class="secondary-sponsors-item">
                <a href='http://www.virolai.com/' target='_blank'><img class='img-responsive' src=/assets/sponsors-virolai.png></a>
              </div>
            </div>
            <div class="column small-4 medium-3 large-2">
              <div class="secondary-sponsors-item">
                <a href='http://www.fedelatina.org/' target='_blank'><img class='img-responsive' src=/assets/sponsors-fedelatina.png></a>
              </div>
            </div>
            <div class="column small-4 medium-3 large-2">
              <div class="secondary-sponsors-item">
                <a href='http://roviralta.org/' target='_blank'><img class='img-responsive' src=/assets/sponsors-roviralta.png></a>
              </div>
            </div>
            <div class="column small-4 medium-3 large-2">
              <div class="secondary-sponsors-item">
                <a href='https://www.traveltuition.com/' target='_blank'><img class='img-responsive' src=/assets/sponsors-travel-tuition.png></a>
              </div>
            </div>
            <div class="column small-4 medium-3 large-2">
              <div class="secondary-sponsors-item">
                <a href='#' target='_blank'><img class='img-responsive' src=/assets/sponsors-nicolau-barre.png></a>
              </div>
            </div>
            <div class="column small-4 medium-3 large-2">
              <div class="secondary-sponsors-item">
                <a href='https://entradium.com/' target='_blank'><img class='img-responsive' src=/assets/sponsors-entradium.png></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="copyright column large-12 wxrap rxow">
      <a href="/">Copyright © 2012-2017, BPDE - Fundación Babel Punto de Encuentro</a>
    </div>
  </footer>
  <div id="CookieAlert" class="CookieAlert column large-12" style="visibility:hidden">
    <div class="Container column large-12">
      <div class="column large-12">
        <div class="CookieAlert-content column large-12" >
          <div>Utilizamos cookies para poder darte un mejor servicio. Continua
            usando nuestro website si estas de acuerdo con ello, o sabe mas sobre
            como <a class="" href="/es/cookies">usamos cookies</a>.
            <div onclick="acceptCookies()" class="button">
              Continuar
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</html>
<script type="text/javascript" >
  function setCookie(cname, cvalue, exdays) {
      var d = new Date();
      d.setTime(d.getTime() + (exdays*24*60*60*1000));
      var expires = "expires="+ d.toUTCString();
      document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
  }

  function getCookie(cname) {
      var name = cname + "=";
      var decodedCookie = decodeURIComponent(document.cookie);
      var ca = decodedCookie.split(';');
      for(var i = 0; i <ca.length; i++) {
          var c = ca[i];
          while (c.charAt(0) == ' ') {
              c = c.substring(1);
          }
          if (c.indexOf(name) == 0) {
              return c.substring(name.length, c.length);
          }
      }
      return null;
  }

  function checkAcceptedCookies() {
    console.log("checkAcceptedCookies");
    console.log(getCookie('acceptedCookies'));
    if (!getCookie('acceptedCookies'))
    {
      setVisibleCookieBanner();
    }
  }

  function acceptCookies() {
    setCookie("acceptedCookies", true, 365);
    setHiddenCookieBanner();
  }

  function setVisibleCookieBanner() {
    console.log("setVisibleCookieBanner");
    var x = document.getElementById("CookieAlert");
    x.style.visibility = "visible";
  }

  function setHiddenCookieBanner() {
    console.log("setHiddenCookieBanner");

    var x = document.getElementById("CookieAlert");
    x.style.visibility = "hidden";
  }

  checkAcceptedCookies();
</script>

<script type="text/javascript" src="/assets/jquery.min.js"></script>
<script type="text/javascript" src="/assets/foundation.min.js"></script>
<script>$(document).foundation();</script>
