<html lang="es">
  {{> common/head}}
  {{> common/language-bar}}
  <body>
    <div class="webpage">
      {{> common/menu-bar}}
      <div class="large-12 row all-content" role="main">
        {{{body}}}
      </div>
    </div>
  </body>
  {{> common/footer}}
  {{> common/cookies}}
</html>
{{> common/javascript-loaders}}
