<title>Contacte</title>
<div>
  <h3>La Nostra adreça:</h3>
  <address>
    C/ del Mare de Deu del Pilar, 15 principal<br>
    08003 Barcelona<br>
    <br>
    {{#if isEs}}<strong>Estación de Metro</strong>:{{/if}}{{#if isCat}}<strong>Estació de Metro</strong>:{{/if}}{{#if isEn}}<strong>Metro</strong>: {{/if}}
    <br>
    Urquinaona (<strong>L1</strong>, <strong>L4</strong>)
  </address>
  <div>
  </div>
  <h4>Telèfons:</h4>
  <address>
    93 295 57 93<br>
    629 577 430
  </address>
  <h4>Correu electrònic:</h4>
  <address>info@babelpuntodeencuentro.org</address>
  <h3>Mapa:</h3>
  <div>
    <iframe frameborder="0" height="450" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2993.3882889605875!2d2.1763260999999914!3d41.387373199999956!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a4a2fa45739a25%3A0x306457be8cd01c32!2sCarrer+de+la+Mare+de+D%C3%A9u+del+Pilar%2C+15%2C+08003+Barcelona%2C+Spain!5e0!3m2!1sen!2suk!4v1406817799959" style="border:0" width="600">
    </iframe>
  </div>
</div>