<title>Cooperació internacional</title>
<div>
  <div>
    <h2>Projecte Beques </h2>
    <h3>Definició del projecte</h3>
    <div>S'ofereixen beques a alumnes de l'escola Kalasans del barri de Sam Sam per la seva escolarització permanent. S'ofereixen beques a exalumnes perquè puguin accedir a una feina digna.</div>
    <div>
      <img src=/assets/coop-int-1.jpg>
      <em>L'any 2012 s'han becat a 75 alumnes, beques que fomenten l'emancipació, el desenvolupament i l'enriquiment del subjecte en el marc de la societat senegalesa.</em>
    </div>
    <h3>Objectius:</h3>
    <ul>
      <li>Aconseguir estabilitzar progressivament la quantitat de beques per assegurar els recursos necessaris que permetin l'escolarització permanent dels alumnes de l'escola.</li>
      <li>Cobrir les despeses de llibres i material escolar i manteniment de l'escola.</li>
      <li>Reduir l'atur.</li>
    </ul>
  </div>
  <hr>
  <div>
    <h2>Projecte Centre Femení</h2>
    <h3>Definició del projecte</h3>
    <div>S'imparteixen classes a dones d'entre 15 i 25 anys on aprenen informàtica, costura i brodat i venen els seus treballs en el mercat.</div>
    <div>
      <img src=/assets/coop-int-2.jpg>
      <em>Durant 2012 s'han matriculat 140 dones. Aquest any s'ha conclòs construcció d'una Escola d'Hostaleria i la infraestructura necessària per poder realitzar la formació.</em>
    </div>
    <h3>Objectius:</h3>
    <ul>
      <li>Obrir horitzons a les joves i fomentar el desenvolupament i el protagonisme de les seves vides perquè millorin la seva autoestima.</li>
      <li>Fer-ho en el marc de la seva pròpia cultura sense confrontar-la amb el seu entorn.</li>
    </ul>
  </div>
  <hr>
  <div>
    <h2>Financiació de Microprojectes</h2>
    <h3>Definició del projecte</h3>
    <div>
      Finançar una sèrie de projectes per a la construcció de:
    </div>
    <ul>
      <li> Pous.</li>
      <li> Motobombes.</li>
      <li> Construcció de cisternes per a la recollida de l'aigua de la pluja.</li>
      <li> Desenvolupament agrícola.</li>
      <li> Millora de plantació agrícola.</li>
      <li> La construcció d'una tanca d'hort.</li>
    </ul>
    <h3>Objectius:</h3>
    <ul>
      <li>Possibilitar una autonomia econòmica, l'autogestió i la producció cooperativista.</li>
      <li>Superar la pobresa en què es troben sense que hagin de renunciar al seu país d'origen.</li>
    </ul>
  </div>
  <div>
    <h2>Colonies dels nens/es de l'Escola Kalasans.</h2>
    <div>
      Cada any la Fundació vol apropar per uns dies als nens a una realitat allunyada de la pressió demogràfica i econòmica del <strong>barri de Sam Sam de Dakar</strong>.
    </div>
    <div>Aquest projecte pretén fomentar el treball en equip, així com la convivència i l'esperit comunitari.</div>
    <div>
      <img src=/assets/coop-int-3.jpg>
      <em>Durant l'any 2012 s'han finançat 50 beques de colònies per a nens i nenes del barri de Sam Sam.</em>
    </div>
  </div>
  <div>
    <h2>Casa d'Acollida</h2>
    <h3>Orfenat <em>Le Source Du Bonheur</em></h3>
    <div>
      Aquest projecte neix amb l'objectiu de mantenir una casa d'acollida a la ciutat de Ciguinchor (El Senegal) que pugui acollir nens / es i joves de la regió de Casamance que no tenen família o la família no pot fer-se càrrec d'ells / es .
    </div>
    <div>
      Inicialment, la casa estava destinada a acollir joves majors de 12 anys que, per la seva edat, ja no poden romandre en altres orfenats perquè la llei o el reglament ho impedeixen. El poder acollir en aquesta casa faria possible la continuïtat de la seva escolarització en les escoles i permetria garantir així una educació que no podrien rebre si tornessin a casa. Per totes aquestes raons, és totalment necessari la creació d'un nou orfenat, per poder donar així l'oportunitat a tots els nounats a tenir una vida digna, ja que són víctimes d'unes circumstàncies totalment alienes a ells i per tant, amb el nou projecte, aquests tindran una oportunitat de viure i créixer com a persones en un entorn saludable i gestinat per persones que els donaran uns valors i ensenyaments de vida i una educació per a una futura integració a la societat.
    </div>
    <div>
      <img src=/assets/coop-int-4.jpg>
      <em>La missió del projecte consisteix en donar als nens / es i joves una digna educació que els permeti crear les condicions d'una vida més digna i més respectuosa.</em>
    </div>
    <h3>Objectius:</h3>
    <ul>
      <li>Acollir nens i nenes que no tenen família i nens en situació difícil.</li>
      <li>Construir un orfenat més gran i adequat.</li>
    </ul>
  </div>
</div>