<h2>
  <strong>El nou Projecte ARTÍFEX</strong>
</h2>
<h3>
  Projecte de Coaching Social Sistèmic
</h3>
<div>
  &nbsp;
</div>
<div>
  L'origen de la idea del Projecte Artífex sorgeix de la voluntat d'aportar les estratègies i orientacions del coaching social a la societat perquè puguin ser incorporades en els processos de desenvolupament personal , social i laboral , i més especialment en els de les persones amb risc d'exclusió social i en els processos dels agents que treballen en els serveis socials , educatius , d'atenció a l'usuari i al desocupat , etc .
</div>
<div>
  <p>
    Ens dirigim a persones que estan vivint una situació de desorientació o insatisfacció , que els produeix malestar i patiment , i que tenen voluntat de tirar endavant però no tenen els recursos o no coneixen les eines per fer-ho.
  </p>
  <p>
    Realitzem amb elles un procés de coaching que les porti a descobrir els seus recursos , definir les seves prioritats vitals , dissoldre patrons no útils i tornar a connectar amb elles mateixes .
  </p>
  <p>
    Aquesta <strong>nova mirada de la realitat obre un camí possible que els portarà a teixir la seva vida</strong> .
  </p>
  <p>
    El projecte compta amb el treball en Xarxa d'un equip de coaches especialistes en Coaching Sistèmic i entitats derivants com poden ser els Serveis Socials , d'Ocupació i / o entitats en contacte amb les persones beneficiàries de l'acció.
  </p>
  <p>
    Finalment , també volem destacar que l'equip de coaches del projecte es crea en col·laboració amb el Grup de Coaching Sistèmic del Màster de Coaching Sistèmic de la UAB . Les persones que formin part de l'equip de coaches dediquen una part de la seva tasca en el projecte de manera VOLUNTÀRIA i , a més , algunes d'elles són coaches en PRÀCTIQUES guiats per professionals en el camp .
  </p>
  <p>
    &nbsp;
  </p>
  <p>
    <u>Per a més informació i per demanar hora,&nbsp; podeu contactar amb nosaltres a:</u>
  </p>
  <p>
    <strong>Telèfons</strong>: 629 57 74 30 o 93 295 57 93
  </p>
  <p>
    <strong>Correu:</strong> info@babelpuntodeencuentro.org
  </p>
  <p>
    www.facebook.com/babelpde
  </p>
  <h2>
    PROCÉS INDIVIDUAL DE COACHING SOCIAL
  </h2>
  <p>
    [[{"type":"media","view_mode":"media_original","fid":"427","attributes":{"alt":"","class":"media-image","height":"718","typeof":"foaf:Image","width":"910"}}]]
  </p>
  <h2>
    TALLERS DE FORMACIÓ EN TÈCNIQUES DE COACHING (PENDENT D'INICI)
  </h2>
  <h2>
    [[{"type":"media","view_mode":"media_original","fid":"428","attributes":{"alt":"","class":"media-image","height":"718","typeof":"foaf:Image","width":"911"}}]]
  </h2>
  <h2>
    &nbsp;
  </h2>
  <h2>
    &nbsp;
  </h2>
  <hr>
  <h2>
    <strong>Projecte Ponts</strong>
  </h2>
  <h3>
    Espai per a la integració de l'immigrant i la seva família.
  </h3>
  <div>
    <div>
      El projecte Ponts vol tenir un impacte directe en la qualitat de vida de les persones nouvingudes a la nostra societat, que es troben en una situació de vulnerabilitat o risc d'exclusió social, utilitzant la interculturalitat com a base del projecte.
    </div>
    <div>
      &nbsp;
    </div>
    <div>
      L'origen de la idea del Projecte Ponts sorgeix amb el creixement de la immigració dels últims temps. Per al nouvingut migrar pot convertir-se en una ocasió de creixement si té l'oportunitat de posar en marxa els recursos psicològics i socials per afrontar-la.
    </div>
  </div>
  <div>
    &nbsp;
  </div>
  <h3>
    Definició del Projecte:
  </h3>
  <div>
    Es centra en la dimensió psicològica de la migració que abasta les relacions familiars, interpersonals i les relacions amb la societat d'acollida.
  </div>
  <div>
    &nbsp;
  </div>
  <h3>
    Objectius:
  </h3>
  <ul>
    <li>Establir ponts de comunicació, comprensió i col · laboració.
    </li>
    <li>Oferir un espai d'acompanyament, suport i intercanvi als individus i famílies que es trobin en un procés migratori.
    </li>
    <li>Incrementar les habilitats de les persones i les famílies perquè puguin manejar els canvis i efectes de la migració.
    </li>
  </ul>
  <p>
    &nbsp;
  </p>
</div>
<div>
  <hr>
</div>
<h2>
  <strong>Cicles Interversia (Finalitzat)</strong>
</h2>
<p>
  &nbsp;
</p>
<div>
  <div>
    Els Cicles Interversia de la Fundació Babel Punt de Trobada estan pensats per a millorar la comprensió de l'entorn i d'un mateix en l'àmbit dels processos migratoris a través del coneixement de qualitat.
  </div>
  <div>
    &nbsp;
  </div>
  <div>
    Interversia són uns cicles de xerrades gratuïtes destinades a persones interessades i relacionades amb la immigració, el principal objectiu del es quals és millorar el coneixement tant de l'entorn com d'un mateix, i aprendre a utilitzar-lo com a nexe d'interacció.
  </div>
  <div>
    &nbsp;
  </div>
  <div>
    Reconèixer la percepció que tenim de la societat en què vivim, aprendre a canviar la imatge que la societat té de nosaltres mateixos; com viure a la ciutat, creant la teva pròpia identitat, aprenent a participar del que la ciutat t'ofereix i com interaccionar amb ella, o com enfrontar-se al món laboral, amb les seves discriminacions i les seves oportunitats, són alguns dels temes que es tracten en les xerrades de Interversia.
  </div>
  <div>
    &nbsp;
  </div>
  <div>
    Les xerrades, a les que ens agrada anomenar "Diàlegs formatius", van a càrrec de grans especialistes en els seus àmbits professionals i d'estudi. Pretenem crear cercles informals d'interacció en què l'horitzontalitat sigui la base de la comunicació intercultural, entesa com a intercanvi de coneixements.
  </div>
  <div>
    &nbsp;
  </div>
  <div>
    En acabar el cicle, els assistents reben un diploma acreditatiu de la participació per part de la Fundació Babel Punt de Trobada.
  </div>
  <div>
    &nbsp;
  </div>
  <div>
    [[{"type":"media","view_mode":"media_original","fid":"369","attributes":{"alt":"","class":"media-image","height":"1552","typeof":"foaf:Image","width":"2592"}}]]
  </div>
  <address>
    A través dels projectes PONTS, ARTÍFEX i INTERVERSIA la Fundació treballa temes relacionats amb l'àmbit de la immigració i de l'educació per al desenvolupament a Barcelona.
  </address>
</div>
