<div>
  &nbsp;
</div>
<ul>
  <li>Una fundació independent i sense afany de lucre de caràcter solidari, social i cultural.
  </li>
  <li>A través dels projectes d'educació potenciem el desenvolupament de la persona orientant-la cap a la formació i l'autogestió.
  </li>
  <li>Treballem amb les persones immigrades per tal de facilitar la seva integració sese oblidar el país d'origen i la seva cultura.&nbsp;
  </li>
  <li>Treballem amb trasparència, austeritat i sense protagonismes.&nbsp;
  </li>
  <li>Volem que la convivència sigui un factor clau: de futur, de progrés i d'estabilitat social. La nostra tasca està orientada a contribuir per a un context internacional estable, pacífic i segur per a tots i totes.&nbsp;
  </li>
</ul>
<h3 class="p1">
  “Serem demà el que ara gestionem”
</h3>
<p>
  [[{"type":"media","view_mode":"media_original","fid":"375","attributes":{"alt":"","class":"media-image","height":"1704","typeof":"foaf:Image","width":"2272"}}]]
</p>
<address>
  Actualment la Fundació Babel Punt de Trobada compta amb 2 treballadores, 15 voluntaris, 10 membres de patronat i 140 socis, que dia a dia uneixen esforços per contribuir al desenvolupament personal i social d'immigrants i residents.
</address>
