<p>
  &nbsp;
</p>
<p class="p1">
  <strong>ANDREU CLAPÉS I FLAQUÉ</strong>
</p>
<p class="p1">
  President de la Fundación BPDE, és llicenciat en Història i màster en direcció d'empresa per la universitat de Deusto i per EADA. Ha estat professor de secundaria i director d'escoles durant 28 anys. Durant els JJOO de Barcelona va ser el director de l'oficina d'atenció al voluntariat participant en aquest projecte des de l'inici. Fotògraf d'afició, ha muntat diverses exposicions sobre temes del tercer món. Té diverses publicacions i actualment està de gerent d'una fundació de Sitges.&nbsp;
</p>
<hr>
<p class="p2">
  <strong>JOSEP Mª RIERA</strong>
</p>
<p class="p1">
  Llicenciat en Història Moderna i Contemporània, és impressor i editor d'ofici. També és autor de 10 llibres, principalment novel•les.
</p>
<div>
  Sempre implicat, ha participat activament en diverses ONGs i moviments associatius. És el Vocal de la Fundació BPDE des dels seus inicis.
</div>
<div>
  &nbsp;
</div>
<hr>
<p class="p2">
  <strong>FERRAN SANS</strong>
</p>
<p class="p1">
  És escolapi, Vicepresident de la Fundació des dels seus inicis i la nostra contrapart al Senegal. Va estar 20 anys com a mestre en una escola pública d'un barri popular de Las Arenas a Terrassa, on després del seu pas van crear l'Associació "Amics d'en Ferran".Des de l’any 1990 està al Senegal, i ha treballat durant 5 anys en un projecte d'alfabetització de diferents barris de la capital i en una escola alternativa de primària en un barri dels afores de Pikine, ciutat satèl•lit de Dakar. A més és l'ànima de l'escola Kalassans del barri de Sam Sam en l'extraradi de Dakar i actualment és també molt present a la nova escola de Thiaroye.
</p>
<hr>
<p class="p1">
  <strong>JUAN IGNACIO SANS</strong>
</p>
<p class="p1">
  Diplomat en Turisme i en gestió pública. Professional de la comunicació pública i social. Ex Editor. Actualment treballa com a director de comunicació de l'Ajuntament de Sant Cugat del Vallès. Ha estat des de sempre molt vinculat al món associatiu veïnal i estudiantil . És el Secretari de la Fundació BPDE Punt de Trobada des dels seus inicis.
</p>
<hr>
<p class="p1">
  <strong>CARLOS MIRANDA</strong>
</p>
<p class="p1">
  Economista i dedicat a la solidaritat a la que considera un dels valors humans per excel•lència. Es vocal de la Fundació.
</p>
<hr>
<p class="p2">
  <strong>IGNACIO SANS</strong>
</p>
<p class="p1">
  &nbsp;
</p>
<div>
  Estudiant d’educació social, ha treballat al CRAE(centre residencial d'acció educativa) com a educador social. Ha estat monitor d'escoles i activitats extraescolars i coordina campanyes interactives de rerefons social.
</div>
<div>
  És vocal de BPDE des de la seva fundació, i col•labora activament en tots els esdeveniments que s'organitzen a més de donar xerrades sobre aquesta en col•legis.
</div>
<div>
  &nbsp;
</div>
<hr>
<p class="p2">
  <strong>BORJA SANS</strong>
</p>
<p class="p1">
  Sociòleg, actualment treballa en Sinergia Value, empresa especialitzada en la comunicació social, una de les seves passions. Ha col•laborat amb la Fundació Jaume Bofill en el plànol de Desigualtats Socials i a més de ser vocal de la Fundació BPDE des dels seus inicis col•labora activament en totes les activitats que la mateixa organitza.
</p>
<hr>
<p class="p2">
  <strong>FELIX CASTILLO&nbsp;</strong>
</p>
<p class="p1">
  &nbsp;
</p>
<div>
  Psicòleg, Psicoterapeuta Familiar, Coach Personal i Consultor Organitzacional. És el cap d'Estudis del Màster de Teràpia de la Universitat Autònoma de Barcelona en l'Hospital de Sant Pau.
</div>
<div>
  És vocal de la Fundació BPDE des dels seus inicis i col•labora activament en el Projecte Puentes (ajuda psicològica en els processos d'integració dels immigrants), projecte que ha posat en marxa junt amb la Fundació.
</div>
<div>
  &nbsp;
</div>
<hr>
<p class="p2">
  <strong>JAVIER GARCIA BONOMI</strong>
</p>
<p class="p1">
  &nbsp;
</p>
<div>
  Advocat i Màster en dret de la Unió Europea. És Fundador de la Xarxa Solidària Barcelona, entitat que té com a objectiu l'atenció a l'immigrant, i Fundador i president de FEDELATINA (Federació d'Entitats Llatinoamericanes de Catalunya), que reuneix a 104 entitats interessades en el món de la immigració. En l'àmbit de la comunicació impulsa programes de ràdio i publicacions que difonen la realitat de Llatinoamèrica i de la immigració resident en Catalunya.
</div>
<div>
  És vocal de la Fundació BPDE, a la què està molt lligat.
</div>
<div>
  &nbsp;
</div>
<hr>
<p class="p2">
  <strong>MIREIA GALOBART</strong>
</p>
<p class="p1">
  &nbsp;
</p>
<div>
  Llicenciada en química, és religiosa i titular de l'Escola Infant Jesús de Barcelona. Actualment provincial participa en activitats de voluntariat i catequesi. És conciliaria de l'ACO. És vocal de la Fundació BPDE Punt de Trobada, i col•labora en les activitats que organitza la Fundació especialment en el camp de la cooperació internacional al Senegal.
</div>
<div>
  &nbsp;
</div>
<p>
  &nbsp;
</p>
