  <li><a href="/cat/">Inici</a></li>
  {{#if tumblr_on}}<li><a href="/cat/noticies">Noticies</a></li>{{/if}}
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> Qui som?<span class="caret"></span></a>
    <ul class="dropdown-menu inverse-dropdown" role="menu">
      {{#if tumblr_on}}
      <li><a href="/cat/la_fundacio">La Fundació</a></li>
      <li class="divider"></li>
      {{else}}      
      {{/if}}
      <li><a href="/cat/membres_patronat">Membres Patronat</a></li>
      <li><a href="/cat/voluntaris">Voluntaris</a></li>
    </ul>
  </li>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> Qui fem?<span class="caret"></span></a>
    <ul class="dropdown-menu inverse-dropdown" role="menu">      
      <li><a href="/cat/projectes">Projectes</a></li>
      <li class="divider"></li>
      <li><a href="/cat/cooperacio_internacional"> Cooperació internacional </a></li>
      <li><a href="/cat/immigracio_accio_social">Immigració i acció social</a></li>
      <li class="divider"></li>
      <li><a href="/cat/memoria_activitats">Memòria d'activitats</a></li>
    </ul>
  </li>
  <li><a href="/cat/que_pots_fer_tu">Que pots fer tu?</a></li>
  <li><a href="/cat/contacte"> Contacte </a></li>