  <li><a href="/content/cat/">Inici</a></li>
  <li><a href="/content/cat/noticies">Noticies</a></li>
  <li><a href="/content/cat/contacte"> Contacte </a></li>
  <li><a href="/content/cat/cooperacio_internacional"> Cooperació internacional </a></li>
  <li><a href="/content/cat/immigracio_accio_social">Immigració i acció social</a></li>
  <li><a href="/content/cat/la_fundacio">La Fundació</a></li>
  <li><a href="/content/cat/membres_patronat">Membres Patronat</a></li>
  <li><a href="/content/cat/memoria_activitats">Memòria d'activitats</a></li>
  <li><a href="/content/cat/projectes">Projectes</a></li>
  <li><a href="/content/cat/que_pots_fer_tu">Que pots fer tu?</a></li>
  <li><a href="/content/cat/qui_som">Qui som?</a></li>
  <li><a href="/content/cat/voluntaris">Voluntaris</a></li>