<h3>
  <strong>La nostra filosofia en la cooperació per al desenvolupament:</strong>
</h3>
<p>
  &nbsp;
</p>
<div>
  Des de la Fundació BPDE entenem que les actuacions realitzades per actors públics i privats, entre països de diferent nivell de renda fan tenir el propòsit de promoure el progrés econòmic i social dels països del sud, de manera que sigui més equilibrat en relació amb els països del nord, i sigui sostenible.
</div>
<div>
  &nbsp;
</div>
<div>
  La nostra Fundació concep el desenvolupament com auto-desenvolupament, ningú desenvolupa a ningú, les persones, els pobles, les cultures i nacions es desenvolupen elles mateixes. L'"altre" pot ajudar, afavorir, contribuir, facilitar, però també impedir, obstaculitzar, etc.
</div>
<div>
  &nbsp;
</div>
<div>
  Coincidim en una concepció multidimensional del desenvolupament, de la qual podem expressar sis grans dimensions:
</div>
<div>
  &nbsp;
</div>
<div>
  • La pau, base fonamental i prerequisit del desenvolupament.
</div>
<div>
  • L'economia, el creixement entès com a motor del progrés.
</div>
<div>
  • El medi ambient i la protecció de l'ecologia sostenible.
</div>
<div>
  • La justícia, pilar de la vida social.
</div>
<div>
  • La participació i la democràcia, entesos com a requisits i bases del bon govern.
</div>
<div>
  • Els valors, com a base de totes les nostres actuacions i forma de relació.
</div>
<div>
  &nbsp;
</div>
<p>
  [[{"type":"media","view_mode":"media_original","fid":"367","attributes":{"alt":"","class":"media-image","height":"1003","typeof":"foaf:Image","width":"1510"}}]]
</p>
<address>
  Malgrat les dificultats, buscar recursos i estratègies per arribar a temps a classe.
</address>
<div>
  <h3 class="p1">
    &nbsp;
  </h3>
  <h3 class="p1">
    <strong>On intervenim</strong>
  </h3>
</div>
<div>
  &nbsp;
</div>
<p>
  Actuem al <strong>Senegal</strong>, més concretament al barri de <strong>Sam Sam</strong>, situat al districte de Diamaguéne-SICAP M'Bao de la ciutat de <strong>Pikine</strong>, la qual pertany a la regió de <strong>Dakar</strong>.
</p>
<p>
  La permanent situació de pobresa, la precarietat econòmica i la necessitat de subsistir dia a dia, és l'única preocupació dels seus habitants.
</p>
<p>
  La manca d'escolarització de nens i joves, i l'elevat atur, són un dels motius pels quals <strong>BPDE</strong> ha escollit treballar allà.
</p>
<p>
  [[{"type":"media","view_mode":"media_original","fid":"368","attributes":{"alt":"","class":"media-image","height":"1536","typeof":"foaf:Image","width":"2048"}}]]
</p>
<p>
  Ferran Sans, vicepresident de BPDE, és el responsable de supervisar i gestionar els recursos perquè es garanteixi la transparència i bona gestió dels ingressos de l'organització. Ell pertany a l'ordre dels escolapis que són els responsables de l'"Association Education Solidaire" (AES), contrapart al Senegal. És aquesta associació l'encarregada de desenvolupar els projectes in situ i de donar-li continuïtat, cal destacar que fa més de 30 anys que aquesta comunitat treballa per a l'escolarització de nens, fomenta escoles alternatives i pràctiques professionals per a joves en diferents zones geogràfiques.
</p>
<div>
  &nbsp;
</div>
<h2 class="p2">
  <a href="cooperacioninternacional">Llistat de Projectes de Cooperació Internacional</a>
</h2>
<h2 class="p2">
  <a href="inmigracionyaccionsocial">Llistat de Projectes Nacionals d'Immigració i Acció Social</a>
</h2>
<p class="p2">
  &nbsp;
</p>
