<title>Projectes</title>
<div>
  <div>
    <h3><strong>La nostra filosofia en la cooperació per al desenvolupament:</strong></h3>
    <div>
      Des de la Fundació BPDE entenem que les actuacions realitzades per actors públics i privats, entre països de diferent nivell de renda fan tenir el propòsit de promoure el progrés econòmic i social dels països del sud, de manera que sigui més equilibrat en relació amb els països del nord, i sigui sostenible.
    </div>
    <div>
      La nostra Fundació concep el desenvolupament com auto-desenvolupament, ningú desenvolupa a ningú, les persones, els pobles, les cultures i nacions es desenvolupen elles mateixes. L'"altre" pot ajudar, afavorir, contribuir, facilitar, però també impedir, obstaculitzar, etc.
    </div>
    <div>
      Coincidim en una concepció multidimensional del desenvolupament, de la qual podem expressar sis grans dimensions:
    </div>
    <ul>
      <li>La pau, base fonamental i prerequisit del desenvolupament.</li>
      <li>L'economia, el creixement entès com a motor del progrés.</li>
      <li>El medi ambient i la protecció de l'ecologia sostenible.</li>
      <li>La justícia, pilar de la vida social.</li>
      <li>La participació i la democràcia, entesos com a requisits i bases del bon govern.</li>
      <li>Els valors, com a base de totes les nostres actuacions i forma de relació.</li>
    </ul>
    <div>
      <img class='img-responsive' src=/assets/proyectos-1.jpg>
      <em>Malgrat les dificultats, buscar recursos i estratègies per arribar a temps a classe.</em>
    </div>
  </div>
  <div>
    <h3><strong>On intervenim</strong></h3>
    <div>
      Actuem al <strong>Senegal</strong>, més concretament al barri de <strong>Sam Sam</strong>, situat al districte de Diamaguéne-SICAP M'Bao de la ciutat de <strong>Pikine</strong>, la qual pertany a la regió de <strong>Dakar</strong>.
    </div>
    <div>
      La permanent situació de pobresa, la precarietat econòmica i la necessitat de subsistir dia a dia, és l'única preocupació dels seus habitants.
    </div>
    <div>
      La manca d'escolarització de nens i joves, i l'elevat atur, són un dels motius pels quals <strong>BPDE</strong> ha escollit treballar allà.
    </div>
    <div><img class='img-responsive' src=/assets/proyectos-2.jpg></div>
    <div>
      Ferran Sans, vicepresident de BPDE, és el responsable de supervisar i gestionar els recursos perquè es garanteixi la transparència i bona gestió dels ingressos de l'organització. Ell pertany a l'ordre dels escolapis que són els responsables de l'"Association Education Solidaire" (AES), contrapart al Senegal. És aquesta associació l'encarregada de desenvolupar els projectes in situ i de donar-li continuïtat, cal destacar que fa més de 30 anys que aquesta comunitat treballa per a l'escolarització de nens, fomenta escoles alternatives i pràctiques professionals per a joves en diferents zones geogràfiques.
    </div>
  </div>
</div>  