<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
  <input name="cmd" type="hidden" value="_s-xclick"> <input name="hosted_button_id" type="hidden" value="9Y3RG3CA2JK6C"> <input alt="PayPal. La forma rápida y segura de pagar en Internet." border="0" name="submit" src="https://www.paypalobjects.com/es_ES/ES/i/btn/btn_donateCC_LG.gif" type="image"> <img alt="" border="0" height="1" src="https://www.paypalobjects.com/es_ES/i/scr/pixel.gif" width="1">
</form>
<p>
  &nbsp;
</p>
<hr>
<h2>
  <a href="http://babelpuntodeencuentro.org/sites/default/files/babel_form.pdf" style="font-size: 12px;" target="_blank">Formulari per a Donacions i Beques d'Estudi</a>
</h2>
<hr>
<h2>
  <strong>Vols ser voluntari?</strong>
</h2>
<h3>
  <strong>Pla de Voluntariat i Formació.</strong>
</h3>
<p>
  &nbsp;
</p>
<div>
  Des de la Fundació BPDE estem treballant en el projecte "PLA DE FORMACIÓ, COMUNICACIÓ I ACCIÓ DEL VOLUNTARIAT DE PROXIMITAT" que té com a objectiu general potenciar les estratègies, entre elles el voluntariat de proximitat, que signifiquin l'empoderament dels individus com un instrument que redueix les diferències econòmiques, de gènere, socials, i territorials de les societats, des d'un treball multidisciplinari.
</div>
<div>
  &nbsp;
</div>
<div>
  <div>
    El projecte està dirigit en primer lloc a voluntaris/es i estudiants, i en segon lloc a investigadors, treballadors i tècnics i professionals vinculats a l'Àfrica Negra, Senegal i la immigració i la interculturalitat.
  </div>
  <div>
    &nbsp;
  </div>
  <div>
    Les accions que proposem per aconseguir el nostre objectiu són:
  </div>
  <ul>
    <li>Crear i consolidar el pla de voluntariat de proximitat incloent un espai de formació, comunicació i treball.
    </li>
  </ul>
  <ul>
    <li>Reforçar i consolidar la modernització i actualització de les eines comunicatives, de les xarxes, i l'espai de dinamització del voluntariat i del seu centre de recursos.
    </li>
  </ul>
  <p>
    &nbsp;
  </p>
  <div>
    Malgrat l'actual context desfavorable, les societats treballen per a la reducció d'aquestes necessitats i desigualtats a partir de diversos mecanismes. Les persones d’aquestes societats volen treballar per aconseguir reduir aquestes desigualtats i convertir-se en agents actius de desenvolupament, així com a solucionar les mancances de coneixement en relació a aquests ciutadans nouvinguts i la seva cultura.
  </div>
</div>
<div>
  <p>
    El voluntariat sorgeix com a resposta de la societat civil a les anomenades necessitats específiques.&nbsp;
  </p>
</div>
<div>
  &nbsp;
</div>
<div>
  <strong>Si vols formar part del nostre equip de persones voluntaries i d'aquest pla de formació, comunicació i voluntariat, només cal que et posis en contacte amb nosaltres i concertarem una reunió per tal d'explicar-te el nostre projecte de fundació.</strong>
</div>
