<div>
  &nbsp;
</div>
<ul>
  <li class="p1">Una fundació independent i sense afany de lucre de caràcter solidari, social i cultural.
  </li>
  <li class="p1">A través dels projectes d'educació potenciem el desenvolupament de la persona orientant-la cap a la formació i l'autogestió.
  </li>
  <li class="p1">Treballem amb les persones immigrades per tal de facilitar la seva integració sese oblidar el país d'origen i la seva cultura.&nbsp;
  </li>
  <li class="p1">Treballem amb trasparència, austeritat i sense protagonismes.&nbsp;
  </li>
  <li class="p1">Volem que la convivència sigui un factor clau: de futur, de progrés i d'estabilitat social. La nostra tasca està orientada a contribuir per a un context internacional estable, pacífic i segur per a tots i totes.&nbsp;
  </li>
</ul>
<h3 class="p1">
  “Serem demà el que ara gestionem”
</h3>
<div>
  &nbsp;
</div>
<p>
  <div><img src=/assets/quienes-somos-1.jpg></div> [[{"type":"media","view_mode":"media_original","fid":"374","attributes":{"alt":"","class":"media-image","height":"1365","typeof":"foaf:Image","width":"2048"}}]]
</p>
