<title>Qui som?</title>
<div>
  <ul>
    <li>Una fundació independent i sense afany de lucre de caràcter solidari, social i cultural.</li>
    <li>A través dels projectes d'educació potenciem el desenvolupament de la persona orientant-la cap a la formació i l'autogestió.</li>
    <li>Treballem amb les persones immigrades per tal de facilitar la seva integració sese oblidar el país d'origen i la seva cultura.</li>
    <li>Treballem amb trasparència, austeritat i sense protagonismes.</li>
    <li>Volem que la convivència sigui un factor clau: de futur, de progrés i d'estabilitat social. La nostra tasca està orientada a contribuir per a un context internacional estable, pacífic i segur per a tots i totes. </li>
  </ul>
  <h3>“Serem demà el que ara gestionem”</h3>
  <div><img src=/assets/quienes-somos-1.jpg></div>    
</div>
