<div class="large-3 columns project-item">
  <img src=/assets/proyectos-escolarizacion.jpg>
  <div class="empty"> </div>
  <div class="box align-self-bottom">
    <a href="/es/proyectos_becas_escolarizacion">
      <h6>BECAS DE ESCOLARIZACIÓN</h6>
    </a>
    <div class="description">Cooperación Internacional | Educación</div>
    <div class="location">Dakar, Senegal</div>
    <div class="project-item-buttons ">
      <a class="button " href="#">INFÓRMATE</a>
      <a class="button " href="#">COLABORA</a>
    </div>
  </div>  
</div>