<div class="project-item column small-12 medium-6 large-3">
  <img class="image" id="thumb-casa-acogida" alt="Casa de Acogida" src=/assets/thumb-proyecto-casa-acogida.jpg>
  <div class="project-item-description">
    <div class="title">CASA DE ACOGIDA</div>
    <div class="description">Cooperación Internacional | Educación</div>
    <div class="location">Dakar, Senegal</div>
  </div>
  <div class="column buttons">
    <div class="column small-6 button">
      <a class="" href="/es/proyectos_casa_de_acogida">INFÓRMATE</a>
    </div>
    <div class="column small-6 button">
      <a class="" href="/es/dona">COLABORA</a>
    </div>
  </div>
</div>
