<div class="project-item row large-12">
  <div class="">
    <img class="row column large-12" id="thumb-casa-acogida" src=/assets/thumb-proyecto-casa-acogida.jpg>
    <div class="column large-12 project-item-description">
      <h6>CASA DE ACOGIDA</h6>
      <div class="description">Cooperación Internacional | Educación</div>
      <div class="location">Dakar, Senegal</div>
    </div>
    <div class="row column large-12">
      <div class="column mexdium-6 large-12">
        <a class="button column large-12" href="/es/proyectos_casa_de_acogida">INFÓRMATE</a>
      </div>
      <div class="column mexdium-6 large-12">
        <a class="button column large-12" href="/es/dona">COLABORA</a>
      </div>
    </div>
  </div>
</div>
