<div class="large-3 columns project-item">
  <img src=/assets/splash-proyecto-casa-acogida.jpg>
  <div class="empty"> </div>
  <div id="casa-acogida-empty-space" class="box align-self-bottom">
    <h6>CASA DE ACOGIDA</h6>
    <div class="description">Cooperación Internacional | Educación</div>
    <div class="location">Dakar, Senegal</div>
    <div class="project-item-buttons ">
      <a class="button " href="/es/proyectos_casa_de_acogida">INFÓRMATE</a>
      <a class="button " href="/es/dona">COLABORA</a>
    </div>
  </div>  
</div>