<div class="project-item column small-12 medium-6 large-3">
  <img class="image" alt="Centro Femenino" src=/assets/thumb-proyectos-centro-femenino.jpg>
  <div class="project-item-description">
    <div class="title">CENTRO FEMENINO</div>
    <div class="description">Cooperación Internacional | Educación</div>
    <div class="location">Dakar, Senegal</div>
  </div>
  <div class="column buttons">
    <div class="column small-6 button">
      <a class="" href="/es/proyectos_centro_femenino">INFÓRMATE</a>
    </div>
    <div class="column small-6 button">
      <a class="" href="/es/dona">COLABORA</a>
    </div>
  </div>
</div>
