<div class="large-3 columns project-item">
  <img src=/assets/proyectos-centro-femenino.jpg>
  <div class="empty"> </div>
  
  <div class="box align-self-bottom">
    <a href="/es/proyectos_centro_femenino">
    
    <h6>CENTRO FEMENINO</h6>
    </a>
    <div class="description">Cooperación Internacional | Educación</div>
    <div class="location">Dakar, Senegal</div>
    <div class="project-item-buttons">
      <a class="button " href="#">INFÓRMATE</a>
      <a class="button " href="#">COLABORA</a>
    </div>
  </div>
</div>

    <!-- <div class="large-3 columns">
      <div class="project-item">

        <img src=/assets/proyectos-centro-femenino.jpg>

        <a href="/es/proyectos_centro_femenino">
          <h6>CENTRO FEMENINO</h6>
        </a>
        <div class="description">Cooperación Internacional | Educación</div>
        <div class="location">Dakar, Senegal</div>
        <div class="project-item-buttons">
          <a class="button " href="#">INFÓRMATE</a>
          <a class="button " href="#">COLABORA</a>
        </div>
      </div>
       <br><br> 
    </div> -->