<div class="large-3 columns project-item">
  <img src=/assets/proyectos-coaching.jpg>
  <div class="empty"> </div>
  <div class="box align-self-bottom">
    <a href="/es/proyectos_coaching_social">
      <h6>COACHING SOCIAL</h6>
    </a>
    <div class="description">Acción social | Educación</div>
    <div class="location">Barcelona</div>
    <div class="project-item-buttons ">
      <a class="button " href="#">INFÓRMATE</a>
      <a class="button " href="#">COLABORA</a>
    </div>
  </div>  
</div>