<div class="project-item row large-12">
  <div class="">
    <img class="row column large-12" alt="Coaching Social" src=/assets/thumb-proyecto-artifex.jpg>
    <div class="column large-12 project-item-description">
      <h6>COACHING SOCIAL</h6>
      <div class="description">Acción social | Educación</div>
      <div class="location">Barcelona</div>
    </div>
    <div class="row column large-12">
      <div class="column mexdium-6 large-12">
        <a class="button column large-12" href="/es/proyectos_coaching_social">INFÓRMATE</a>
      </div>
      <div class="column mexdium-6 large-12">
        <a class="button column large-12" href="/es/dona">COLABORA</a>
      </div>
    </div>
  </div>
</div>
