<div class="project-item column small-12 medium-6 large-3">
  <img class="image" alt="Coaching Social" src=/assets/thumb-proyecto-artifex.jpg>
  <div class="project-item-description">
    <div class="title">COACHING SOCIAL</div>
    <div class="description">Acción social | Educación</div>
    <div class="location">Barcelona</div>
  </div>
  <div class="column buttons">
    <div class="column small-6 button">
      <a class="" href="/es/proyectos_coaching_social">INFÓRMATE</a>
    </div>
    <div class="column small-6 button">
      <a class="" href="/es/dona">COLABORA</a>
    </div>
  </div>
</div>
