<div class="large-3 columns project-item">
  <img src=/assets/proyectos-colonias-verano.jpg>
  <div class="empty"> </div>  
  <div id="colonias-verano-empty-space" class="box align-self-bottom">
    <h6>COLONIAS VERANO</h6>
    <div class="description">Cooperación Internacional | Educación</div>
    <div class="location">Dakar, Senegal</div>
    <div class="project-item-buttons">
      <a class="button " href="/es/proyectos_colonias_de_verano">INFÓRMATE</a>
      <a class="button " href="/es/dona">COLABORA</a>
    </div>
  </div>
</div>