<div class="project-item column small-12 medium-6 large-3">
  <img class="image" alt="Acompañamento Psicológico" src=/assets/thumb-proyecto-puentes.jpg>
  <div class="project-item-description">
    <div class="title">ACOMPAÑAMIENTO PSICOLÓGICO</div>
    <div class="description">Migración | Acción social</div>
    <div class="location">Barcelona</div>
  </div>
  <div class="column buttons">
    <div class="column small-6 button">
      <a class="" href="/es/proyectos_integracion">INFÓRMATE</a>
    </div>
    <div class="column small-6 button">
      <a class="" href="/es/dona">COLABORA</a>
    </div>
  </div>
</div>
