<div class="large-3 columns project-item">
  <img src=/assets/proyectos-integracion.jpg>
  <div class="box align-self-bottom">
    <h6>INTEGRACIÓN DEL INMIGRANTE Y SU FAMILIA</h6>
    <div class="description">Migración | Acción social</div>
    <div class="location">Barcelona</div>
    <div class="project-item-buttons ">
      <a class="button " href="/es/proyectos_integracion">INFÓRMATE</a>
      <a class="button " href="/es/dona">COLABORA</a>
    </div>
  </div>  
</div>