<div class="project-item row large-12">
  <div class="">
    <img class="row column large-12" src=/assets/thumb-proyecto-puentes.jpg>
    <div class="column large-12 project-item-description">
      <h6>ACOMPAÑAMIENTO PSICOLÓGICO</h6>
      <div class="description">Migración | Acción social</div>
      <div class="location">Barcelona</div>
    </div>
    <div class="row column large-12">
      <div class="column mexdium-6 large-12">
        <a class="button column large-12" href="/es/proyectos_integracion">INFÓRMATE</a>
      </div>
      <div class="column mexdium-6 large-12">
        <a class="button column large-12" href="/es/dona">COLABORA</a>
      </div>
    </div>
  </div>
</div>
