<div class="large-3 columns project-item">
  <img src=/assets/proyectos-microproyectos.jpg>
  <div class="empty"> </div>
  <div id="micro-proyectos-empty-space" class="box align-self-bottom">
    <h6>FINANCIACIÓN DE MICROPROYECTOS</h6>
    <div class="description">Cooperación Internacional | Educación</div>
    <div class="location">Senegal</div>
    <div class="project-item-buttons">
      <a class="button " href="/es/proyectos_financiacion_de_microproyectos">INFÓRMATE</a>
      <a class="button " href="/es/dona">COLABORA</a>
    </div>
  </div>
</div>