<div class="project-item column small-12 medium-6 large-3">
  <img class="image" alt="Financiación de Microproyectos" src=/assets/thumb-proyectos-microproyectos.jpg>
  <div class="project-item-description">
    <div class="title">FINANCIACIÓN DE MICROPROYECTOS</div>
    <div class="description">Cooperación Internacional | Educación</div>
    <div class="location">Senegal</div>
  </div>
  <div class="column buttons">
    <div class="column small-6 button">
      <a class="" href="#">INFÓRMATE</a>
    </div>
    <div class="column small-6 button">
      <a class="" href="/es/dona">COLABORA</a>
    </div>
  </div>
</div>
