<div class="large-3 columns project-item">
  <img src=/assets/proyectos-microproyectos.jpg>
  <div class="empty"> </div>

  <div class="box align-self-bottom">
     <a href="/es/proyectos_financiacion_de_microproyectos">
       <h8>FINANCIACIÓN DE MICROPROYECTOS</h8>
    </a>
    <div class="description">Cooperación Internacional | Educación</div>
    <div class="location">Senegal</div>
    <div class="project-item-buttons">
      <a class="button " href="#">INFÓRMATE</a>
      <a class="button " href="#">COLABORA</a>
    </div>
  </div>
</div>