<div class="inner-sponsor-tab-footer"> 
  
  <div class='contact'>
    
    <!-- <div class="contact-social-icons">
      <div class="contact-social-icon">

      </div>
      <div class="contact-social-icon">

      </div>
    </div> -->
      <address id="phones">
        +34 93 295 57 93 
      </address>
      
    <div class="vertical">
      
      <address id="phones">
        
        +34 629 577 430
      </address>
      
      <address>info@babelpuntodeencuentro.org</address>
      
    </div>
      
      <!-- {{#if isEs}}<h4>Teléfonos:</h4>{{/if}}{{#if isCat}}<h4>Telèfons:</h4>{{/if}}{{#if isEn}}<h4>Phones:</h4>{{/if}}           -->
      
  </div>
  
  <div class='address1'>
    <!-- {{#if isEs}}<h4>Dirección (provisional):</h4>{{/if}}{{#if isCat}}<h4>La Nostra adreça (provisional):</h4>{{/if}}{{#if isEn}}<h4>Address (temporary):</h4>{{/if}} -->
    <address>
      Travessera de les Corts, 228 bis, Entresol 3ª,
      08028 Barcelona <br>
      <!-- <br> -->
      <!-- {{#if isEs}}<strong>Estación de Metro</strong>:<br>{{/if}}{{#if isCat}}<strong>Estació de Metro</strong>:{{/if}}{{#if isEn}}<strong>Metro</strong>: {{/if}} -->
      Metro Les Corts (L3)
    </address>
  </div>
  
  <div class='col-xs-12 col-sm-4'>
    <address>
      {{#if isEs}}Lunes: 10-14h, 15-19h. Martes a Jueves: 10-14h. <br> Horario de atenciones, toda la semana con cita previa.{{/if}}
      {{#if isEn}}<h4>Opening times:</h4>  <strong>Mon</strong> 10-14h, 15-19h. <strong>Tue-Thur</strong> 10-14h.{{/if}}
      {{#if isCat}}<h4>Horari:</h4>  <strong>Dilluns</strong>: 10-14h, 15-19h. <strong>Dimarts</strong> a <strong>Dijous</strong>: 10-14h.{{/if}}
    </address>
  </div>
</div>  