        <div class='col-xs-12 col-sm-4'>
          
          {{#if isEs}}<h4>Dirección:</h4>{{/if}}{{#if isCat}}<h4>La Nostra adreça:</h4>{{/if}}{{#if isEn}}<h4>Address:</h4>{{/if}}
          <address>
            C/ del Mare de Deu del Pilar, 15 principal, 
            08003 Barcelona<br>
            {{#if isEs}}<strong>Estación de Metro</strong>:{{/if}}{{#if isCat}}<strong>Estació de Metro</strong>:{{/if}}{{#if isEn}}<strong>Metro</strong>: {{/if}}
            Urquinaona (<strong>L1</strong>, <strong>L4</strong>)
          </address>
          <address>
            {{#if isEs}}Horario:  <strong>Lunes</strong>: 10-14h, 15-19h. <strong>Martes</strong> a <strong>Jueves</strong>: 10-14h. <br> Horario de atenciones, toda la semana con cita previa.{{/if}}
            {{#if isEn}}Opening times:  <strong>Mon</strong> 10-14h, 15-19h. <strong>Tue-Thur</strong> 10-14h.{{/if}}
            {{#if isCat}}Horari:  <strong>Dilluns</strong>: 10-14h, 15-19h. <strong>Dimarts</strong> a <strong>Dijous</strong>: 10-14h.{{/if}}
          </address>
        </div>
        <div class='col-xs-12 col-sm-4'>
          {{#if isEs}}<h4>Teléfonos:</h4>{{/if}}{{#if isCat}}<h4>Telèfons:</h4>{{/if}}{{#if isEn}}<h4>Phones:</h4>{{/if}}          
          <address>
          93 295 57 93 /
          629 577 430
          </address>
        </div>
        <div class='col-xs-12 col-sm-4'>
          <h4>Email:</h4>
          <address>info@babelpuntodeencuentro.org</address>
        </div>