        <div class='col-xs-12 col-sm-4'>
          <h4>Dirección:</h4>
          <address>
            C/ del Mare de Deu del Pilar, 15 principal, 
            08003 Barcelona<br>
            {{#if isEs}}<strong>Estación de Metro</strong>:{{/if}}{{#if isCat}}<strong>Estació de Metro</strong>:{{/if}}{{#if isEn}}<strong>Metro</strong>: {{/if}}
            Urquinaona (<strong>L1</strong>, <strong>L4</strong>)
          </address>
        </div>
        <div class='col-xs-12 col-sm-4'>
          <h4>Teléfonos:</h4>
          <address>
          93 295 57 93 /
          629 577 430
          </address>  
        </div>
        <div class='col-xs-12 col-sm-4'>
          <h4>E-mail:</h4>
          <address>info@babelpuntodeencuentro.org</address>
        </div>