<div id="CookieAlert" class="CookieAlert column large-12" style="visibility:hidden">
  <div class="Container row large-12">
    <div class="CookieAlert-content column large-12" >
      <div>Utilizamos cookies para poder darte un mejor servicio. Continua
        usando nuestro website si estas de acuerdo con ello, o sabe mas sobre
        como <a class="" href="/es/cookies">usamos cookies</a>.
        <div onclick="acceptCookies()" class="button">
          Continuar
        </div>
      </div>

    </div>
  </div>
</div>
