      <div class='jumbotron'>{{#if isEs}}
        <a href="/es/">{{/if}}{{#if isCat}}<a href="/cat/">{{/if}}{{#if isEn}}<a href="/en/">{{/if}}
            <img class='hidden-xs hidden-sm visible-md-block visible-lg-block' src='/assets/logo-bw-inverted.png'  width="15%">
            <img class='visible-sm-block ' src='/assets/logo-bw-inverted.png'  width="35%">
            <img class='visible-xs-block ' src='/assets/logo-bw-inverted.png'  width="45%">
        </a>
        <h2 class='visible-md-block'>Fundación Babel Punto de Encuentro</h2>      
        <h3 class='visible-lg-block'>Fundación Babel Punto de Encuentro</h3>      
      </div>