{{#if isCat}}
<title>Error</title>
<div>Error</div>
{{/if}}

{{#if isEn}}
<title>Error</title>
<div> Page not found </div>
{{/if}}


{{#if isEs}}
<title>Error</title>
<div> pagina no encontrada </div>
{{/if}}
