<footer class="row expanded base-footer">
  <div class="">
    <div class="column large-3">
    {{> common/contact_front_page}}
    </div>
    <div class="column large-9">
      <div class="column large-12 main-sponsors">
        <p class='sponsors-title'>Colaboradores</p>
      </div>
      <div class='column'>
        <div class="roxw coluxmn large-12 main-sponsors">
          <div class="main-sponsors-item column small-6 medium-3 large-3">
            <a href='https://obrasocial.lacaixa.es/'  target='_blank' rel='noopener'><img id="logo-la-caixa" class='img-responsive' alt="Obra Social La Caixa" src=/assets/sponsors-logo-la-caixa.png></a>
          </div>
          <div class="main-sponsors-item column small-6 medium-3 large-3">
            <a href='http://ajuntament.barcelona.cat/ca/' target='_blank' rel='noopener'><img class='img-responsive' alt="Ajuntament de Barcelona" src=/assets/sponsors-logo-ajuntament-bcn.png></a>
          </div>
          <div class="main-sponsors-item column small-6 medium-3 large-3">
            <a href='http://benestar.gencat.cat/ca/'  target='_blank' rel='noopener'><img class='img-responsive' alt="Departament de Treball - Generalitat de Catalunya" src=/assets/sponsors-logo-gen-cat-departament-benestar.png></a>
          </div>
          <div class="main-sponsors-item column small-6 medium-3 large-3">
            <a href='http://www.diba.cat/' target='_blank' rel='noopener'><img class='img-responsive' alt="Diputació de Barcelona" src=/assets/sponsors-logo-diputacio-barcelona.png></a>
          </div>

        </div>
      </div>
      <div class="column large-12">
        <hr>
      </div>
      <div class='column large-12 secondary-sponsors'>
        <div class="row column large-12">
          <div class="column small-4 medium-3 large-2">
            <div class="secondary-sponsors-item">
              <a href='http://www.catnova.es/'  target='_blank' rel='noopener'><img class='img-responsive' alt="Catnova" src=/assets/sponsors-cat-nova.png></a>
            </div>
          </div>
          <div class="column small-4 medium-3 large-2">
            <div class="secondary-sponsors-item">
              <a href='http://www.pixtin.es/' target='_blank' rel='noopener'><img class='img-responsive' alt="Pixtin" src=/assets/sponsors-pixtin.png></a>
            </div>
          </div>
          <div class="column small-4 medium-3 large-2">
            <div class="secondary-sponsors-item">
              <a href='http://www.gmedina.es/' target='_blank' rel='noopener'><img class='img-responsive' alt="Gerardo Medina  " src=/assets/sponsors-gerardo-medina.png></a>
            </div>
          </div>
          <div class="column small-4 medium-3 large-2">
            <div class="secondary-sponsors-item">
              <a href='http://www.xarxa-antirumors.barcelona' target='_blank' rel='noopener'><img class='img-responsive' alt="La xarxa antirumors" src=/assets/sponsors-logo-xarxa-antirumors.png></a>
            </div>
          </div>
          <div class="column small-4 medium-3 large-2">
            <div class="secondary-sponsors-item">
              <a href='http://www.catnova.es/red-lazos/'  target='_blank' rel='noopener'><img class='img-responsive' alt="Red Lazos" src=/assets/sponsors-red-lazos.png></a>
            </div>
          </div>
          <div class="column small-4 medium-3 large-2">
            <div class="secondary-sponsors-item">
              <a href='http://www.ideaprint.es/' target='_blank' rel='noopener'><img class='img-responsive' alt="IdeaPrint" src=/assets/sponsors-idea-print.png></a>
            </div>
          </div>
          <div class="column small-4 medium-3 large-2">
            <div class="secondary-sponsors-item">
              <a href='http://www.virolai.com/' target='_blank' rel='noopener'><img class='img-responsive' alt="Escola Virolai" src=/assets/sponsors-virolai.png></a>
            </div>
          </div>
          <div class="column small-4 medium-3 large-2">
            <div class="secondary-sponsors-item">
              <a href='http://www.fedelatina.org/' target='_blank' rel='noopener'><img class='img-responsive' alt="Fedelatina" src=/assets/sponsors-fedelatina.png></a>
            </div>
          </div>
          <div class="column small-4 medium-3 large-2">
            <div class="secondary-sponsors-item">
              <a href='http://roviralta.org/' target='_blank' rel='noopener'><img class='img-responsive' alt="Fundacion Roviralta" src=/assets/sponsors-roviralta.png></a>
            </div>
          </div>
          <div class="column small-4 medium-3 large-2">
            <div class="secondary-sponsors-item">
              <a href='https://www.traveltuition.com/' target='_blank' rel='noopener'><img class='img-responsive' alt="Travel & Tuition" src=/assets/sponsors-travel-tuition.png></a>
            </div>
          </div>
          <div class="column small-4 medium-3 large-2">
            <div class="secondary-sponsors-item">
              <a href='#' target='_blank' rel='noopener'><img class='img-responsive' alt="Nicolau Barré" src=/assets/sponsors-nicolau-barre.png></a>
            </div>
          </div>
          <div class="column small-4 medium-3 large-2">
            <div class="secondary-sponsors-item">
              <a href='https://entradium.com/' target='_blank' rel='noopener'><img class='img-responsive' alt="Entradium" src=/assets/sponsors-entradium.png></a>
            </div>
          </div>
          <div class="column small-4 medium-3 large-2">
            <div class="secondary-sponsors-item">
              <a href='https://reutilitza.upc.edu/ca' target='_blank' rel='noopener'><img class='img-responsive' alt="Entradium" src=/assets/sponsors-logo-reutilitza-upc.png></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright column large-12 wxrap rxow">
    <a href="/">Copyright © 2012-2018, BPDE - Fundación Babel Punto de Encuentro</a>
  </div>
</footer>
