<ul>
  {{#if isEs}}
    <li><a href="/content/cat/">CAT</a></li>
    <li><a href="/content/en/">EN</a></li>        
  {{/if}}
  {{#if isCat}}
    <li><a href="/content/en/">EN</a></li>
    <li><a href="/content/es/">ES</a></li>        
  {{/if}}
  {{#if isEn}}
    <li><a href="/content/cat/">CAT</a></li>
    <li><a href="/content/es/">ES</a></li>        
  {{/if}}
</ul>