<div>
  {{#if isEs}}
    <div><a href="/content/cat/">CAT</a></div>
    <div><a href="/content/en/">EN</a></div>        
  {{/if}}
  {{#if isCat}}
    <div><a href="/content/en/">EN</a></div>
    <div><a href="/content/es/">ES</a></div>        
  {{/if}}
  {{#if isEn}}
    <div><a href="/content/cat/">CAT</a></div>
    <div><a href="/content/es/">ES</a></div>        
  {{/if}}
</div>