<header>
  <div class="row expanded">
    <div class="large-12 column language-bar">
      <a href="https://www.facebook.com/babelpde/" target="_blank" rel="noopener">
        <img alt="facebook logo" src=/assets/facebook.svg>
      </a>
      <a href="https://twitter.com/babelpde" target="_blank" rel="noopener">
        <img alt="twitter logo" src=/assets/twitter.svg>
      </a>
      <a href="/es/contacto"> CONTACTA </a> / <a href="/es/noticias">NOTICIAS</a>
    </div>
  </div>
</header>
