<div class="small-12 row menu-bar">
  <div class="small-12 large-3 column logo">
    <a href="/">
      <img class='main-logo img-responsive' alt="Fundación Babel Punto de Encuentro logo" src=/assets/logo-bpde.svg>
    </a>
  </div>
  <div class="small-12 large-9 column" role="navigation">
    {{> common/navigation_bar}}
  </div>
</div>
