  <div class="project-menu-donation column large-12">
    <div class="small-12 medium-12 large-3 column">
      <a class="button " href="/es/dona">DONA</a>
    </div>
    <div class="small-12 medium-12 large-3 column">
      <a class="button " href="/assets/form-socio-babel.pdf" target="_blank" rel="noopener">HAZTE SOCIO</a>
    </div>
    <div class="small-12 medium-12 large-3 column">
      <a class="button  button-inverse" href="/es/voluntariado/">OTRAS FORMAS DE ACTUAR</a>
    </div>
    <div class="small-12 medium-12 large-3 column">
    </div>
  </div>
