<div class="column">
  <a class="button " href="/es/dona">DONA</a>
</div>
<div class="column">
  <a class="button " href="/assets/formulario-socio-bpde.pdf" target="_blank">HAZTE SOCIO</a>
</div>
<div class="column">
  <a class="button  button-inverse" href="/es/voluntariado/">OTRAS FORMAS DE ACTUAR</a>
</div>
