          <div class='col-xs-12 col-md-4'>
            <div class='col-xs-12  col-md-offset-4 col-md-7'>
                <hr>
                <h4>
                  {{#if isEs}} Visita-nos en:{{/if}}
                  {{#if isCat}} Conecta amb nosaltres:{{/if}}
                  {{#if isEn}} Visit us at:{{/if}}
                </h4>
                <ul>
                  <li><a href='https://www.facebook.com/babelpde' target='_blank'>Facebook</a></li>
                  <li><a href='https://twitter.com/fundacion_babel' target='_blank'>Twitter</a></li>
                </ul>
          		<hr>
            </div>
            <div class='col-xs-12  col-md-offset-4 col-md-8'>
              <h4><a href="https://babelpuntodeencuentro.wordpress.com/" target='_blank'>
                {{#if isEs}} El Blog de Joseline:{{/if}}
                {{#if isCat}} El Blog de la Joseline:{{/if}}
                {{#if isEn}} Joseline's Blog :{{/if}}
                Le Source du Bonheur</a></h4>
                <hr>
                
            </div>
            {{#if locals.is_desktop}}
            <div class='col-xs-12 col-md-offset-4 col-md-2'>
              {{#if is_mi_grano_de_arena}}
              <iframe allowtransparency="true" frameborder="0" height="430" scrolling="no" src="http://www.migranodearena.org/widget.php?q=aWRtPTEmY3JldG89NTY0OA==" width="250">No iframes supported</iframe>
              {{/if}}
            {{else}}
            <div class='col-xs-12 col-md-offset-4 col-md-8'>  
              <div>
                <h4>
                  <a href="http://www.migranodearena.org/es/reto/5648/compra-un-ladrillo-solidario/" target='_blank'>Compra un ladrillo solidario!</a>
                </h4>
                <div>
                  Colabora con la construcción de la casa de acogida <a href="http://www.migranodearena.org/es/reto/5648/compra-un-ladrillo-solidario/" target='_blank'>Le Source du Bonheur</a>, en Senegal.
                </div>
                <hr>
              </div>
              {{/if}}
            </div>
          </div>
          
          <div class='col-xs-12 col-md-4'>
           
              
          </div>
        </div>