<div class="small-12 medium-12 large-3 column side-menu-donation">
  <a class="button" href="/es/dona"> <img alt="dona" src="/assets/like.svg"> DONA</a>
  <a class="button" href="/assets/formulario-socio-bpde.pdf" target="_blank" rel="noopener"> <img alt="hazte socio" src="/assets/plus.svg"> HAZTE SOCIO</a>
  <a class="button  button-inverse" href="/es/voluntariado/">OTRAS FORMAS DE ACTUAR</a>
  <a class="button" href="/es/newsletter">SUBSCRIBIRSE A LA NEWSLETTER</a>
</div>
