<div class="large-3 columns side-menu-donation">
  <a class="button " href="#">DONA </a>
  <a class="button " href="#">HAZTE SOCIO</a>
  <a class="button button-inverse " href="#">OTRAS FORMAS DE ACTUAR</a>
</div>