<div class='large-12 columns secondary-sponsors'>
  <div class="secondary-sponsors-line">
    <a href='http://www.atrapalosocial.com/'  target='_blank'><img class='img-responsive' src=/assets/sponsors-atrapalo.png></a>
    <a href='http://www.catnova.es/'  target='_blank'><img class='img-responsive' src=/assets/sponsors-cat-nova.png></a>
    <a href='http://www.pixtin.es/' target='_blank'><img class='img-responsive' src=/assets/sponsors-pixtin.png></a>
    <!-- <a href='http://etfsantpau.com/' target='_blank'><img class='img-responsive' src=/assets/sponsors-terapia.png></a> -->
    <!-- <a href='https://www.linkedin.com/pub/gr%C3%A0fiques-celler-s-a/37/453/798' target='_blank'><img class='img-responsive' src=/assets/sponsors-celler.png></a> -->
    <a href='http://www.gmedina.es/' target='_blank'><img class='img-responsive' src=/assets/sponsors-gerardo-medina.png></a>
    <a href='http://www.ceesc.cat/' target='_blank'><img class='img-responsive' src=/assets/sponsors-ceesc.jpg></a>
    <a href='http://interculturalitat.bcn.cat/bcnacciointercultural/ca/la-xarxa-antirumors' target='_blank'><img id='anti-rumors' class='img-responsive' src=/assets/sponsors-xarxa-anti-rumors.png></a>

  </div>
  <div class="secondary-sponsors-line">

    <a href='http://www.catnova.es/red-lazos/'  target='_blank'><img class='img-responsive' src=/assets/sponsors-red-lazos.png></a>
    <a href='http://www.ideaprint.es/' target='_blank'><img class='img-responsive' src=/assets/sponsors-idea-print.png></a>
    <a href='http://www.virolai.com/' target='_blank'><img class='img-responsive' src=/assets/sponsors-virolai.png></a>
    <a href='http://www.fedelatina.org/' target='_blank'><img class='img-responsive' src=/assets/sponsors-fedelatina.png></a>
    <!-- <a href='https://asociacionalterbcn.wordpress.com'  target='_blank'><img class='img-responsive' src=/assets/sponsors-alter-bcn.png></a> -->
    <a href='http://roviralta.org/' target='_blank'><img class='img-responsive' src=/assets/sponsors-roviralta.png></a>
    <a href='http://www.escoltesiguies.cat/' target='_blank'><img class='img-responsive' src=/assets/sponsors-meg-cat.png></a>

  </div>
</div>
