<div class='main-sponsors'>
  <h3 class=''>{{#if isEs }} Colaboradores {{/if}}{{#if isEn }} With the support of {{/if}}{{#if isCat }} Amb el suport de{{/if}}</h3>

  <a href='https://obrasocial.lacaixa.es/' width="80%" height="80%" target='_blank'><img class='img-responsive' src=/assets/sponsors-logo-vector-obra-social-la-caixa.png></a>

  <a href='http://ajuntament.barcelona.cat/ca/' width="80%" height="80%" target='_blank'><img class='img-responsive' src=/assets/sponsors-logo-ajuntament-bcn.png></a>

  <a href='http://www.diba.cat/' width="80%" height="80%" target='_blank'><img class='img-responsive' src=/assets/sponsors-logo-diputacio-barcelona.png></a>

  <a href='http://benestar.gencat.cat/ca/' width="80%" height="80%" target='_blank'><img class='img-responsive' src=/assets/sponsors-logo-gen-cat-departament-benestar.png></a>

</div>
