      <div>
        <div class='large-5 columns margin-left'>
          {{> common/contact_front_page}}
        </div>
        <div class="v-separator"></div>        
        <div class="large-7 sponsors columns margin-right">
          <div>
            {{> common/sponsors-main}}
            <hr>
            {{> common/sponsors_others}}
          </div>
          
        </div>
      </div>