<div>
  <div>
    <div>
      {{#if isEs }} Con el soporte de: {{/if}}
      {{#if isEn }} With the support of: {{/if}}
      {{#if isCat }} Amb el suport de: {{/if}}
    </div>
    <img src=/assets/sponsors-1.png>
  </div>
  <div>
    <div>
      {{#if isEs }} Con la colaboración de: {{/if}}
      {{#if isEn }} With the collaboration of: {{/if}}
      {{#if isCat }} Amb la col·laboració de: {{/if}}
    </div>
    <img src=/assets/sponsors-2.png>
  </div>
</div>