<div class='col-12'>
  <hr>
  
  <h3>{{#if isEs }} Con el soporte de: {{/if}}{{#if isEn }} With the support of: {{/if}}{{#if isCat }} Amb el suport de: {{/if}}</h3>
  
  <div class='col-md-2'>
    <a href='https://obrasocial.lacaixa.es/' target='_blank'><img class='img-responsive' src=/assets/logo-vector-obra-social-la-caixa.jpg></a>
  </div>
  <div class='col-md-2'>
    
    <a href='http://ajuntament.barcelona.cat/ca/' target='_blank'><img class='img-responsive' src=/assets/logo-ajuntament-bcn.png></a>
  </div>
  <div class='col-md-2'>
    <a href='http://www.diba.cat/' target='_blank'><img class='img-responsive' src=/assets/logo-diputacio-barcelona.png></a>
  </div>
  <div class='col-md-3'>
    
    <a href='http://benestar.gencat.cat/ca/' target='_blank'><img class='img-responsive' src=/assets/logo-gen-cat-departament-benestar.jpg></a>
  </div>
  <div class='col-md-3'>
    <a href='http://www.tscat.cat/' target='_blank'><img class='img-responsive' width="70%" height="70%" src=/assets/logo-collegi-treball-cat.png></a>
  </div>
</div>