<div class='sponsors-others col-12'>
  <h4 class='col-md-offset-1'>{{#if isEs }} Con la colaboración de: {{/if}}{{#if isEn }} With the collaboration of: {{/if}}{{#if isCat }} Amb la col·laboració de: {{/if}}</h4>
  <div class='col-md-offset-2 col-md-2'>
    <a href='http://www.catnova.es/'  target='_blank'><img width="66%" height="66%" class='img-responsive' src=/assets/cat-nova.png></a>
  </div>
  <div class='col-md-1'>
    <a href='http://www.pixtin.es/' target='_blank'><img width="100%" height="100%" class='img-responsive' src=/assets/pixtin.png></a>
    <a href='http://www.ideaprint.es/' target='_blank'><img width="100%" height="100%" class='img-responsive' src=/assets/idea-print.png></a>
  </div>
  <div class='col-md-1'>
    <a href='http://etfsantpau.com/' target='_blank'><img  width="100%" height="100%" class='img-responsive' src=/assets/terapia.png></a>
    <a href='http://www.virolai.com/' target='_blank'><img  width="100%" height="100%"  class='img-responsive' src=/assets/virolai.png></a>
  </div>
  <div class='col-md-2'>
    <a href='https://www.linkedin.com/pub/gr%C3%A0fiques-celler-s-a/37/453/798' width="80%" height="80%" target='_blank'><img class='img-responsive' src=/assets/celler.png></a>
    <a href='http://www.fedelatina.org/' width="80%" height="80%" target='_blank'><img class='img-responsive' src=/assets/fedelatina.png></a>
  </div>
  <div class='col-md-2'>
    <a href='http://www.gmedina.es/'  target='_blank'><img width="80%" height="80%" class='img-responsive' src=/assets/gerardo-medina.png></a>
    <a href='https://asociacionalterbcn.wordpress.com'  target='_blank'><img width="100%" height="100%" class='img-responsive' src=/assets/alter-bcn.png></a>
  </div>
  <div class='col-md-1'>
    <a href='http://interculturalitat.bcn.cat/bcnacciointercultural/ca/la-xarxa-antirumors' target='_blank'><img width="100%" height="100%" class='img-responsive' src=/assets/xarxa-anti-rumors.png></a>
    <a href='http://www.globalhumancon.com/' target='_blank'><img width="100%" height="100%" class='img-responsive' src=/assets/ghc.png></a>
  </div>
</div>


