@media screen and (min-width: 800px) {
/*    // this css will only be used when the screen size is min 800px*/
  .lateral-padding-100 {
      /* margin: auto; */
      /* padding: 0px 100px 0px 100px; */
      max-width: 1261px;

    }
  .lateral-padding {
        margin: auto;
        /* padding: 0px 0px 0px 100px; */
        max-width: 1261px;

  }
}
