html {
  margin: 0px 0px 0px 0px;
}

body {
  font-family: 'Roboto', sans-serif;
}

header {
  padding: 0 0 4em;
}


.menu  {
  border: 0px;
  font-weight: bold;
  font-size: 18px;
  
/*  background:#E05113;*/
} 

.sub-menu li {
    background:#E05113;
  
}


.menu a{
  color:#E05113;
  
}
.sub-menu a {
 color:white;
  
}

/*remove arrow from menu*/
.dropdown.menu > li.is-dropdown-submenu-parent > a::after {
  border-width: 0px;
  
}

.main-logo {
  max-height: 40px;
}

h3 {
  color: #E05113;
  font-size: 36px;
}

h4 {
  font-weight: bold;
  font-size: 21px;
  color: #4C4C4C;
}

h5 {
  font-weight: bold;
  font-size: 16px;
  color: #4C4C4C;  
}

.patronato h5 {
  color: #E05113;
}

/*patronato*/
div.img-div{
    height:150px;
    width:150px;
    overflow:hidden;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,1);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,1);
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,1);
    
/*    border-radius:100%;*/
}

.patronato img {
  float: left;
  display: block;
  filter: grayscale(100%);
  
/*  max-width: 150px;*/
/*  max-height: 150px;*/
/*  overflow:hidden;*/
}
.patronato .element {
/*  margin: 20px 20px 0 0;*/
/*  border: 5px solid #333;*/
  overflow: auto
  
}
.patronato .element div.img-div{

float: left;


}
.patronato .element div.img-div img{

  display: block

}

.patronato .element .description{
  margin-left: 160px
  
}

.project-list {
  height:400px;
  
}
.project-list img {
  height:200px;
  width: 300px;
}
.project-list h6 {
  font-size: 18px;
  font-weight: bold;
}

.project-list .description {
  font-size: 14px;
}

.project-list .location {
  font-size: 14px;
  color: #E05113;
  
}


.underline-title {
  font-weight: bold;
  color: #4C4C4C;
}

.underline-title:after {
    background-color: #E05113;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: bottom;
    width: 100%;
}
.underline-title:after {
/*    left: 1em;*/
    margin-right: 0%;
}

.interactive-area {
  padding: 0 60px 0 60px;  
}

.splash-zone {
  padding: 0 0 60px 0;  
}

.splash-full-image {
  height: 400px;
  overflow: hidden;
  
}

#splash-estrutura {
  transform:translateY(-33.5%);
  
}


.summaries {
  font-size: 16px;
}

.menu-bar {
  padding: 0 0 0px 0;
  margin: 0px 0px -20px 0px;
  
}

.language-bar {
  padding: 8px 4em 8px 0px;
  margin: 0px 0px 20px 0px;
  top: 0;
  text-align: right;
  font-size: 14px;
  position: relative;
  color: #808080;
  background-color: #E0E0E0;
}

.language-bar img {
  width: 24px;
  height: auto;
  opacity: 0.4;
}

.sponsor-tab-footer {
  margin-top: 80px;
/*  margin-bottom: 40px;*/
  padding: 0 0 40px 0;
  position: relative;
  color: #808080;
  background-color: #E0E0E0;
/*  max-height: 300px;
*/}

.inner-sponsor-tab-footer{
  padding:1em;
}

.contact address {
  
  padding: 0em 0em;
  font-size: 18px;
  color: #E05113;
  margin: 20px 0em 20px ;
}

.contact #phones {
  font-weight: bold;
}

.contact img  {
  width: 24px;
/*  height: auto;*/
  opacity: 0.4;
  color: #E05113;
  
/*  transform: translateY(-5%);*/

}

.address1 address {
/*  padding:0em 3em;*/
  font-size: 16px;
  color: #4D4D4D;
  
  margin: 0 0em 1em ;
}
.contact .contact-social-icons {
  vertical-align:top;
  
}

.contact-social-buttons {
  padding: 0 60px 0 60px;
  
}

.contact .contact-social-icons .contact-social-icon {
  
  height: 30px;
  text-align: left;
  
}

#twitter-contact {
  width: 24px;
  fill: #E05113;
  
}
#facebook-contact {
  width: 24px;
/*  height: auto;*/
/*  opacity: 0.4;*/
  fill: #E05113;
  margin: -20px -3em 0em ;
  
}

.copyright {
  position: relative;
  color: #808080;
  background-color: #000000;
  
}

.copyright a {
  color: #808080;
  
}

.copyright ul {
  list-style-type: none;
}

.article-top-image {
  background-color: #000000;
  
  width: 1280px;
  height:400px;
}

.main-sponsors {
  font-size: 18px;
  color: #E05113;
  
  margin: 20px 0px 0px 0px;
  
}
.main-sponsors h3{
  font-weight: bold;
  font-size: 28px;
  margin: 0px 0px 20px 0px;
  
}
.main-sponsors img {
  height: 55px;
  opacity: 0.4;
   
}

.secondary-sponsors {
  margin: 0px 0px 0px 0px;
  height: 55px;
  opacity: 0.4;
  
}

.secondary-sponsors-line {
  margin: 30px 0px 0px 0px;
}

.secondary-sponsors-line img {
  margin: 0px 20px 0px 0px;
  
  height: 30px;
  filter: grayscale(100%);
}

.sponsor {
  margin: 0px -20px 0px 0px;
}