.menu  {
  border: 0px;
  font-weight: bold;
  font-size: 14px;
}

.menu li {
  max-width: 100%;
  max-width: 240px;
  text-align:center;
  margin: 0px;

}

/*.dropdown .menu ul {
  padding:0px;

}
*/

/* .menu .sub-menu {
 margin-left: -21rem;
} */

.menu li {
  /* min-width: 18rem; */
}

.menu .sub-menu li {
    min-width: 12rem;
    background:#E05113;
    margin:0px;
}

.menu a{
  color:#E05113;
}

.menu .sub-menu {
  /* transform:translateX(-50.5%); */

}

@media only screen and (min-width: 1024px) {
  .menu .sub-menu {
    margin-left: -18rem;
  }
}
.menu .sub-menu a {

  /* min-width: 180px; */
  /* padding: 1em; */
/*  float:left;*/
/*  min-height: 20px;*/
}
.sub-menu a {
 color:white;

}

/*remove arrow from menu*/
.dropdown.menu.large-horizontal>li.is-dropdown-submenu-parent>a:after {
  display: none;
}
