.noticias h5 {
  color: #E05113;
}

.noticias a {
  color: #E05113;
}

.news-item a {
  color: #E05113;
}

.news-title h4 {
  color: #E05113;
}
.news-title h4 a {
  color: #E05113;
}
.news-item h5 {
  color: #E05113;
}
.news-item h6 {
  font-weight: lighter;
  color: #4C4C4C;
  font-size: 10px;

}

.news-item h6 {
  margin-top: 10px;
  font-size: 14px;
  font-weight: bold;
}


.news-item img {
  display:block;
  margin:auto;
  margin-bottom: 20px;
}
/*noticias*/
.news div.news-img-div{
/*    max-height:150px;*/
/*    max-width:150px;*/
/*    overflow:hidden;*/
/*    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,1);*/
/*    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,1);*/
/*    box-shadow: 2px 2px 5px 0px rgba(0,0,0,1);*/

/*    border-radius:100%;*/
}

.noticias div.news-img-div{
    height:150px;
    width:150px;
    overflow:hidden;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,1);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,1);
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,1);
    margin-bottom:10px;

/*    border-radius:100%;*/
}
.noticias div.news-img-div .img-responsive {
  margin-bottom:100px;
}

.noticias img {
  float: left;
/*  display: block;*/
/*  filter: grayscale(100%);*/

/*  width: 350px;*/
/*  max-height: 150px;*/
  overflow:hidden;
}

.noticias .element {
/*  height: 170px;*/
/*  margin: 20px 20px 0 0;*/
/*  border: 5px solid #333;*/
/*  overflow: auto*/

}

.noticias h4 {
  margin-bottom: 10px;
}

.noticias .element div.img-div{

float: left;

}
.noticias .element div.img-div img{

/*  display: block*/

}

.noticias .element .description-photos{
  margin-left: 180px
}
.noticias .element .description-text{
  margin-left: 10px
}
