.patronato {
  padding-top: 2em;
}
.patronato-item h5 {
  color: #E05113;
}



/*patronato*/
.patronato-item div.img-div{
    height:150px;
    max-width:150px;
    overflow:hidden;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,1);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,1);
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,1);

/*    border-radius:100%;*/
}

.patronato-item img {
  float: left;
  display: block;
  filter: grayscale(100%);

/*  max-width: 150px;*/
/*  max-height: 150px;*/
/*  overflow:hidden;*/
}
.patronato-item .element {
/*  margin: 20px 20px 0 0;*/
/*  border: 5px solid #333;*/
  overflow: auto

}
.patronato-item .element div.img-div{

float: left;


}
.patronato-item .element div.img-div img{

  display: block

}

.patronato-item .element .description{
  margin-left: 160px
}

#andreu {
  height: auto;
  width: auto;
  max-width: 150px;
  transform:translate(-0%);
  margin-top: -20px;
}

#ferran-sans {
  height: auto;
  width: auto;
  max-width: 150px;
  transform:translate(-0%);

  margin-top:0;
}

#maria-teresa {
  margin-top: -70px;
  height: auto;
  width: auto;
  max-width: 250px;
/*  transform:translate(-40%);*/

}

#eila {
  margin-top: -20px;
  height: auto;
  width: auto;
  max-width: 200px;
  transform:translate(-12%);
}

#mireia {
  height: auto;
  width: auto;
  max-width: 150px;
/*  zoom: 100%;*/
/*  transform:translate(-65%);*/
/*  margin-top:-00px;*/
}

#carlos {
 height: auto;
 width: auto;
 min-width: 150px;
/* transform:translate(-60%);*/
/* margin-top:-0px;*/
}

#borja-sans {
  height: auto;
  width: auto;
  max-width: 200px;
  transform:translate(-20%);
/*  margin-top:-30px;*/
}
#ignacio-sans {
  height: auto;
  width: auto;
  max-width: 200px;
  transform:translate(-15%);
  margin-top:-20px;
}
#fernando-paniagua {
  height: auto;
  width: auto;
  max-width: 700px;
  transform:translate(-53.5%);
  margin-top:-55px;
}

#juan-ignasio-sans {
  height: auto;
  width: auto;
  max-width: 300px;
  transform:translate(-22.5%);
  margin-top:-60px;
}
