        <li><a href="/content/en/">Main</a></li>
        {{#if tumblr_on}}<li><a href="/content/en/news">News</a></li>{{/if}}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Projects <span class="caret"></span></a>
          <ul class="dropdown-menu inverse-dropdown" role="menu">
            <li><a href="/content/en/projects">Our Philosophy</a></li>
            <li><a href="/content/en/what_we_do">What we do</a></li>
            <li class="divider"></li>
            <li><a href="/content/en/immigration_social_coop"> Immigration and Social Cooperation </a></li>
            <li><a href="/content/en/international_coop">International Cooperation</a></li>
            <li class="divider"></li>
            <li><a href="/content/en/past_activities">Past Activities</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Who we are <span class="caret"></span></a>
          <ul class="dropdown-menu inverse-dropdown" role="menu">
            {{#if tumblr_on}}
            <li><a href="/content/en/foundation">The foundation</a></li>
            <li class="divider"></li>
            {{else}}      
            {{/if}}
            <li><a href="/content/en/volunteers">Volunteers</a></li>            
          </ul>
        </li>
        <li><a href="/content/en/what_can_you_do">What can you do</a></li>
        <li><a href="/content/en/contact"> Contact </a></li>