        <li><a href="/content/en/news">News</a></li>
        <li><a href="/content/en/contact"> Contact </a></li>
        <li><a href="/content/en/immigration_social_coop"> Immigration and Social Cooperation </a></li>
        <li><a href="/content/en/international_coop">International Cooperation</a></li>
        <li><a href="/content/en/past_activities">Past Activities</a></li>
        <li><a href="/content/en/projects">Projects</a></li>
        <li><a href="/content/en/volunteers">Volunteers</a></li>
        <li><a href="/content/en/what_can_you_do">What can you do</a></li>
        <li><a href="/content/en/what_we_do">What we do</a></li>
        <li><a href="/content/en/who_are_we">Who we are</a></li>

