<h3>
  <strong><a href="http://issuu.com/babelpuntodeencuentro1/docs/bpde2012">Memory of activities 2012</a></strong>
</h3>
<h3>
  <a href="http://issuu.com/babelpuntodeencuentro1/docs/memoria_cast"><strong>Memory of activities 2011</strong></a>
</h3>
<h3>
  <a href="http://issuu.com/babelpuntodeencuentro/docs/memoria10_cast"><strong>Memory of acivities 2010</strong></a>
</h3>
