<title>Projects</title>
<div>
  <div>
    <h3>Our philosophy in development cooperation:</h3>
    <div>From BPDE Foundation we understand that the actions taken by public and private actors, between countries of different income levels, have the purpose of promoting economic and social progress in the South countries, so it is more balanced and sustainable.in relation to the northern countries.</div>
    <div>Our Foundation sees development as self-development, people is not developed by others ; they,and their cultures and nations, develop themselves. Others can help, encourage, assist, facilitate, but also prevent, hinder, etc..</div>
    <div>We agree on a multidimensional concept of development, whom we can express five major dimensions:</div>
    <ul>
      <li>Peace, the foundation and prerequisite of development.</li>
      <li>The economy, its growth understood as engine of progress.</li>
      <li>The environment and the protection of sustainable ecology.</li>
      <li>Justice, as foundation of social life.</li>
      <li>Participation and democracy, understood as requirements and basis of good governance.</li>
      <li>Values, ​​as the basis of all our actions and relationships.</li>
    </ul>
    <div>
     <div>
       <img class='img-responsive' src=/assets/proyectos-1.jpg>
       <em>Despite the difficulties, find resources and strategies to arrive on time to class.</em>
     </div>
    </div>
  </div>
  <div>
    <h3>Where we intervene</h3>
    <div>
      We work in <strong>Senegal</strong>, specifically in the neighborhood of <strong>Sam Sam</strong>, located in the district of Diamaguène-SICAP Mbao <strong>Pikine</strong> city, which belongs to the region of <strong>Dakar</strong>. The permanent poverty, economic insecurity and the need to survive day to day, is the only concern of its inhabitants. The lack of education of children and youth, and high unemployment, are one of the reasons why BPDE has chosen to work there.
    </div>
    <div>
     <div><img class='img-responsive' src=/assets/proyectos-2.jpg></div>
    </div>
    <div>
      Ferran Sans, vice president of BPDE, is responsible for overseeing and managing resources, ensures transparency and good management of the organization's revenues. He belongs to the order the escolapios which is responsible for the "Association Education Solidaire" (AES), counterpart in Senegal. This association is responsible for developing field projects and providing continuity to them. This community has been working for more than 30 years for the education of children, encouraging alternative schools and youth internships in different geographical areas.
    </div>
  </div>
</div>




