<h3 class="p1">
  <span class="s1">Our philosophy in development cooperation:</span>
</h3>
<p class="p2">
  From&nbsp;BPDE&nbsp;Foundation&nbsp;we understand that&nbsp;the actions taken by&nbsp;public and private actors, between&nbsp;countries&nbsp;of&nbsp;different&nbsp;income levels,&nbsp;have the&nbsp;purpose of promoting economic and social&nbsp;progress&nbsp;in the South countries, so&nbsp;it is&nbsp;more balanced&nbsp;and sustainable.in relation to the northern countries.
</p>
<p class="p2">
  Our Foundation&nbsp;sees development&nbsp;as self-development, people is not developed by others ; they,and their cultures and&nbsp;nations, develop&nbsp;themselves.&nbsp;Others&nbsp;can help,&nbsp;encourage, assist,&nbsp;facilitate, but&nbsp;also prevent,&nbsp;hinder,&nbsp;etc..
</p>
<p class="p1">
  We agree&nbsp;on a&nbsp;multidimensional&nbsp;concept&nbsp;of development,&nbsp;whom we can&nbsp;express&nbsp;five major&nbsp;dimensions:
</p>
<ul>
  <li class="p1">
    <span class="Apple-tab-span">&nbsp;</span>Peace, the foundation&nbsp;and&nbsp;prerequisite&nbsp;of development.
  </li>
  <li class="p1">
    <span class="Apple-tab-span">&nbsp;</span>The economy,&nbsp;its growth understood as&nbsp;engine of progress.
  </li>
  <li class="p1">
    <span class="Apple-tab-span">&nbsp;</span>The environment&nbsp;and the protection&nbsp;of sustainable&nbsp;ecology.
  </li>
  <li class="p1">
    <span class="Apple-tab-span">&nbsp;</span>Justice,&nbsp;as foundation of social life.
  </li>
  <li class="p1">
    <span class="Apple-tab-span">&nbsp;</span>Participation&nbsp;and democracy, understood as&nbsp;requirements and&nbsp;basis&nbsp;of good governance.
  </li>
  <li class="p1">
    <span class="Apple-tab-span">&nbsp;</span>Values,&nbsp;​​as the basis&nbsp;of&nbsp;all our actions and&nbsp;relationships.
  </li>
</ul>
<p class="p2">
 <div><img src=/assets/proyectos-1.jpg></div>
  [[{"type":"media","view_mode":"media_original","fid":"383","attributes":{"alt":"","class":"media-image","height":"1003","typeof":"foaf:Image","width":"1510"}}]]
</p>
<address class="p2">
  Despite the difficulties, find resources and strategies to arrive on time to class.
</address>
<h3 class="p1">
  <span class="s1">Where we intervene</span>
</h3>
<p class="p1">
  We work in <strong>Senegal</strong>, specifically in the neighborhood of <strong>Sam Sam</strong>, located in the district of Diamaguène-SICAP Mbao <strong>Pikine</strong> city, which belongs to the region of <strong>Dakar</strong>. The permanent poverty, economic insecurity and the need to survive day to day, is the only concern of its inhabitants. The lack of education of children and youth, and high unemployment, are one of the reasons why BPDE has chosen to work there.
</p>
<p class="p2">
 <div><img src=/assets/proyectos-2.jpg></div>
  [[{"type":"media","view_mode":"media_original","fid":"384","attributes":{"alt":"","class":"media-image","height":"1536","typeof":"foaf:Image","width":"2048"}}]]
</p>
<p class="p2">
  Ferran Sans, vice president of BPDE, is responsible for overseeing and managing resources, ensures transparency and good management of the organization's&nbsp;revenues. He belongs to the order the escolapios which is responsible for the "Association Education Solidaire" (AES), counterpart in Senegal. This association is responsible for developing field projects and providing continuity to them. This community has been working for more than 30 years for the education of children, encouraging alternative schools and youth internships in different geographical areas.
</p>
<h2 class="p2">
  &nbsp;
</h2>
<div>
  &nbsp;
</div>
