<p>
  The foundation counts with the work of approximately 25 volunteers. We present the names of the ones that more frequently help us.
</p>
<p class="p1">
  &nbsp;
</p>
<p class="p1">
  <strong>AMAIA GUTIERREZ</strong>
</p>
<p class="p1">
  <strong>ANA MARÍA DÍQUEZ&nbsp;</strong>
</p>
<p class="p1">
  <strong>ANNA JOSCH</strong>
</p>
<p class="p1">
  <strong>ANNA LLACER</strong>
</p>
<p class="p1">
  <strong>CLAUDIA ALVAREZ</strong>
</p>
<p class="p1">
  <strong>DULCE MARÍA DEL ROCÍO&nbsp;</strong>
</p>
<p class="p1">
  <strong>EVA PÉREZ&nbsp;</strong>
</p>
<p class="p1">
  <strong>FERNANDO PANIAGUA</strong>
</p>
<p class="p1">
  <strong>GERARDO MEDINA</strong>
</p>
<p class="p1">
  <strong>INES SCHOCHER</strong>
</p>
<p class="p1">
  <strong>JOSELINA BERRAZ</strong>
</p>
<p class="p1">
  <strong>MARCELA SAN CRISTOBAL</strong>
</p>
<p class="p1">
  <strong>MARÍA DE LOURDES ROSALES&nbsp;</strong>
</p>
<p class="p1">
  <strong>MARIA FERNANDEZ&nbsp;</strong>
</p>
<p class="p1">
  <strong>MARTÍN MODONESE&nbsp;</strong>
</p>
<p class="p1">
  <strong>SILVANA RECCIO</strong>
</p>
<p class="p1">
  <strong>TIAGO MIGUEL FERNANDES</strong>
</p>
