<h2 style="margin-bottom: 0cm; margin-left: 40px; text-align: center;">
  <u><strong><font face="Verdana, sans-serif"><font size="2">Volunteer</font></font></strong></u>
</h2>
<p style="margin-left: 40px; margin-bottom: 0cm; text-align: center;">
  <font face="Verdana, sans-serif"><font size="2">Volunteers are crucial to all non-profit organizations, if you have a skill or some extra time that you would be willing to share with us, please fill out th</font></font><font face="Verdana, sans-serif"><font size="2">e form below so that we can get in touch with you.</font></font>
</p>
<p style="margin-left: 40px; margin-bottom: 0cm; text-align: center;">
  <font face="Verdana, sans-serif"><font size="2">We have recently put in place a new plan of training, communication, and volunteer participation in order t</font></font><font face="Verdana, sans-serif"><font size="2">o</font></font> <font face="Verdana, sans-serif"><font size="2">consolidate the goals that we are running after and to take advantage of all of the resources available to small non-profit organizations.</font></font>
</p>
<h2 style="margin-left: 1.27cm; margin-bottom: 0cm; text-align: center;">
  [[{"type":"media","view_mode":"media_original","fid":"468","attributes":{"alt":"","class":"media-image","height":"300","typeof":"foaf:Image","width":"400"}}]]
</h2>
<h3 style="text-align: center;">
  Form for International Volunteers:
</h3>
<h2 style="text-align: center;">
  [[{"type":"media","view_mode":"media_original","fid":"456","attributes":{"alt":"","class":"media-image","height":"64","typeof":"foaf:Image","width":"64"}}]]
</h2>
<hr>
<h2 style="text-align: center;">
  <u><strong><font face="Verdana, sans-serif"><font size="2">Connect</font></font></strong></u>
</h2>
<p style="margin-left: 40px; margin-bottom: 0cm; text-align: center;">
  <font face="Verdana, sans-serif"><font size="2">Finally, you can connect with us on Facebook or Twitter or enter your contact information below to begin receiving our newsletter.</font></font>
</p>
<h2 style="margin-left: 1.27cm; margin-bottom: 0cm; text-align: center;">
  [[{"type":"media","view_mode":"media_original","fid":"470","attributes":{"alt":"","class":"media-image","height":"300","typeof":"foaf:Image","width":"400"}}]]
</h2>
<p>
  &nbsp;
</p>
<hr>
<h2 style="margin-bottom: 0cm; margin-left: 40px; text-align: center;">
  <u><font face="Verdana, sans-serif"><font size="2"><strong>Donate</strong></font></font></u>
</h2>
<p style="margin-left: 40px; margin-bottom: 0cm; text-align: center;">
  <font face="Verdana, sans-serif"><font size="2">We rely on our faithful donors, if you would like to make a gift to Fundación Babel</font></font> please follow the link below.
</p>
<h2 style="text-align: center;">
  [[{"type":"media","view_mode":"media_original","fid":"469","attributes":{"alt":"","class":"media-image","height":"267","typeof":"foaf:Image","width":"400"}}]]
</h2>
<h3 style="text-align: center;">
  Form for Grants and Scholarships:
</h3>
<h2 style="text-align: center;">
  <a href="http://babelpuntodeencuentro.org/sites/default/files/babel_form.pdf" target="_self">[[{"type":"media","view_mode":"media_original","fid":"457","attributes":{"alt":"","class":"media-image","height":"65","style":"width: 64px; height: 65px;","typeof":"foaf:Image","width":"64"}}]]</a>
</h2>
<p>
  &nbsp;
</p>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
  <h2 style="text-align: center;">
    <input name="cmd" type="hidden" value="_s-xclick"> <input name="hosted_button_id" type="hidden" value="6YAG5ZQ27L8DA"> <input alt="PayPal – The safer, easier way to pay online." name="submit" src="https://www.paypalobjects.com/en_US/GB/i/btn/btn_donateCC_LG.gif" style="border-width: 0px; border-style: solid;" type="image"> <img alt="" border="0" height="1" src="https://www.paypalobjects.com/es_ES/i/scr/pixel.gif" width="1">
  </h2>
  <p style="text-align: center;">
    &nbsp;
  </p>
</form>
<hr>
<p style="text-align: center;">
  &nbsp;
</p>
<hr>
<p>
  &nbsp;
</p>
