  <title>What can you do</title>
  <div>
    <div>
      <h2>Volunteer</h2>
      <div>
        Volunteers are crucial to all non-profit organizations, if you have a skill or some extra time that you would be willing to share with us, please fill out the form below so that we can get in touch with you.
      </div>
      <div>
        We have recently put in place a new plan of training, communication, and volunteer participation in order to consolidate the goals that we are running after and to take advantage of all of the resources available to small non-profit organizations.
      </div>
      <div>
        <img class='img-responsive' src="/assets/what-you-can-do-1.jpg">
      </div>
    </div>
    <div>
      <h3>Form for International Volunteers:</h3>
      TODO
    </div>
    <hr>
    <div>
      <h2>Connect</h2>
      <div>
        Finally, you can connect with us on Facebook or Twitter or enter your contact information below to begin receiving our newsletter.
      </div>
      <div>
        <img class='img-responsive' src="/assets/what-you-can-do-2.jpg">
      </div>
    </div>
    <hr>
    <div>
      <h2>Donate</h2>
      <div>
        We rely on our faithful donors, if you would like to make a gift to Fundación Babel please follow the link below.
      </div>
      <div>
        <img class='img-responsive' src="/assets/what-you-can-do-3.jpg">
      </div>  
    </div>
    <div>
      <h3>Form for Grants and Scholarships:</h3>
      <div>
        <a href="http://babelpuntodeencuentro.org/sites/default/files/babel_form.pdf" target="_self">click here to download the form</a>
      </div>
    </div>
    <div>
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
          <input name="cmd" type="hidden" value="_s-xclick"> <input name="hosted_button_id" type="hidden" value="6YAG5ZQ27L8DA"> <input alt="PayPal – The safer, easier way to pay online." name="submit" src="https://www.paypalobjects.com/en_US/GB/i/btn/btn_donateCC_LG.gif" style="border-width: 0px; border-style: solid;" type="image"> <img alt="" border="0" height="1" src="https://www.paypalobjects.com/es_ES/i/scr/pixel.gif" width="1">
      </form>
    </div>
  </div>
