<title>Who are we</title>
<div>
    <ul>
      <li>An independent and non-profit foundation of solidarity, social and cultural nature.</li>
      <li>Through our education projects we encourage the development of the individual, directing him or her towards education and self-management.</li>
      <li>We work with immigrants to help them integrate without forgetting the country and their own culture.</li>
      <li>We work with transparency, austerity, and without desire to stand out.</li>
      <li>Our aim is cohabitation to be key factor for the future, progress and social stability. Our work is aimed at contributing to a stable international environment, peaceful and safe for everyone.</li>
    </ul>
    <h4>"We will be tomorrow what today we have managed”</h4>
    <div>
      <img class='img-responsive' src=/assets/quienes-somos-1.jpg>
    </div>
</div>
