<ul>
  <li class="p1">An independent and non-profit foundation of solidarity, social and cultural nature.
  </li>
  <li class="p1">Through our education projects we encourage the development of the individual, directing him or her towards education and self-management.
  </li>
  <li class="p1">We work with immigrants to help them integrate without forgetting the country and their own culture.
  </li>
  <li class="p1">We work with transparency, austerity, and without desire to stand out.
  </li>
  <li class="p1">Our aim is cohabitation to be key factor for the future, progress and social stability. Our work is aimed at contributing to a stable international environment, peaceful and safe for everyone.
  </li>
</ul>
<h3 class="p1">
  <strong><span style="font-size: 12px;">"We will be tomorrow what today we have managed”</span></strong>
</h3>
<h3 class="p1">
  [[{"type":"media","view_mode":"media_original","fid":"390","attributes":{"alt":"","class":"media-image","height":"1365","typeof":"foaf:Image","width":"2048"}}]]
</h3>
<h3 class="p1">
  &nbsp;
</h3>
